@import '../../../styles/common/constants.scss';

.sign{
  &__wrapper{
    margin: 0px auto; 
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  &__img-wrapper{
    height: 702px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/img/jpg/registration.jpg');
    object-fit: cover;
  }
  &__img-wrapper .sign-in{
    margin: 172px auto;
  }
  .sign__content{
    flex: 1 0 auto;
  }
  .sign footer{
    flex: 0 0 auto;
  }
}
@media (max-width:$container-mobile-width){
  .sign__wrapper{
    max-width: none;
    max-height: none;
  }
  .sign__img-wrapper .sign-in{
    margin: 20px auto;
  }
}