extends ../../ui-kit/modules/template.pug

block variables
  - var pageTitle = 'Sign-in page'

block content

  include ../../ui-kit/modules/sign-in/sign-in.pug

  body.sign.sign__wrapper
    div.sign__img-wrapper
      +signin({action:'#'})