.dropdown_filter {
  width: 266px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.dropdown_filter-date .dropdown__input-wrapper {
  width: 150px;
}

.dropdown_date,
.dropdown_filter-date {
  width: 150px;
}

.dropdown_filter-date {
  display: flex;
  flex-direction: row;
  width: 320px;
  justify-content: space-between;
}

.dropdown_date .dropdown__input,
.dropdown_filter-date .dropdown__input {
  width: 106px;
}

.dropdown_filter-date .dropdown__input-wrapper {
  width: 150px;
  border: 1px solid $darkShade25;
  border-radius: 4px;
}

.dropdown_filter .dropdown__input {
  width: 150px;
}

.dropdown_filter {
  width: 266px;
}

.datepicker--day-name {
  font-family: $font-family-main, $fallback-font;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $purple;
  height: 40px;
  width: 40px;
}

.datepicker--cell-day {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $darkShade50;
  width: 14.28571%;
  height: 40px;
}

.-other-month- {
  font-family: $font-family-main, $fallback-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $darkShade25;
}

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-weekend- {
  color: $white;
  background: $selectedDate;
  border-radius: 50%;
}

.datepicker--cell.-focus- {
  border-radius: 50%;
}

.datepicker--cell.-current- {
  color: $darkShade50;
}

.datepicker {
  background: $white;
  font-family: $font-family-main, $fallback-font;
  border: 1px solid $darkShade25;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px $darkShade5;
  border-radius: 4px;
  width: 320px;

  &--content {
    padding: 0px;
    width: 280px;
    margin: 0 19.94px 20.44px 20.94px;
  }

  &--nav-action {
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 24px;
    height: 24px;
    color: $purple;
    margin: 0 17px;
  }

  &--nav {
    border-bottom: none;
    margin-top: 15px;
  }

  &--nav-title {
    font-family: $font-family-additionalRussianReplacer, $fallback-font;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: $darkShade100;
  }
  &--nav-title i {
    color: $darkShade100;
  }

  &--buttons {
    border-top: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    font-family: $font-family-main, $fallback-font;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &--buttons span:first-child {
    padding-left: 20px;
    color: $purple;
  }

  &--buttons span:nth-child(2) {
    padding-right: 20px;
    padding-left: 110px;
    color: $purple;
  }

  &--button {
    display: block;
  }

  &--pointer {
    display: none;
  }

}

.datepicker--cell.-range-from-,
.datepicker--cell.-range-to-,
.datepicker--cell.-selected-.-range-to- {
  background: $purple;
  opacity: 1;
}

.datepicker--cell.-focus- {
  border-radius: 50%;
}

.datepicker--cell.-range-from-.-focus- {
  background: $selectedDate;
  opacity: 1;
}

.datepicker--cell.-range-from-.-selected-::after {
  content: "";
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 20px;
  background: $purple;
  opacity: 0.25;
}

.datepicker--cell.-range-from-.-selected-.-focus-::after {
  content: "";
  width: 0px;
  height: 40px;
}

.datepicker--cell.-range-to-.-focus-::before {
  content: "";
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: $purple;
  opacity: 0.25;
}

.datepicker--cell.-in-range-::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: $purple;
  opacity: 0.25;
}

.datepicker--cell.-selected-.-range-to-::before {
  content: "";
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: $purple;
  opacity: 0.25;
}

.datepicker--days-names {
  margin-top: 27px;
  margin-bottom: 0px;
}
