include ../burger/burger.pug
include ../button/button.pug
include ../list-links/list-links.pug
include ../logo/logo-toxin.pug
mixin header-bar( {type="nav",links=[],signInLinkText="Войти",registerLinkText= "Зарегистрироваться",signInRef="sign-in-page.html",registerRef = "registration.html",userName="Юлий Цезарь",userRef = "/mock-address/change-me",isVertical=false} = {})
  header.header-bar
    .header-bar__wrapper
      .header-bar__logo
        +logo()
      +burger
      nav.header-bar__nav.js-header-nav
        +list-links({links,isVertical})
        if type==='nav'
          .header-bar__buttons.buttons-header-bar
            .buttons-header-bar__first-button
              +button({
                    label:signInLinkText,
                    variant:'link',
                    slim:true,
                    href:signInRef,
                    })
            +button({
                    label:registerLinkText,
                    variant:'link',
                    wide:true,
                    href:registerRef,
                    }) 
        else if type==='login'
          .header-bar__delimeter
          a(href=userRef class='header-bar__user')=userName
        