@import "../burger/burger.scss";
@import "../list-links/list-links.scss";
.header-bar {
  max-width: 100%;
  min-height: 70px;
  background: $white;
  box-shadow: 0px 10px 20px $darkShade5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: $font-family-main, $fallback-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 100%;

  &__wrapper {
    max-width: $container-width - 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  &__logo {
    height: 40px;
    width: 105.69px;
  }

  &__nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  &__delimeter {
    margin-right: 20px;
    height: 30px;
    width: 1px;
    background: rgba(31, 32, 65, 0.1);
  }
  &__buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__user {
    color: $darkShade50;
    font-family: $font-family-main, $fallback-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-decoration: none;
  }

}

@media (max-width: 910px) {

  .header-bar__logo,
  .header-bar__delimeter {
    display: none;
  }

}
@media (max-width: $container-mobile-width) {

  .header-bar__wrapper {
    align-items: flex-start;
    padding: 20px;
  }

  .header-bar {
    height: auto;
    min-height: auto;
  }

  .header-bar__buttons{
    flex-direction: column;
    align-items: center;
  }

  .header-bar__nav {
    display: none;
    flex-direction: column;
    width: 200px;
    justify-content: center;
  }

  .header-bar__nav.burger_is-opened {
    display: flex;
  }

  .header-bar .buttons-header-bar{
    flex-direction: column;
    align-items: center;
  }

  .buttons-header-bar__first-button{
    margin-right: 0;
    margin-bottom: 20px;
  }

}
