mixin pagination( { elems=15, total=100, rootRef='/mock-address/change-me' }={}  )
  .pagination.js-pagination
    .pagination__body.js-pagination__body(data-elems=elems data-total=total data-ref=rootRef)
    span.pagination__label.js-pagination__label