@import '../../../styles/common/constants.scss';
.details{
  &-wrapper{
    max-width: $container-width;
    margin: 0px auto; 
    font-family: $font-family-main,$fallback-font;
    font-style: normal;
    font-weight: normal;
    width: 100%;
  }
  &-header{
    margin: 0px auto;
  }
  &__room-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__room-image_big{
    max-width: 981px;
    height: 485px;
  }
  &__room-image{
    object-fit: cover;
  }
  &__room-images_right{
    display: flex;
    flex-direction: column;
  }
  &__room-image_small{
    display: flex;
    flex-direction: column;
    max-width: 461px;
    height: 485px;
    width: 100%;
  }
  &__room-image_small-top,
  &__room-image_small-bottom{
    height: 50%;
  }
  &__body h2{
    font-family: $font-family-main;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $darkShade100;
  }
  &__body{
    margin: 65px auto 63px auto;
    max-width: $container-width - 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .left-column{
    display: flex;
    flex-direction: row;
  }
  .left-column__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .left-column__header{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
  }
  .left-column__impressions{
    margin-right: 40px;
  }
  .left-column__impressions h2{
    margin-bottom: 21px;
  }
  .left-column__content{
    margin-right: 82px;
  }
  .left-column__content .bullet-list-icons{
    margin-bottom: 20px;
  }
  .left-column__content .bullet-list-icons:last-child{
    margin-bottom: 12px;
    border: none;
  }
  .left-column__comments-header{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .left-column__comments-header_number{
    font-weight: 400;
    font-size: 14px;
  }
  .details-comment_first{
    margin-bottom: 20px;
  }
  .details-comment_second{
    margin-bottom: 5px;
  }
  .left-column__rules{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .rules__text-wrapper{
    display: flex;
    flex-direction: column;
  }
  .rules__text-wrapper h2{
    margin-bottom: 15px;
    margin-left: 20px;
  }
  .rules__text-wrapper:last-child{
    margin-right: 10px;
  }
  .rules__text-wrapper:last-child h2{
    margin-left: 0px;
  }
  .rules__text-wrapper p{
    font-family: $font-family-main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $darkShade75;
    max-width: 341px;
  }
}


@media (max-width:1120px){
  .details-wrapper{
    max-width: none;
    max-height: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  .details__content{
    height: auto;
  }
  .details__room-images{
    margin: 0px auto;
  }
  .details__room-images-right{
    display: none;
  }
  .details__body{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left-column{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-column__content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left-column__impressions{
    margin-right: 0px;
  }
  .left-column__rules{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rules__text-wrapper h2{
    text-align: center;
  }
}