div(class="colors")
 .colors__left-column
  .dark-shade-100 
   p.colors__left-column_header Dark Shade 100% 
   p #1F2041
  .dark-shade-75 
   p.colors__left-column_header Dark Shade 75% 
   p #1F2041
  .dark-shade-50 
   p.colors__left-column_header Dark Shade 50%
   p #1F2041
  .dark-shade-25 
   p.colors__left-column_header Dark Shade 25%
   p #1F2041
  .dark-shade-5 
   p.colors__left-column_header Dark Shade 5%
   p #1F2041
  .purple 
   p.colors__left-column_header Purple 
   p #BC9CFF
  .green
   p.colors__left-column_header Green 
   p #6FCF97
 .colors__right-column
  .h1 
   p.header H1
   p.description This one is the sub-section or widget title
  .h2
   p.header H2 
   p.description Next one is the item title inside widgets
  .h3 
   p.header H3
   p.description This is a label or CTA text
  .body
   p.header Body
   p.description This is the body text which is used for most of the design, like paragraphs, lists, etc.