include ../button/button.pug
include ../textfield/textfield.pug
include ../toggle/toggle.pug
mixin signin(options)
 div(class='sign-in')
  div(class='sign-in__wrapper')
   form(action=options.action class='sign-in__form')
    h2='Войти'
    +textfield({isDefault:true,placeholder:'Email'})
    +textfield({isDefault:true,placeholder:'Пароль'})
    +button({label:'Войти',type:'arrow',purpose:'submit'})
    div(class='sign-in__footer')
     span(class='sign-in__account')='Нет аккаунта на Toxin?'
     +button({label:'Создать',type:'white',purpose:'submit'})
