include ../header-bar/header-bar.pug 
mixin header({ type = 'nav',links= [],} = {})
  if type==='nav'
   +header-bar({ type:'nav',links:links,}) 
  else if type==='login'
   +header-bar({ type:'login',links:links,}) 