mixin header(options)
 if options.type==='nav'
  include ./standard-nav-bar/standard-nav-bar.pug 
 else if options.type==='login'
  include ./standard-logged-in-nav-bar/standard-logged-in-nav-bar.pug 