include ../burger/burger.pug
include ../logo/logo-toxin.pug
.header-login
 .header-login__wrapper
  .header-login__logo
   +logo()
  +burger
  nav.header-login__nav
   a(class = 'header-login__nav-link' href='/mock-address/change-me' ) О нас
   a(href='/mock-address/change-me' class = 'header-login__nav-link') Услуги
   div(class='expand-more-container') keyboard_arrow_down
   a(href='/mock-address/change-me' class = 'header-login__nav-link') Вакансии
   a(href='/mock-address/change-me' class = 'header-login__nav-link') Новости
   a(href='/mock-address/change-me' class = 'header-login__nav-link') Соглашения
   div(class='expand-more-container') keyboard_arrow_down
   a(href='registration.html' class = 'header-login__nav-link login') войти
   a(href='sign-in-page.html' class = 'header-login__nav-link register') зарегистрироваться
