mixin rangeSlider(options)
  div(class='range-slider js-range-slider range-slider__wrapper')
    label(class='js-range-slider__label-wrapper range-slider__label-wrapper')
        span.range-slider__label-header=options.label
        span.range-slider__label 
    input(type='text' class='js-range-slider__input range-slider__input' value='')