mixin rangeSlider( { label='',  }={} )
  .range-slider.js-range-slider.range-slider__wrapper
    .js-range-slider__label-wrapper.range-slider__label-wrapper
        .range-slider__label-header=label
        .js-range-slider__label.range-slider__label 
    input(type='text' class='js-range-slider__input range-slider__input' value='')