mixin rangeSlider(options)
  div(class='range-slider range-slider__wrapper')
    label
      div(class='js-range-slider__label-wrapper range-slider__label-wrapper')
        p=options.label
        p 
    input(type='text' class='js-range-slider__input range-slider__input' value='')