extends ../../components/template.pug

block variables
  - let pageTitle = 'Landing page'

block content

  include ../../components/search-number/search-number.pug

  main.landing.landing-wrapper
    .landing__content
      .landing__img-wrapper
        .landing__search-wrapper
          +searchnumber({action:'#'})
        .landing__img-header
          h1='Лучшие номера для вашей работы, отдыха и просто вдохновения'