extends ../../components/template.pug

block variables
  - let pageTitle = 'Landing page'

block content

  include ../../components/search-number/search-number.pug

  main.main
    .main__content
      .main__img-wrapper
        .main__search-wrapper
          +searchnumber({action:'#'})
        .main__img-header
          h1='Лучшие номера для вашей работы, отдыха и просто вдохновения'