include diagramchart.pug
mixin diagram(options)
  .diagram
   figure.diagram-chart
    +diagramchart({number:options.number,label:options.label,segments:options.segments})
   .diagram-description
    ul
      li(class='diagram-description__list diagram-description_list-orange')='Великолепно'
      li(class='diagram-description__list diagram-description_list-green')='Хорошо'
      li(class='diagram-description__list diagram-description_list-blue')='Удовлетворительно'
      li(class='diagram-description__list diagram-description_list-black')='Разочарован'