mixin switch(options)
  div(class='switch switch__container')
    label(class='switch__label')=options.name
      if options.isPositive
        input(type='checkbox' class="switch__input" checked='checked')
        span(class='switch__slider-round')
      else
        input(type='checkbox' class="switch__input")
        span(class='switch__slider-round')  