include ../button/button.pug
include ../text-field/text-field.pug
include ../toggle/toggle.pug
mixin signin({ method='post', action='#'}={})
  form(class='sign-in' action=action method=method)
    .sign-in__wrapper
      h2(class="sign-in__header")='Войти'
      .sign-in__text-wrapper
        +textfield({isDefault:true,placeholder:'Email'})
        +textfield({isPassword:true,placeholder:'Пароль'})
      +button({label:'Войти',variant:'arrow',purpose:'submit'})
      footer(class='sign-in__footer')
        span(class='sign-in__account')='Нет аккаунта на Toxin?'
        +button({label:'Создать',variant:'link',href:'./registration.html',})
