@import '../components/text-field/text-field.scss';

.sign-in {
  max-width: 380px;
  width: 100%;
  min-height: 358px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px $boxShadow;
  border-radius: 4px;
  background: $white;
  padding: 40px 30px 32px 30px;
  
  &__wrapper {
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__text-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98px;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  &__account {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.16rem;
    line-height: 1.5rem;
    color: #000000;
  }
  
}

  @media (max-width:380px){
    .sign-in{
      padding: 40px 10px 32px 10px;
    }
  
  }

