include ../UIKit/modules/searchnumber.pug
html(lang="en")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="отель")
  include ../Favicon/favicon.pug
  title Landing page
 body.landing-wrapper
  header.header
   include ../UIKit/modules/standardNavBar.pug
  div.img__wrapper
   +searchnumber({action:'#'})
   h2.img__header='Лучшие номера для вашей работы, отдыха и просто вдохновения'
  footer.footer
   include ../UIKit/modules/footerWidget.pug
   include ../UIKit/modules/footerCopyrightBar.pug
  

 
