include ../ui-kit/modules/search-number/search-number.pug
html(lang="en")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="отель")
  include ../favicon/favicon.pug
  title Landing page
 body.landing-wrapper
  header.header
   include ../ui-kit/modules/headers/standard-nav-bar.pug
  div.img__wrapper
   +searchnumber({action:'#'})
   h1.img__header='Лучшие номера для вашей работы, отдыха и просто вдохновения'
  footer.footer
   include ../ui-kit/modules/footers/footer-widget.pug
   include ../ui-kit/modules/footers/footer-copyright-bar.pug
  

 
