include ../ui-kit/modules/sign-in/sign-in.pug
html(lang="en")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="отель страница регистрации")
  include ../favicon/favicon.pug
  title SignIn page
 body.sign-in-page__wrapper
  header.header
   include ../ui-kit/modules/headers/standard-nav-bar.pug
  div.sign-in-page__img-wrapper
   +signin({action:'#'})
  footer.footer
   include ../ui-kit/modules/footers/footer-widget.pug
   include ../ui-kit/modules/footers/footer-copyright-bar.pug
  

 