.canvas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 120px;
}
.unit {
  fill: none;
  stroke-width: 4;
}
.unit:nth-child(1) {
  stroke:  #FFE39C;
  stroke-dasharray: 182 1000;
  stroke-dashoffset: -91;
  
}
.unit:nth-child(2) {
  stroke: #6FCF97;
  stroke-dasharray: 91 1000;
  stroke-dashoffset: -273;
}
.unit:nth-child(3) {
  stroke: #BC9CFF;
  stroke-dasharray: 91 1000;

}
.unit:nth-child(4) {
  stroke: #919191;
  stroke-dasharray: 60 364;
  stroke-dashoffset: -302;

}
