@import '@/styles/common/constants.scss';
@import '@/styles/common/pages.scss';

@import '@/pages/cards/cards.scss';
@import '@/pages/form-elements/form-elements.scss';
@import '@/pages/colors/ui-kit-colors.scss';

.ui-kit-wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.headers-and-footers__footer-copy {
  margin-top: 3px;
}

