@import '../../styles/common/constants.scss';
@import '../../styles/common/pages.scss';
@import '../../components/header-ui-kit/header-ui-kit.scss';
@import '../../components/paragraph/paragraph.scss';
@import '../../components/text-field/text-field.scss';

.ui-kit-wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.headers-and-footers__footer-copy {
  margin-top: 3px;
}

