include ../../components/hotel-logo/hotel-logo.pug
include ../../components/list-links/list-links.pug
doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='description' content='Верстка в рамках 2 задания учебного курса MetaLamp')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    include ../../components/favicon/favicon.pug
    title UIKit
  body
    main.ui-kit-wrapper
      section.colors-and-types
        +hotel-logo
        include ../colors/colors.pug
      section.headers-and-footers
        +hotel-logo
        include ../headers-and-footers/headers-and-footers.pug
      section.form-elements
        include ../form-elements/form-elements.pug
      section.cards
        include ../cards/cards.pug
