@import "../../styles/common/constants.scss";

@import "../../components/header-ui-kit/header-ui-kit.scss";

html{
  font-size: $font-size;
  font-family: $font-family-main,$fallback-font;
}

.ui-kit-wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.headers-and-footers__footer-copy {
  margin-top: 3px;
}

