@import "../button-radio/button-radio.scss";
@import "../button-rich/button-rich.scss";
@import "../button-check/button-check.scss";
@import "../button-rate/button-rate.scss";
@import "../button-like/button-like.scss";
@import "../button-icon/button-icon.scss";

.button {
  border: none;
  border-radius: 22px;
  cursor: pointer;
  font-family: $font-family-main, $fallback-font;
  font-style: normal;
  height: 44px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 99px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:hover {
    background: linear-gradient(
      180deg,
      rgba(188, 156, 255, 0.5) 0%,
      rgba(139, 164, 249, 0.5) 100%
      );
  }

  &_color{

    &_white{
      position: relative;

      &::before{
        background: #ffffff;
        bottom: 2px;
        border-radius: inherit;
        content: "";
        left: 2px;
        padding: 2px;
        position: absolute;
        right: 2px;
        top: 2px;
        z-index: 1;
      }

      &:hover{
        background: linear-gradient(
        180deg,
        rgba(188, 156, 255, 0.5) 0%,
        rgba(139, 164, 249, 0.5) 100%
        );
      }

      .button__label{
        color: $purple;
        white-space: nowrap;
        position: relative;
        z-index: 2;
      }
    }

    &_transparent {
      border: none;
      background: none;
      height: 15px;
      padding: 0px;
      width: max-content;

      &:hover{
        background: none;
      }

      .button__label:hover {
        color: $darkShade50;
      }

      .button__label { 
        color: $purple;
        white-space: nowrap;
        position: relative;
        z-index: 2;
      }
    }
  }


  &_size{

    &_slim{
      width: 87px;
      height: 34px; 
    }

    &_wide{
      width: 196px;
      height: 34px;
    }
    
  }

}


