@import "../button-radio/button-radio.scss";
@import "../button-rich/button-rich.scss";
@import "../button-check/button-check.scss";
@import "../button-rate/button-rate.scss";
@import "../button-like/button-like.scss";
.button {
  border: none;
  border-radius: 22px;
  cursor: pointer;
  font-family: $font-family-main, $fallback-font;
  font-style: normal;
  height: 44px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 99px;

  &_dark,
  &_dark50 {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    color: $white;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &_dark50 {
    opacity: 0.5;
  }

  &_dark:hover {
    opacity: 0.5;
  }

  &_white,
  &_link {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 22px;
    position: relative;
  }

  &_white::before,
  &_link::before {
    background: #ffffff;
    bottom: 2px;
    border-radius: inherit;
    content: "";
    left: 2px;
    padding: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1;
  }

  &_link {
    align-items: center;
    display: flex;
    text-decoration: none;
    justify-content: center;

    &_wide {
      width: 196px;
      height: 34px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      align-items: center;
      display: flex;
      text-decoration: none;
      justify-content: center;
    }

    &_wide span {
      color: $white;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      white-space: nowrap;
    }

    &_wide:hover{
      opacity: .5;
    } 

    &_slim{
      width: 87px;
      height: 34px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;
      position: relative;
      align-items: center;
      display: flex;
      text-decoration: none;
      justify-content: center;
    }

    &_slim::before {
      background: #ffffff;
      bottom: 2px;
      border-radius: inherit;
      content: "";
      left: 2px;
      padding: 2px;
      position: absolute;
      right: 2px;
      top: 2px;
      z-index: 1;
    }

  }

  &_white50 {
    background: linear-gradient(
      180deg,
      rgba(188, 156, 255, 0.5) 0%,
      rgba(139, 164, 249, 0.5) 100%
    );
    border-radius: 22px;
    position: relative;
  }

  &_white50::before {
    border-radius: inherit;
    background: #ffffff;
    bottom: 2px;
    content: "";
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    padding: 2px;
    z-index: 1;
  }

  &_white50 span {
    color: $purple;
    opacity: 1;
    position: relative;
    z-index: 2;
  }

  &_white span,
  &_link span,
  &_link_slim span,
  &_white50 span,
  &_transparent span { 
    color: $purple;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    z-index: 2;
  }

  &_white:hover,
  &_link:hover,
  &_link_slim:hover {
    background: linear-gradient(
      180deg,
      rgba(188, 156, 255, 0.5) 0%,
      rgba(139, 164, 249, 0.5) 100%
    );
  }

  &_transparent,
  &_transparent50 {
    border: none;
    background: none;
    height: 15px;
    padding: 0px;
    width: 61px;
  }

  &_transparent50 span {
    color: $darkShade50;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
  }

  &_transparent span:hover {
    color: $darkShade50;
  }

}

.button_arrow {
  align-items: center;
  border-radius: 22px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: $white;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 12px;
  height: 44px;
  position: relative;
  justify-content: center;
  line-height: 15px;
  text-transform: uppercase;
  max-width: 320px;
  width: 100%;

  &:hover{
    opacity: .5;
  }

  .button__arrow {
    align-items: center;
    color: $white;
    display: flex;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    margin-left: auto;
  }

  .button__arrow-label {
    max-width: 246px;
    max-height: 15px;
    overflow: hidden;
    position: absolute;
  }

}
