@import "../social-networks/social-networks.scss";
.footer-creative {
  max-width: 768px;
  width: 100%;
  height: 367px;
  background: $white;
  box-shadow: 0px 10px 20px $darkShade5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;

  &__logo {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  &__logo p {
    font-family: $font-family-main, $fallback-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: $darkShade75;
    margin-top: 16px;
    padding: 0px 15px 0px 15px;
  }
  
}
