include ../logo/logo-toxin.pug
include ../social-networks/social-networks.pug
mixin footer-creative( {copyrightText='Copyright © 2018 Toxin отель. Все права зачищены.'}={})
  footer.footer-creative
    .footer-creative__logo
      +logo()
      p=copyrightText
    .footer-creative__links
      +social-networks({socialNetworks:[
        {name:'twitter',ref:'/mock-address/change-me',imagePath:require('@/components/social-networks/twitter.svg'),},
        {name:'facebook', ref:'/mock-address/change-me',imagePath:require('@/components/social-networks/facebook.svg'),}, 
        {name:'instagram', ref:'/mock-address/change-me',imagePath:require('@/components/social-networks/instagram.svg'),},
      ]})