.form-elements__left-column {
  grid-area: left;
  padding-left: 140px;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
}
.header_date-dropdown,
.header_text-field-default,
.header_text-field-hover,
.header_dropdown-default,
.header_masked-text-field,
.header_dropdown-room,
.header_dropdown-room-expanded,
.header_filter-date-dropdown,
.header_subscription-text-field{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.header_date-dropdown{
  justify-content: left;
}
.header_text-field-default,
.header_text-field-hover,
.header_dropdown-default,
.header_masked-text-field,
.header_date-dropdown,
.header_dropdown-room,
.header_dropdown-room-expanded{
  justify-content: space-between;
}
.header_text-field-default div:last-child,
.header_text-field-hover div:last-child,
.header_dropdown-default div:last-child,
.header_masked-text-field div:last-child,
.header_dropdown-room div:last-child,
.header_dropdown-room-expanded div:last-child{
  color: $darkShade50;
  font-weight: normal;
}
.header_text-field-hover,
.header_dropdown-default,
.header_dropdown-room-expanded{
  margin-top: 20px;
}
.header_masked-text-field{
  margin-top: 22px;
}
.header_date-dropdown,
.header_filter-date-dropdown{
  margin-top: 40px;
}
.header_filter-date-dropdown,
.header_subscription-text-field{
  margin-top: 41px;
}
.header_date-dropdown div:last-child{
  margin-right: 30px;
}
.header_dropdown-room{
  margin-top: 100px;
}
.header_dropdown-room,
.header_dropdown-room-expanded{
  width: 266px;
}
.form-elements__left-column-dropdown-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bullet-list-expandable_first{
  margin-top: 159px;
  margin-bottom: 18px;
}
.bullet-list-icons-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 275px;
}
.bullet-list-icons-wrapper .bullet-list-icons:first-child{
  margin-bottom: 20px;
}