.form-elements__central-column {
  grid-area: central;
  padding-left: 126px;
  padding-top: 75px;
}
.header_checkbox-buttons{
  margin-bottom: 16.56px;
}
.header_radio-buttons{
  margin-top: 40.88px;
  margin-bottom: 14px;
}
.radio-buttons-wrapper{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}
.radio-buttons-wrapper .button-radio:first-child,
.rate-buttons-wrapper .button-rate:first-child{
  margin-right: 20px;
}
.header_toggle,
.header_like-buttons,
.header_rate-buttons{
  margin-top: 40px;
  margin-bottom: 16px;
}
.like-buttons-wrapper{
  display: flex;
  flex-direction: row;
}
.like-buttons-wrapper .button-like:first-child{
  margin-right: 10px;
}
.rate-buttons-wrapper{
  display: flex;
  flex-direction: row;
}
.header_dropdown{
  margin-top: 196px;
  margin-bottom: 4px;
}
.header_rich-buttons{
  margin-top: 256px;
  margin-bottom: 16px;
}
.button-rich{
  margin-bottom: 10px;
}