.bullet-list{
  max-width: 243px;
  list-style-type: none;
  display: block;
}
.bullet-list__elem{
  font-family: $font-family-main;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $darkShade75;
  padding-left: 20.86px;
  position: relative;
  width: 253px;
}

.bullet-list__elem:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-color: $darkShade25;
  border-radius: 50%;
}

.bullet-list-expandable{
  width: 266px;
  height: 44px;
  position: relative;
}
.bullet-list-expandable__label{
font-family: $font-family-main;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-transform: uppercase;
color: $darkShade100;
display: flex;
justify-content: space-between;
text-align: center;
align-items: center;
}
.bullet-list-expandable__label span{
  display: block;
  width: 44px;
  height: 44px;
  cursor: pointer;
  font-family: $font-for-icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: $darkShade50;
}
.bullet-list-expandable__dropdown{
  position: absolute;
  top: 44px;
  left: 0px;
  display: none;
  z-index: 1;
  background-color: $white;
}
.bullet-list-expandable__dropdown-elem{
  margin-bottom: 10.56px;
}

.bullet-list_show {
  display: block;
}
.bullet-list-icons{
  height: 69px;
  width: 280px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  display: flex;
  flex-direction: row;
  &__icon{
    width: 48px;
    height: 48px;
    color: $purple;
    font-family: $font-for-icons;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px;
  }
  &__header{
    font-family: $font-family-main;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: $darkShade75;
  }
  &__text{
    font-family: $font-family-main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $darkShade50;
    padding-top: 5px;
  }
}