.diagram {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 311px;

  &__chart {
    height: 120px;
    margin-right: 45px;
    position: relative;
    width: 120px;
  }

  &-donut {
    height: 120px;
    width: 120px;
  }

  .labels-diagram {
    align-items: center;
    color: $purple;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .labels-diagram__number {
    font-size: 2rem;
  }

  .labels-diagram__label {
    font-size: 1.16rem;
    line-height: 1.25rem;
  }

  &__description {
    position: absolute;
    height: 96px;
    left: 165px;
    top: 28px;
    width: 146px;
  }

  &__description-item {
    color: $darkShade75;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.16rem;
    line-height: 2rem;
    list-style-type: none;
    position: relative;
  }

  &__description-item::before {
    border-radius: 50%;
    content: '';
    height: 10px;
    left: -15px;
    position: absolute;
    top: 7px;
    width: 10px;
  }

  &__description-item_color_orange::before {
    background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
  }

  &__description-item_color_green::before {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  }

  &__description-item_color_blue::before {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }

  &__description-item_color_black::before {
    background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
  }

}

.diagramchart__chart-text {
  font-family: inherit;
  fill: $purple;
  transform: translateY(5px) translateX(-30px);
}

.diagramchart__chart-number {
  color: $purple;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
  transform: translateY(-5px) translateX(12px);
}

.diagramchart__chart-label {
  color: $purple;
  font-family: $font-family-main, $fallback-font;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(14px);
}

@media (max-width: $container-mobile-width) {
  .diagram__description {
    left: 145px;
  }
}
