.header-burger {
  display: none;

  &::before,
  &::after {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 3px;
    content: "";
    background-color: $darkShade100;
    left: 0px;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0px;
  }

  &::after {
    bottom: 0px;
  }

}

@media (max-width: $container-mobile-width) {
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;

    & span {
      position: absolute;
      width: 100%;
      height: 3px;
      content: "";
      background-color: $darkShade100;
      left: 0px;
      transition: all 0.3s ease 0s;
      top: 13px;
    }

    &::before,
    &::after {
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 3px;
      content: "";
      background-color: $darkShade100;
      left: 0px;
      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 0px;
    }

    &::after {
      bottom: 0px;
    }

    &.burger-active span {
      transform: scale(0);
    }

    &.burger-active::before {
      transform: rotate(45deg);
      top: 9px;
    }

    &.burger-active:after {
      transform: rotate(-45deg);
      top: 9px;
    }
    
  }
}
