.pagination{
  width: 241px;
  height: 74.56px;
  .pagination_wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 10.56px;
    font-family: $font-family-main,$fallback-font;
    font-style: normal;
    font-weight: normal;
  }
  &__number{
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $darkShade50;
    justify-content: center;
    cursor: pointer;
  }
  &__ellipsis{
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $darkShade50;
    justify-content: center;
  }
  &__number_selected{
    background: $buttonColor;
    border-radius: 22px;
    color: $white;
  }
  &__arrow{
    font-family: $font-for-icons;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $white;
    background: $selectedDate;
    border-radius: 22px;
    height: 40px;
    width: 40px;
    justify-content: center;
    cursor: pointer;
  }
  &__label{
    font-size: 14px;
    line-height: 19px;
    color: $darkShade75;
    margin-left: 5px;
    margin-right: 5px;
  }
}