@import '@/components/button-check/button-check.scss';

.bullet-list {
  max-width: 292px;
  list-style-type: none;
  display: block;
  user-select: none;

  &__elem {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.16rem;
    line-height: 2rem;
    color: $darkShade75;
    padding-left: 20.86px;
    position: relative;
    max-width: 271px;
    margin-bottom: 10px;
    word-wrap: break-word;
  }

  &__elem:last-child{
    margin-bottom: 0;
  }

  &__elem:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px;
    background-color: $darkShade25;
    border-radius: 50%;
  }

  &-expandable {
    width: 266px;
    height: 44px;
    position: relative;
    cursor: pointer;
  }
  &-expandable__label {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: $darkShade100;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  &-expandable__label span {
    display: block;
    width: 44px;
    height: 44px;
    cursor: pointer;
    font-family: $font-for-icons;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $darkShade50;
  }
  &-expandable__dropdown {
    position: absolute;
    top: 47px;
    left: 0px;
    display: none;
    z-index: 1;
    background-color: $white;
    margin-bottom: 2px;
  }

  &_is-opened {
    display: block;
  }

}

.bullet-list-icons {
  min-height: 70px;
  width: 280px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  display: flex;
  flex-direction: row;

  &__icon {
    width: 48px;
    height: 48px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $font-for-icons;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    line-height: 3.42rem;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px;
  }

  &__header {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 1.16rem;
    line-height: 2rem;
    color: $darkShade75;
  }

  &__text {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.16rem;
    line-height: 1.5rem;
    color: $darkShade50;
    padding-top: 5px;
    margin-bottom: 17px;
  }
  
}
