.button-like {
  background: $white;
  border: 1px solid $darkShade25;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  height: 20px;
  white-space: nowrap;
  width: 40px;
  user-select: none;

  &__heart {
    align-items: center;
    color: $darkShade25;
    display: block;
    font-family: $font-for-icons;
    font-weight: normal;
    font-size: 0.83rem;
    height: 20px;
    text-align: center;
    line-height: 0.7rem;
    padding-top: 5px;
    width: 50%;
  }

  &__number {
    align-items: center;
    color: $darkShade25;
    display: flex;
    font-weight: normal;
    font-size: 0.83rem;
    height: 100%;
    line-height: 1rem;
    text-align: center;
    width: 50%;
  }

  &_is-liked {
    border: 1px solid $purple;
  }

}

.button-like.button-like_is-liked {

  .button-like__heart,
  .button-like__number {
    color: $purple;
  }

}
