include ../../components/heading/heading.pug
include ../../components/paragraph/paragraph.pug
.colors
  .colors__left-column.left-column-colors
    .left-column-colors__dark-shade-100 
      p.left-column-colors__header Dark Shade 100% 
      p #1F2041
    .left-column-colors__dark-shade-75 
      p.left-column-colors__header Dark Shade 75% 
      p #1F2041
    .left-column-colors__dark-shade-50 
      p.left-column-colors__header Dark Shade 50%
      p #1F2041
    .left-column-colors__dark-shade-25 
      p.left-column-colors__header Dark Shade 25%
      p #1F2041
    .left-column-colors__dark-shade-5 
      p.left-column-colors__header Dark Shade 5%
      p #1F2041
    .left-column-colors__purple 
      p.left-column-colors__header Purple 
      p #BC9CFF
    .left-column-colors__green
      p.left-column-colors__header Green 
      p #6FCF97
  .colors__right-column.right-column-colors
    .right-column-colors__h1 
      p.right-column-colors__header.right-column-colors__header_h1 H1
      p.right-column-colors__description.right-column-colors__description_h1
        +heading({nestingLevel:'h1',text:'This one is the sub-section or widget title'})
    .right-column-colors__h2
      p.right-column-colors__header.right-column-colors__header_h2 H2 
      p.right-column-colors__description.right-column-colors__description_h2
        +heading({nestingLevel:'h2',text:'Next one is the item title inside widgets'})
    .right-column-colors__h3 
      p.right-column-colors__header.right-column-colors__header_h3 H3
      p.right-column-colors__description.right-column-colors__description_h3
        +heading({nestingLevel:'h3',text:'This is a label or CTA text'})
    .right-column-colors__body
      p.right-column-colors__header.right-column-colors__header_body Body
      p.right-column-colors__description.right-column-colors__description_body
        +paragraph({text:'This is the body text which is used for most of the design, like paragraphs, lists, etc.'})