.left-column-colors {

  &__elem {
    margin-bottom: 20px;
    display: flex;
  }

  &__header {
    font-weight: bold;
  }

  &__sample{
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }

  &__elem_color-dark-shade-100 .left-column-colors__sample{
    background: $darkShade100;
  }

  &__elem_color-dark-shade-75 .left-column-colors__sample{
    background: $darkShade75;
  }

  &__elem_color-dark-shade-50 .left-column-colors__sample{
    background: $darkShade50;
  }

  &__elem_color-dark-shade-25 .left-column-colors__sample{
    background: $darkShade25;
  }

  &__elem_color-dark-shade-5 .left-column-colors__sample{
    background: $darkShade5;
  }

  &__elem_color-purple .left-column-colors__sample{
    background: $purple;
  }

  &__elem_color-green .left-column-colors__sample{
    background: $green;
  }

  &__text-wrapper{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
  
}
