@import 'left-column-ui-kit-colors.scss';
@import 'right-column-ui-kit-colors.scss';

.colors-and-types {
  width: 100%;
  font-family: inherit;
  background-color: $white;
  height: 900px;
  max-width: $container-width;
  margin: 0 auto;
}

.colors {
  max-width: $container-width - 300;
  margin: 0px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 105px;
  font-style: normal;
  font-weight: normal;

  &__left-column {
    width: 281px;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.42rem;
    line-height: 2.17rem;
    color: $darkShade100;
  }

  &__right-column {
    width: 436px;
    height: 321px;
    margin-right: 8px;
  }

}
