.button-icon {
  
  font-family: $font-family-main, $fallback-font;
  font-style: normal;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  align-items: center;
  border-radius: 22px;
  background: linear-gradient(
      180deg, 
      #bc9cff 0%, 
      #8ba4f9 100%);
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 44px;
  position: relative;
  max-width: 320px;
  width: 100%;
  padding: 0;
  border: none;

  &:hover{
    background: linear-gradient(
    180deg,
    rgba(188, 156, 255, 0.5) 0%,
    rgba(139, 164, 249, 0.5) 100%);
  }

  &__icon {
    align-items: center;
    color: $white;
    display: flex;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    justify-content: center;
    height: 44px;
    width: 44px;
  }

  &__icon-label {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  &__empty-elem{
    width: 44px;
    height: 44px;
  }

}