include ../burger/burger.pug
include ../button/button.pug
include ../list-links/list-links.pug
include ../logo/logo-toxin.pug
mixin header-bar( {type='nav',links=[],signInLinkText = 'Войти',registerLinkText = 'Зарегистрироваться',signInRef = 'sign-in-page.html',registerRef = 'registration.html',userName='Юлий Цезарь',userRef = '/mock-address/change-me',isVertical=false} = {})
 header.header-bar
  .header-bar__wrapper
    .header-bar__logo
      +logo()
    +burger
    nav.header-bar__nav.js-header-nav
      +list-links({links,isVertical})
      if type==='nav'
        a(href=signInRef class='header-bar__nav_sign-in' target="_blank", rel="noopener noreferrer")=signInLinkText 
        a(href=registerRef class='header-bar__nav_register' target="_blank", rel="noopener noreferrer")=registerLinkText 
      else if type==='login'
        .header-bar__delimeter
        a(href=userRef class='header-bar__user' target="_blank", rel="noopener noreferrer")=userName
        