.button-rate {
  background-color: transparent;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  height: 24px;
  width: 120px;

  & input {
    display: none;
  }

  &__star {
    align-items: center;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    line-height: 1.66rem;
    height: 24px;
    text-align: center; 
    width: 24px;
  }

}
