mixin burger
  div.header-burger
    input(class='header-burger__input js-header-burger__input' id='header-burger__input' type="checkbox")
    label(for='header-burger__input' class='header-burger__label')
      span