.header-burger{
 position: relative;
 width: 30px;
 height: 30px;
 cursor: default;
 display: none;
 margin-left: 10px;
 cursor: pointer;
}
.header-burger__input{
 opacity: 0;
 width: 0px;
 height: 0px;
 z-index: 5;
}

.header-burger__label::before,
.header-burger__label::after{
 cursor: pointer;
 position: absolute;
 width: 100%;
 height: 3px;
 content: '';
 background-color: $darkShade100;
 left: 0px;
 transition: all 0.3s ease 0s;
}
.header-burger__label span{
 top: 13px;
 background-color: $darkShade100;
 position: absolute;
 cursor: pointer;
 width: 100%;
 content: '';
 height: 3px;
 left: 0px;
 transition: all 0.3s ease 0s;
}
.header-burger__label::before{
 top: 0px;
}
.header-burger__label::after{
 bottom: 0px;
}

.header-burger__input:checked +.header-burger__label:before{
transform: rotate(45deg);
top: 9px;
}
.header-burger__input:checked +.header-burger__label:after{
  transform: rotate(-45deg);
  top: 9px;
}
.header-burger__input:checked + .header-burger__label span{
  background-color: transparent;
}

@media (max-width:$container-mobile-width){
  .header-burger
  {
   display: block;
 }
}