include ../button/button.pug
mixin comment(options)
  article(class='expanded-comment')
    h3(class='expanded-comment__header')
      div(class='expanded-comment__header-img')
        img(src=options.imgSource, alt="user photo")
      div(class='expanded-comment__header-name-wrapper')
        h3(class='expanded-comment__header-name')=options.headerName
        time(class='expanded-comment__header-time')=options.headerTime
    div(class='expanded-comment__body')
      div(class='expanded-comment__like-button')
        +button({type:'like',likeNumber:options.likeNumber,isLiked:options.isLiked})
      p(class='expanded-comment__body-text')=options.text
