include ../button/button.pug
mixin comment({ imgSource = '', headerName = 'provide user name', text = 'provide description', headerTime = 'provide time', likeNumber = 0, isLiked = false,dateTime = '2021-07'} = {})
  article(class='expanded-comment')
    header(class='expanded-comment__header')
      div(class='expanded-comment__header-img')
        img(src=imgSource, alt="user photo")
      div(class='expanded-comment__header-name-wrapper')
        h3(class='expanded-comment__header-name')=headerName
        time(class='expanded-comment__header-time' datetime=dateTime)=headerTime
    div(class='expanded-comment__body')
      div(class='expanded-comment__like-button')
        +button({type:'like',likeNumber,isLiked})
      p(class='expanded-comment__body-text')=text
