.expanded-comment{
  max-width: 711px;
  min-height: 133px;
  font-family: $font-family-main,$fallback-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $darkShade75;
  display: flex;
  flex-direction: column;
  flex: auto;

  &__header{
    margin-bottom: 10px;
  }
  &__header-img{
    height: 48px;
    width: 48px;
    margin-right: 10px;
  }
   &__header-img img{
     max-width: 100%;
     height: auto;
     display: block;
     border: 2px solid $white;
     filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
     border-radius: 50%;
  }
  &__header{
    display: flex;
    flex-direction: row;
  }
  &__header-name{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: $darkShade75;
  }
  &__header-name-wrapper{
    display: flex;
    flex-direction: column;
  }
  &__body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 72px;
    max-width: 711px;
  }
  &__body-text{
    max-width: 653px;
    height: 100%;
  } 
  &__like-button{
    margin-left: 3px;
    margin-top: 2px;
    margin-right: 14px;
  } 
}