mixin switch( { isPositive=false, name="", }={} )
  .switch
    .switch__container
      label.switch__label=name
        input(type='checkbox' class="switch__input" checked=isPositive)
        span.switch__slider-round 