include ../../logo/logo-toxin.pug
include ../../social-networks/social-networks.pug
.footer-creative
  .footer-creative__logo
    +logo()
    p='Copyright © 2018 Toxin отель. Все права зачищены.'
  .footer-creative__links
    +social-networks()