.dropdown-counter{
 font-family: $font-family-main,$fallback-font;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 height: 30px;
}
.dropdown-counter__header{
 overflow: hidden;
 margin-bottom: 3px;
 max-width: 152px;
}
.dropdown-counter__container{
 max-width: 92px;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
.container-dropdown__decrease,
.container-dropdown__increase{
  border-radius: 22px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
}
.container-dropdown__decrease{
  border: 1px solid $darkShade25;
  color: $darkShade25;
}
.container-dropdown__increase{
  border: 1px solid $darkShade50;
  color: $darkShade50;
}