include modules/roomcard/roomcard.pug
include modules/roomprice/roomprice.pug
include modules/signup/signup.pug
include modules/signin/signin.pug
include modules/searchnumber/searchnumber.pug
include headerUiKit.pug
.cards__wrapper
 +header
 .cards__left-column
  +searchnumber({action:'/mock-address/change-me'})
  +signup({action:'/mock-address/change-me'})
 .cards__central-column
  +roomprice({roomNumber:888,priceHeader:'9 990₽',roomType:'люкс',commentNumber:145,price:'9 990₽ х 4 суток',total:'39 960₽',discount:'Сбор за услуги: скидка 2 179₽',fee:'0₽',extraFee:'300₽',totalPrice:'38 081₽',action:'#'})
  +signin({action:'/mock-address/change-me'})
 .cards__right-column
  div(class='cards__right-column-datepicker')
  +roomcard({imgSource:'room1.png',roomNumber:888,price:'9 990₽',rate:5,roomType:'люкс',commentNumber:145})
  +roomcard({imgSource:'room2.png',roomNumber:840,price:'9 990₽',rate:4,commentNumber:65})
