.headers-and-footers-container
 .headerLoginSection
  include modules/standardNavBar.pug
 .headerNavigationSection
  include modules/standardLoggedInNavBar.pug
 .footerNavigationSection
  include modules/footerWidget.pug
 .footerCopySection
  include modules/footerCopyrightBar.pug
 .footerLogoSection
  include modules/footerCreative.pug

