include headerUiKit.pug
html(lang="en")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  include ../Favicon/favicon.pug
  title UIKit
 body
  main.wrapper
   section(class="headers-and-footers content-container")
    +header
    include headersAndFooters.pug
  //- section.formElements
  //-  include formElements.pug
  //- section.cards
  //-  include cards.pug
   