.range-slider{
    width: 266px;
  &__label-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -3px;
    font-family: $font-family-main,$fallback-font;
    font-style: normal;
    white-space: nowrap;
  }
  &__label-header{
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkShade100;
    padding-top: 3px;
  }
  &__label{
    height: 15px;
    width: 102px;
    text-align: justify;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: $darkShade50;
  }
}

.irs-handle{
  cursor: pointer;
}
.irs--flat .irs-line{
  background-color: $white;
  border: 1px solid $darkShade25;
  border-radius: 3px;
  height: 6px;
  cursor: pointer;
}
.irs--flat .irs-handle>i:first-child {
  background: $selectedDate;
  border: 2px solid $white;
  border-radius: 10px;
  width: 16px;
  height: 16px;
  margin-top: -2px;
}
.irs--flat .irs-bar {
  background: $selectedDate;
  border-radius: 3px;
  height: 6px;
  cursor: pointer;
}
.irs-min,.irs-max{
  display: none;
}
.irs-from,.irs-to{
  display: none;
}
.rub{ 
  font-family: "rouble";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: $darkShade50;
}