.form-elements {

  &__header-right {
    margin-bottom: 16px;
  }

  &__header_buttons {
    margin-top: 33px;
  }

  .buttons-wrapper-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__header_pagination {
    margin-bottom: 16px;
    margin-top: 40px;
  }

  &__header_bullet {
    margin-top: 256px;
    margin-bottom: 12px;
  }

  &__header_dropdown-right {
    margin-top: 235px;
    margin-bottom: 4px;
  }
  
}
