.form-elements {

  &__header-left {
    margin-bottom: 5px;
  }

  .header-left-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-left-form__extra {
    color: $darkShade50;
    font-weight: normal;
  }

  &__header_date-dropdown {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  &__header_text-field-hover,
  &__header_dropdown-default,
  &__header_dropdown-room-expanded {
    margin-top: 21px;
  }

  &__header_masked-text-field {
    margin-top: 22px;
  }

  &__header_date-dropdown,
  &__header_filter-date-dropdown {
    margin-top: 41px;
  }

  &__header_filter-date-dropdown,
  &__header_subscription-text-field {
    margin-top: 42px;
  }

  &__header_date-dropdown span:last-child {
    margin-right: 30px;
  }

  &__header_dropdown-room {
    margin-top: 100px;
  }

  &__header_dropdown-room,
  &__header_dropdown-room-expanded {
    width: 266px;
  }

  .left-column__dropdown-wrapper {
    display: flex;
    flex-direction: row;
  }

  .bullets-left-column {
    margin-top: 158px;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  
  .left-column__bullet-icons{
    margin-top: 273px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  } 

}
