include ./dropdown-counter/dropdown-counter.pug

mixin dropdown(options)
 -
  var dropDownClassName = 'dropdown'
  var expandedCorners=''
  var isExpanded=options.isExpanded===true ? ' dropdown_active' : ''
  var typeDropdown = options.typeDropdown
  expandedCorners+=options.isExpanded ? ' dropdown_rounding-corners-top ' : ''
  dropDownClassName+=typeDropdown==='guests' ? ' dropdown__guests' : ''
  dropDownClassName+=typeDropdown==='date' ? ' dropdown__date ' : ''
  dropDownClassName+=typeDropdown==='filter' ? ' dropdown__filter ' : ''
  dropDownClassName+=typeDropdown==='room' ? ' dropdown__room ' : ''
  dropDownClassName+=' js-dropdown'
 div(class= dropDownClassName+expandedCorners)
  div(class='dropdown__input-wrapper')
    input(class='dropdown__input' placeholder=options.placeholder type='text' id=options.id)
    div(class='dropdown__arrow')='keyboard_arrow_down'
  if typeDropdown==='guests'||typeDropdown==='room'
    div(class="dropdown__body"+isExpanded)
      each line in options.lines 
        +dropdown-counter({text:line.text,counterNumber:line.counterNumber})
      if options.withButtons 
        .dropdown__body-buttons.buttons-dropdown
          .buttons-dropdown__clear.hidden Очистить
          .buttons-dropdown__apply Применить
