@import './common/fonts.scss';
@import './common/reset.scss';
@import './common/constants.scss';
@import '../components/UIKit/modules/headers/standardNavBar.scss';
@import '../components/UIKit/modules/footers/footerCopyrightBar.scss';
@import '../components/UIKit/modules/footers/footerWidget.scss';
@import '../components/UIKit/modules/searchnumber/searchnumber.scss';
@import '../components/UIKit/modules/button/button.scss';
@import '../components/UIKit/modules/textField/textField.scss';
@import '../components/UIKit/modules/dropdown/dropDownDate.scss';
@import '../components/UIKit/modules/dropdown/dropDownGuests.scss';
@import '../components//UIKit/modules/dropdown/fsdDatepicker.css';
.landing-wrapper{
 max-width: $container-width;
 font-family: $font-family-main,$fallback-font;
 max-height: 1343px;
 margin: 0px auto; 
  .img__wrapper{
    height: 831px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: $container-width;
    background-image: url('../assets/img/jpg/landing.jpg');
    .img__header{
    height: 48px;
    width: 296px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    color: $darkShade75;
    margin-right: 130px;
    margin-left: auto;
    margin-bottom: 22px;
  }
  .search-number{
    margin-top: 70px;
    margin-left: 140px;
  }
  }
}
@media (max-width:$container-mobile-width){
  .landing-wrapper{
    max-width: none;
    max-height: none;
  }
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}