@import './common/fonts.scss';
@import './common/reset.scss';
@import './common/constants.scss';
@import '../styles/UIKit/HeadersAndFooters/standardNavBar.scss';
@import '../styles/UIKit/HeadersAndFooters/standardLoggedInNavBar.scss';
@import '../styles/UIKit/HeadersAndFooters/footerCopyrightBar.scss';
@import '../styles/UIKit/HeadersAndFooters/footerWidget.scss';
@import '../styles/UIKit/FormElements/textField.scss';
@import '../styles/UIKit/Cards/searchnumber.scss';
@import '../styles/UIKit/FormElements/button.scss';
@import '../styles/UIKit/FormElements/textField.scss';
@import '../styles/UIKit/FormElements/dropDownDate.scss';
@import '../styles/UIKit/FormElements/dropDownGuests.scss';
.wrapper{
 max-width: $container-width;
 max-height: 1343px;
 margin: 0px auto; 
  .img__wrapper{
    position: relative;
    .search-number{
    position: absolute;
    top: 8%;
    left: 10%;
    }
    img{
      max-width: 100%;
      max-height: 831px;
    }
 }
  .img__header{
    position: absolute;
    height: 48px;
    width: 296px;
    bottom: 2.8%;
    left: 70%;
    font-family: $font-family-main;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    color: $darkShade75;
  }

}
@media (max-width:$container-mobile-width){
 .wrapper{
   max-width: none;
 }

 .footer-copyright-container{
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
 }
 .footer__copyright{
  margin: 5px 0px 10px 0px;
  display: flex;
  justify-content: center;
 }
 .footer__social-networks-links{
  margin: 0px 0px 5px 0px;
 }
 .footer-nav__container,
 .footer-nav__subscribe{
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
 }
 .footer-nav__container{
  height: 200px;
 }
 .footer-nav__logo,
 .footer-nav__links{
  display: none;
 }
 .footer-nav__subscribe{
  margin-top: 0px;
 }
 .footer-nav__container,
 .footer-nav__subscribe{
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
 }
 .footer-nav__logo,
 .footer-nav__links{
  display: none;
 }
 .footer-nav__subscribe{
  margin-top: 10px;
 }
}
