@import './common/constants.scss';
.wrapper{
  max-width: $container-width;
  max-height: 1197px;
  margin: 0px auto; 
}
.img__wrapper{
  height: 685px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $container-width;
  background-image: url('../assets/img/jpg/registration.jpg');
  background-size: cover;
}
@media (max-width:$container-mobile-width){
  .wrapper{
    max-width: none;
    max-height: none;
  }
}