@import './common/fonts.scss';
@import './common/reset.scss';
@import './common/constants.scss';
@import '../styles/UIKit/Cards/signup.scss';
@import '../styles/UIKit/FormElements/switch.scss';
@import '../styles/UIKit/FormElements/button.scss';
@import '../styles/UIKit/FormElements/textField.scss';
@import '../styles/UIKit/HeadersAndFooters/standardNavBar.scss';
@import '../styles/UIKit/HeadersAndFooters/standardLoggedInNavBar.scss';
@import '../styles/UIKit/HeadersAndFooters/footerCopyrightBar.scss';
@import '../styles/UIKit/HeadersAndFooters/footerWidget.scss';

.wrapper{
 max-width: $container-width;
 max-height: 1197px;
 margin: 0px auto; 

  .img__wrapper{
    height: 685px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: $container-width;
    background-image: url('../assets/img/jpg/registration.jpg');
 }
}
@media (max-width:$container-mobile-width){
 .wrapper{
   max-width: none;
   max-height: none;
 }
 .footer{
   display: none;
 }
}