@import './common/fonts.scss';
@import './common/reset.scss';
@import './common/constants.scss';
@import '../components/UIKit/modules/headers/standardNavBar.scss';
@import '../components/UIKit/modules/footers/footerCopyrightBar.scss';
@import '../components/UIKit/modules/footers/footerWidget.scss';
@import '../components/UIKit/modules/dropdown/dropDownDate.scss';
@import '../components/UIKit/modules/dropdown/dropdown.scss';
@import '../components/UIKit/modules/list/list.scss';
@import '../components/UIKit/modules/rangeSlider/rangeSlider.scss';
@import '../components/UIKit/modules/button/button.scss';
@import '../components/UIKit/modules/roomcard/roomcard.scss';
@import '../components/UIKit/modules/pagination/pagination.scss';
@import '../components/UIKit//modules/dropdown/fsdDatepicker.css';
@import '../../node_modules/ion-rangeslider/css/ion.rangeSlider.css';
@import '../components//UIKit//modules/textField/textField.scss';
.search-wrapper{
  max-width: $container-width;
  max-height: 1880px;
  margin: 0px auto; 
  font-family: $font-family-main,$fallback-font;
  font-style: normal;
  font-weight: normal;
}
.search-wrapper__content{
  margin: 30px auto 0px auto;
  display: grid;
  grid-template-areas: 
  'left right';
  grid-template-columns: 320px 834px;
  grid-template-rows: 1fr 75px;
  column-gap: 6px;
  max-width: 1160px;
  height: 1325px;
}
.left-column{
  grid-area: left;
  display: flex;
  flex-direction: column;
}
.left-column .dropdown__guests{
width: 266px;
}
.left-column-header{
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $darkShade100;
  margin-bottom: 5px;
}
.left-column-header_guests{
  margin-top: 20px;
}
.range-slider__wrapper{
  margin-bottom: 2px;
  margin-top: 30px;
}
.dropdown-input__filter{
  margin-bottom: 20.44px;
}
.left-column-header_price{
  font-size: 12px;
  line-height: 14px;
  color: $darkShade50;
  margin-bottom: 31px;
  font-weight: normal;
  text-transform: none;
}
.left-column-header_rules,
.left-column-header_availability{
  margin-bottom: 16px;
}
.button-check{
  margin-bottom: 20px;
}
.button-rich_first{
  margin-bottom: 10px;
}
.button-rich_last{
  margin-bottom: 31px;
}
.dropdown-input__room,
.dropdown-input__guests{
  margin-bottom: 30px;
}
.right-column{
  grid-area: right;
}
.bullet-list-expandable{
  margin-top: 15px;
}
.rooms{
  display: grid;
  grid-template-columns: repeat(3,270px);
  grid-template-rows: repeat(4,257px);
  row-gap: 20px;
  column-gap: 12px;
  }
.pagination{
  margin-top: 44px;
  margin-left: 290px;
}
.right-column-header{
  font-family: $font-family-additionalRussianReplacer;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $darkShade100;
  margin-bottom: 21px;
}
@media (max-width:$container-mobile-width){
.search-wrapper{
  max-width: none;
  max-height: none;
}
.search-wrapper__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.right-column .rooms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-column .pagination{
  margin: 10px auto 0px auto;
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
}
