@import './common/fonts.scss';
@import './common/reset.scss';
@import './common/constants.scss';
@import '../styles/UIKit/HeadersAndFooters/standardLoggedInNavBar.scss';
@import '../styles/UIKit/HeadersAndFooters/footerCopyrightBar.scss';
@import '../styles/UIKit/HeadersAndFooters/footerWidget.scss';
@import '../styles/UIKit/FormElements/dropDownDate.scss';
@import '../styles/UIKit/FormElements/dropDownGuests.scss';
@import '../styles/UIKit/FormElements/dropDownRoom.scss';
@import '../styles/UIKit/FormElements/list.scss';
@import '../styles/UIKit/FormElements/rangeSlider.scss';
@import '../styles/UIKit/FormElements/button.scss';
.search-wrapper{
 max-width: $container-width;
 max-height: 1880px;
 margin: 0px auto; 
 font-family: $font-family-main;
 font-style: normal;
 font-weight: normal;
 .search-wrapper__content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 1385px;
 }
 .search-wrapper__content_left-column{
  display: flex;
  flex-direction: column;
  width: 320px;
  border: 1px solid red;
  margin-right: 6px;
  .search-wrapper__content_left-column-header{
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkShade100;
    margin-bottom: 5px;
  }
  .search-wrapper__content_left-column-header:first-child{
    margin-top: 30px;
  }
  .dropdown-input__filter{
    margin-bottom: 20.44px;
  }
  h3{
    font-size: 12px;
    line-height: 14px;
    color: $darkShade50;
    margin-bottom: 30px;
  }
 }
 .search-wrapper__content_right-column{
  border: 1px solid red;
  width: 834px;
 }
 .button-check,
 .button-rich,
 .dropdown-input__room,
 .dropdown-input__guests{
   margin-bottom: 30px;
 }
 .bullet-list-expandable__dropdown-elem .button-check{
   margin-bottom: 0px;
 }
}
@media (max-width:$container-mobile-width){
 .search-wrapper{
   max-width: none;
   max-height: none;
 }
 .footer{
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
}
