@import './common/constants.scss';

.sign-in-page__wrapper{
  max-width: $container-width;
  max-height: 1197px;
  margin: 0px auto; 
}
.sign-in-page__img-wrapper{
  height: 702px;
  max-width: $container-width;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/img/jpg/registration.jpg');
  background-size: cover;
}
@media (max-width:$container-mobile-width){
.sign-in-page__wrapper{
  max-width: none;
  max-height: none;
}
}