@import './common/fonts.scss';
@import './common/reset.scss';
@import './common/constants.scss';
@import '../components/ui-kit/modules/headers/standard-nav-bar.scss';
@import '../components/ui-kit/modules/search-number/search-number.scss';
@import '../components/ui-kit/modules/dropdown/dropdown.scss';
@import '../components/ui-kit/modules/headers/standard-nav-bar.scss';
@import '../components/ui-kit/modules/dropdown/dropdown.scss';
@import '../components/ui-kit/modules/list/list.scss';
@import '../components/ui-kit/modules/range-slider/range-slider.scss';
@import '../components/ui-kit/modules/room-card/room-card.scss';
@import '../components/ui-kit/modules/pagination/pagination.scss';
@import '../components/ui-kit/colors/ui-kit-colors.scss';
@import '../components/ui-kit/headers-and-footers/headers-and-footers.scss';
@import '../components/ui-kit/form-elements/form-elements.scss';
@import '../components/ui-kit/cards/cards.scss';
@import '../components/ui-kit/modules/dropdown/fsd-datepicker.css';
@import '../../node_modules/ion-rangeslider/css/ion.rangeSlider.css';
@import '../components/ui-kit/modules/sign-in/sign-in.scss';
@import '../components/ui-kit/modules/switch/switch.scss';
@import '../components/ui-kit/modules/button/button.scss';
@import '../components/ui-kit/modules/text-field/text-field.scss';
@import '../components/ui-kit/modules/headers/standard-nav-bar.scss';
@import '../components/ui-kit/modules/headers/standard-logged-in-nav-bar.scss';
@import '../components/ui-kit/modules/footers/footer-copyright-bar/footer-copyright-bar.scss';
@import '../components/ui-kit/modules/footers/footer-widget/footer-widget.scss';
@import '../components/ui-kit/modules/diagram/diagram.scss';

.wrapper{
  background-color: $grey;
  font-family: $font-family-main,$fallback-font;
  font-weight: bold;
  font-size: 16px;
}
.wrapper h1{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
  color: $green;
  font-size: 2rem;
}

.wrapper a{
  text-decoration: none;
}
.UIKit a,.site a{
  color:$purple;
  border: 2px solid $darkShade50;
  width: 250px;
  height: 80px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto 40px;
  display: flex;
  font-size: 1.5rem;
  background-color: $white;
  border-radius: .5rem;
}