@import './common/fonts.scss';
@import './common/reset.scss';
@import './common/constants.scss';
@import '../components/ui-kit/colors/ui-kit-colors.scss';
@import '../components/ui-kit/headers-and-footers/headers-and-footers.scss';
@import '../components/ui-kit/form-elements/form-elements.scss';
@import '../components/ui-kit/cards/cards.scss';
@import '../components/ui-kit/modules/dropdown/fsd-datepicker.css';
@import '../../node_modules/ion-rangeslider/css/ion.rangeSlider.css';
.wrapper{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content-container {
 max-width: $container-width;
 margin: 0 auto;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
.headers-and-footers__footer-copy{
  margin-top: 3px;
}
