include headerUiKit.pug
html(lang="en")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  include ../Favicon/favicon.pug
  title UIKit
 body
  main.wrapper
    section(class="colors-and-types content-container")
      +header
      include colors.pug
    section(class="headers-and-footers content-container")
      +header
      include headers-and-footers.pug
    section(class="form-elements content-container")
      include form-elements.pug
    section(class="cards content-container")
      include cards.pug