extends ../../components/template/template.pug

block variables
  - const pageTitle = 'Registration page'

block content

  include ../../components/sign-up/sign-up.pug

  main.main
    .main__content
      .main__img-wrapper
        +sign-up({action:'#'})