extends ../../components/template.pug

block variables
  - let pageTitle = 'Registration page'

block content

  include ../../components/sign-up/sign-up.pug

  main.reg-wrapper.reg
    .reg__content
      .reg__img-wrapper
        +signup({action:'#'})