extends ../../components/template.pug

block variables
  - let pageTitle = 'Registration page'

block content

  include ../../components/sign-up/sign-up.pug

  main.main
    .main__content
      .main__img-wrapper
        +signup({action:'#'})