extends ../../components/ui-kit/modules/template.pug

block variables
  - var pageTitle = 'Registration page'

block content

  include ../../components/ui-kit/modules/sign-up/sign-up.pug

  main.reg-wrapper.reg
    .reg__content
      .reg__img-wrapper
        +signup({action:'#'})