@import '../../../components/ui-kit/modules/room-card/room-card.scss';
.cards__right-column{
  padding-left: 40px;
  .cards__datepicker{
    margin-bottom: 40px;
  }
  &_first-room{
    margin-bottom: 40px;
  }
}