mixin logo({ link = 'landing.html',imgSrc=require('../../components/logo/logo-toxin.svg')} = {})
  .logo-toxin
    a.logo-toxin__link(href=link) 
      img.logo-toxin__img(src=imgSrc, alt='Logo Toxin image')