.switch__container{
  display: flex;
  flex-direction: row;
}
.switch {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  margin-right: 10px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch__name{
  font-family: $font-family-main,$fallback-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: $darkShade75;
  height: 24px;
  display: inline-block;
  padding-top: 2px;
}
.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .6s;
  transition: .6s;
  border: 1px solid $darkShade25;
  box-sizing: border-box;
}
input:checked + .slider-round {
  border: 1px solid $purple;
}
input:checked + .slider-round:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
  background: $buttonColor;
}
.slider-round {
  border-radius: 10px;
}
.slider-round:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background: rgba(31, 32, 65, 0.25);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}