mixin button-rich(options)
  div(class='button button-rich')
        label(class='button-rich__checkbox-label')
          if options.isChecked
            input(class='button-rich__checkbox-input' type='checkbox' checked)
            span(class='button-rich__checkbox-header')=options.header
            span(class='button-rich__checkbox-text')=options.label
          else
            input(class='button-rich__checkbox-input' type='checkbox')
            span(class='button-rich__checkbox-header')=options.header
            span(class='button-rich__checkbox-text')=options.label