mixin button-rich(options)
  div(class='button button-rich')
    label(class='button-rich__checkbox-label')
      input(class='button-rich__checkbox-input' type='checkbox' checked=options.isChecked)
      span(class='button-rich__checkbox-header')=options.header
      span(class='button-rich__checkbox-text')=options.label