extends ../../ui-kit/modules/template.pug

block variables
  - var pageTitle = 'Landing page'

block content

  include ../../ui-kit/modules/search-number/search-number.pug

  body.landing.landing-wrapper
    main.landing__content
      .landing__img-wrapper
        .landing__search-wrapper
          +searchnumber({action:'#'})
        h1='Лучшие номера для вашей работы, отдыха и просто вдохновения'