@import '../../../styles/common/constants.scss';
.landing{
  &-wrapper{
    max-width: $container-width;
    font-family: $font-family-main,$fallback-font;
    margin: 0px auto; 
  }
  &__img-wrapper{
    height: 831px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: $container-width;
    background-image: url('../../../assets/img/jpg/landing.jpg');
  }
  &__img-wrapper h1{
    height: 48px;
    width: 296px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    color: $darkShade75;
    margin-right: 130px;
    margin-left: auto;
    margin-bottom: 22px;
  }

  &__search-wrapper{
  margin-top: 70px;
  margin-left: 140px;
  }
  @media (max-width:$container-mobile-width){
    &-wrapper{
      max-width: none;
    }
    .landing__search-wrapper{
      margin: 0px auto;
    }
  }
}
