mixin button-like( { isLiked=false, likeNumber=1, }={})
  .button.button-like.js-button-like(class= isLiked && 'button-like_is-liked')
      .button-like__heart.js-button-like__heart= isLiked ? 'favorite' : 'favorite_border'
      .button-like__number.js-button-like__number=likeNumber