@import '@/components/text-field/text-field.scss';

.subscribe {
  display: flex;
  flex-direction: column;
  width: 260px;
  font-family: inherit;

  &__text-container {
    height: 84px;
    margin-bottom: 20px;
  }

  &__header {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $darkShade100;
  }

  &__proposal {
    font-weight: 400;
    font-size: 1.16rem;
    line-height: 2rem;
    color: $darkShade75;
  }

  &__form {
    width: 260px;
  }
  
}
