include ../button-like/button-like.pug
mixin comment({ imgSource = '', headerName = 'provide user name', text = 'provide description', headerTime = 'provide time', likeNumber = 0, isLiked = false,dateTime = '2021-07'} = {})
  article.comment
    header.comment__header
      .comment__header-img
        img(src=imgSource, alt="user photo")
      .comment__header-name-wrapper
        h3.comment__header-name=headerName
        time(class='comment__header-time' datetime=dateTime)=headerTime
    .comment__body
      .comment__like-button
        +button-like({likeNumber,isLiked})
      p.comment__body-text=text
