.room-card_wrapper{
 width: 270px;
 height: 257.5px;
 background: $white;
 box-shadow: 0px 10px 20px $darkShade5;
 border-radius: 4px;
 font-family: $font-family-main;
 font-style: normal;
 .room-card__img{
  position: relative;
  overflow:hidden;
  height: 152px;
  width: 270px;
  border-radius: 4px 4px 0px 0px;
 }
 .room-card__img img{
   position: absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   width:270px;
   height:152px;
   object-fit:cover;
 }
 .room-card__img-pagination{
  position: absolute;
  top:129px;
  left:214px;
  display: flex;
  flex-direction: row;
 }
 .room-card__arrows{
  position: relative;
 }
 .room-card__arrow{
  position: absolute;
  font-family: $font-for-icons;
  
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $white;
 }
 .room-card__arrow-left{
  top:63px;
  left:11px;
 }
 .room-card__arrow-right{
  top:63px;
  left:237px;
 }
 .room-card__pagination{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid $white;
  filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
  margin-right: 4px;
 }
 .room-card__pagination_active{
  background: $white;
  box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
 }
 .room-card__room-specifications,
 .room-card_bottom-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
 .room-card_bottom-line{
  margin-top: 10px;
 }
 .room-card__delimeter{
  width: 230px;
  height: 1px;
  background: rgba(31, 32, 65, 0.1);
  margin-left: 20px;
  margin-top: 5px; 
 }
 .room-card__number{
 width: 55px;
 height: 24px;
 font-family: $font-family-additionalRussianReplacer;
 font-weight: bold;
 font-size: 14px;
 line-height: 17px;
 color: $darkShade100;
 margin-left: 20px;
 margin-top: 24px;
 display: flex;
 flex-direction: row;
 justify-content: baseline;
 white-space: pre;
 }

 .room-card__number span:nth-child(2){

  font-size: 19px;
  line-height: 19px;
 }
 .room-card__price{
  width: 100px;
  height: 20px;
  font-size: 14px;
  line-height: 18px;
  color: $darkShade50;
  white-space: nowrap;
  margin-right: 16px;
  margin-top: 24px;
  text-align: center;
 }
 .room-card__price span:first-child{
  font-weight: bold;
  font-size: 14px;
 }
 .room-card__price span:nth-child(2){
  font-size: 12px;
 }
 .room-card__type{
  width: 41px;
  height: 15px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $purple;
  margin-right: 32px;
  margin-top: 26px;
 }
 .room-card__rate{
  margin-left: 20px;
 }
 .room-card__comment{
  width: 90px;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color:$darkShade50;
  margin-right: 20px;
  margin-top: 2px;
 }
 .room-card__comment span:first-child{
  font-weight: bold;
 }
}