.sign-up__wrapper{
 width: 380px;
 height: 646px;
 border-radius: 4px;
 background-color: $white;
 border: 1px solid rgba(0, 0, 0, 0.12);
 box-shadow: 0px 0px 25px $boxShadow;
 padding-left: 30px;
 padding-right: 30px;
 h2,h3{
  color: $darkShade100;
  font-style: normal;
 }
 h2{
  font-family: $font-family-additionalRussianReplacer;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
 }
 h3{
  font-family: $font-family-main;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 5px;
 }
 h3:nth-child(7){
  margin-top: 20px;
 }
 .text-field{
  margin-bottom: 10px;
 }
 .sign-up__radio-button-wrapper{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  .button-radio:first-child{
   margin-right: 20px;
  }
 }
 .toggle{
  margin-bottom: 20px;
 }
 .sign-up__footer{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .sign-up__account{
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 18px;
   color: #000000;
  }
 }
}