.room-card{
    width: 270px;
    height: 257px;
    background: $white;
    box-shadow: 0px 10px 20px $darkShade5;
    border-radius: 4px;
    font-family: $font-family-main,$fallback-font;
    font-style: normal;
    position: relative;
  &__slider{
    height: 151px;
    margin-bottom: 0px !important;
  }
  &__slider-dots{
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 212px;
  }
  &__slider img{
    border-radius: 4px 4px 0 0;
  }  
  &__slider-dots li button{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid $white;
    cursor: pointer;
    font-size: 0;
    margin-right: 2px;
    background: transparent;
  }
    &__slider-dots li.slick-active button{
    background: $white;
  }
  &__arrow{
    position: absolute;
    top: 53px;
    cursor: pointer;
    font-family: $font-for-icons;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: transparent;
    border: none;
    z-index: 999999;
  }
  &__arrow-left{
    transform: rotate(90deg);
    left: 0;
  }
  &__arrow-right{
    transform: rotate(-90deg);
    right: 0;
  }
  // &__slider{
  //   position: relative;
  //   overflow:hidden;
  //   height: 152px;
  //   width: 270px;
  //   border-radius: 4px 4px 0px 0px;
  // }
  // &__slider img{
  //   position: absolute;
  //   top:50%;
  //   left:50%;
  //   transform:translate(-50%,-50%);
  //   width:270px;
  //   height:152px;
  //   object-fit:cover;
  // }
  &__room-specifications,
  &__bottom-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__bottom-line{
    margin-top: 10px;
  }
  &__delimeter{
    width: 230px;
    height: 1px;
    background: rgba(31, 32, 65, 0.1);
    margin-left: 20px;
    margin-top: 7px; 
  }
  &__number{
    width: 55px;
    height: 24px;
    font-family: $font-family-additionalRussianReplacer;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $darkShade100;
    margin-left: 20px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    white-space: pre;
  }
  &__number span:nth-child(2){
    font-size: 19px;
    line-height: 19px;
  }
  &__price{
    width: 100px;
    height: 20px;
    font-size: 14px;
    line-height: 18px;
    color: $darkShade50;
    white-space: nowrap;
    margin-right: 16px;
    margin-top: 24px;
    text-align: center;
  }
  &__price span:first-child{
    font-weight: bold;
    font-size: 14px;
  }
  &__price span:nth-child(2){
    font-size: 12px;
  }
  &__type{
    width: 41px;
    height: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
    margin-right: 32px;
    margin-top: 28px;
  }
  &__rate{
    margin-left: 20px;
  }
  &__comment{
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color:$darkShade50;
    margin-right: 20px;
    margin-top: 2px;
  }
  &__comment span:first-child{
    font-weight: bold;
  }
}
