.form-elements{
  &__header_checkbox-buttons{
    margin-bottom: 16.56px;
  }
  &__header_radio-buttons{
    margin-top: 30px;
    margin-bottom: 14px;
  }
  .central-column__radio-buttons-wrapper{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
  }
  .central-column__like-buttons_first{
    margin-right: 10px;
  }
  &__header_toggle{
    margin-top: 34px;
  }
  &__header_rate{
    margin-top: 40px;
  }
  .buttons-rate_first{
    margin-right: 20px;
  }
  &__header_like-buttons{
    margin-top: 40px;
  }
  .central-column__like-buttons-wrapper{
    display: flex;
    flex-direction: row;
  }
  .central-column__rate-buttons-wrapper{
    display: flex;
    flex-direction: row;
  }
  .wrapper-radio-buttons_first{
    margin-right: 20px;
  }
  &__header_dropdown{
    margin-top: 197px;
    margin-bottom: 4px !important;
  }
  &__buttons-rich_second{
    margin-top: 10px;
  }
  &__header_rich-buttons{
    margin-top: 256px;
    margin-bottom: 16px;
  }
}
