
.range-slider__wrapper{
  margin-bottom: 35px;
}
.header_buttons{
  margin-bottom: 16px;
}
.form-elements__buttons-wrapper{
  width: 218px;
}
.form-elements__buttons-wrapper_first-row,
.form-elements__buttons-wrapper_second-row,
.form-elements__buttons-wrapper_third-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form-elements__buttons-wrapper_fourth-row{
  margin-bottom: 40px;
}
.header_pagination{
  margin-bottom: 16px;
}
.header_bullet{
  margin-top: 256px;
  margin-bottom: 12px;
}
.pagination{
  margin-bottom: 230px;
} 