.form-elements{
  &__header_buttons{
    margin-top: 33px;
  }
  &__buttons-wrapper{
    width: 218px;
  }
  &__buttons-wrapper_first-row,
  &__buttons-wrapper_second-row,
  &__buttons-wrapper_third-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  &__buttons-wrapper_first-row,
  &__buttons-wrapper_second-row{
    justify-content: space-between;
  }
  &__buttons-wrapper_fourth-row{
    margin-bottom: 40px;
  }
  .third-row-buttons_first{
    margin-right: 20px;
  }
  &__header_pagination{
    margin-bottom: 16px;
  }
  &__header_bullet{
    margin-top: 256px;
    margin-bottom: 12px;
  }
  &__header_dropdown-right{
    margin-top: 232px;
    margin-bottom: 4px !important;
  }
}
