@import '../../ui-kit/modules/dropdown/dropdown.scss';
@import '../../ui-kit/modules/range-slider/range-slider.scss';
@import '../../ui-kit/modules/text-field/text-field.scss';
@import '../../ui-kit/modules/button/button.scss';
@import '../../ui-kit/modules/toggle/toggle.scss';
@import '../../ui-kit/modules/switch/switch.scss';
@import '../../ui-kit/modules/list/list.scss';
@import '../../ui-kit/modules/comment/comment.scss';
@import '../../ui-kit/modules/pagination/pagination.scss';
@import './form-elements-left-column.scss';
@import './form-elements-central-column.scss';
@import './form-elements-right-column.scss';
.form-elements{
  background-color: white;
  &__wrapper{
    padding: 25px 141px 0px 141px;
    font-family: $font-family-main,$fallback-font;
    display: grid;
    grid-template-areas:
      "header header header" 
      "left central right"
      "left central right"
      "left comment comment";
    grid-template-columns: 320px 446px 320px;
    grid-template-rows: 78px 1fr 1fr 158px;
  }

  &__central-column {
    grid-area: central;
    padding-left: 126px;
  }
  &__left-column {
    grid-area: left;
  }
  &__right-column {
    grid-area: right;
    padding-left: 72px;
  }
  &__comment{
    grid-area: comment;
    padding-left: 125px;
    padding-top: 8px;
  }
  &__header{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: space-between;
    font-family: $font-family-main,$fallback-font;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
  }
  &__header_extra{
    font-weight: normal;
    color: $darkShade50;
  }
  &__header-central,
  &__header-right{
    margin-bottom: 16px;
  }
}






