include ../../logo/logo-toxin.pug
include ../../list-links/list-links.pug
include ../../subscribe/subscribe.pug
mixin footer-widget( {logoText='Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды».',links = [{isVertical:true,links:[{ text: 'навигация' ,isActive: true }, { text: 'О нас', }, { text: 'Новости'  }, { text: 'Служба поддержки' }, { text: 'Услуги', },],},{isVertical:true,links:[{ text: 'О нас' ,isActive: true },{ text: 'О сервисе', },{ text: 'Наша команда'  },{ text: 'Вакансии' },{ text: 'Инвесторы', },]},{isVertical:true,links:[ {text: 'Служба поддержки',isActive: true },{ text: 'Соглашения',},{ text:'Сообщества',},{text:'Связь с нами',},],}]}={})
  footer.footer-widget
    .footer-widget__wrapper
      .footer-widget__logo
        +logo()
        p=logoText
      nav(class='footer-widget__links')
        each link in links
          +list-links(link)
      .footer-widget__subscribe
        +subscribe()