@import '../../subscribe/subscribe.scss';
.footer-widget {
  max-width: $container-width;
  font-family: $font-family-main,$fallback-font;
  height: 372px;
  border-top: 1px solid $darkShade25;
  background: $white;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;

  &__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0px auto;
    padding-top: 104px;
  }
  &__logo {
    width: 260px;
    height: 132px;
  }
  &__logo img{
    margin-top: -3px;
  }
  &__logo p {
    width: 260px;
    margin-top: 15px;
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: $darkShade75;
  }
  &__links{
    max-width: 549px;
    margin-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__links .list-links:nth-child(2){
    margin-right: 30px;
  }
}

@media(max-width:1130px){
  .footer-widget__logo{
    display: none;
  }
  .footer-widget__wrapper{
    justify-content: center;
  }
}
@media (max-width:$container-mobile-width){
  .footer-widget,
  .footer-widget__subscribe{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .footer-widget__wrapper{
    padding-top: 0px;
  }
  .footer-widget{
    height: 200px;
  }
  .footer-widget__logo,
  .footer-widget__links{
    display: none;
  }
  .footer-widget__subscribe{
    margin-top: 0px;
  }
  .footer-widget,
  .footer-widget__subscribe{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .footer-widget__subscribe{
    margin-top: 10px;
  }
}