include ../button/button.pug
include ../text-field/text-field.pug
include ../dropdown/dropdown.pug
mixin searchnumber(options)
 form.search-number
  .search-number__wrapper
      h2(class="search-number__header")='Найдём номера под ваши пожелания'
      .search-number__dropdown-headers
        h3(class="search-number__header search-number_dropdown-header")='прибытие'
        h3(class="search-number__header search-number_dropdown-header")='выезд'
      .search-number__dropdown-filter
        +dropdown({
                  placeholder:'ДД.ММ.ГГГГ',
                  typeDropdown:'filter-date',
                  isExpanded:false,
                  })
      h3(class="search-number__header search-number_dropdown-header-guests")='гости'
      +dropdown({
                placeholder:"Сколько гостей",
                typeDropdown:'guests',
                isExpanded:false, 
                labels:[
                        {text:"взрослые",counterNumber:0},
                        {text:"дети",counterNumber:0},
                        {text:"младенцы",counterNumber:0},
                        ],
                withButtons:true
                })
      .search-number__button
        +button({
                label:'ПОДОБРАТЬ НОМЕР',
                variant:'arrow',
                purpose:'submit'
                })