@import '../../burger/burger.scss';
@import '../../list-links/list-links.scss';
.header-bar {
    max-width: 100%;
    min-height: 70px;
    background: $white;
    box-shadow: 0px 10px 20px $darkShade5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: $font-family-main,$fallback-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
  &__wrapper{
    max-width: $container-width - 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
  }
  &__logo {
    height: 40px;
    width: 105.69px;
  }
  &__nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  &__delimeter{
    margin-right: 20px;
    height: 30px;
    width: 1px;
    background: rgba(31, 32, 65, 0.1);
  }
  &__nav_sign-in{
    margin-right: 20px;
    width: 87px;
    height: 34px;
    border-radius: 22px;
    border: 2px solid $purple;
    color: $purple;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__nav_register{
    width: 196px;
    height: 34px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    color: $white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user{
    color: $darkShade50;
    font-family: $font-family-main,$fallback-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-decoration: none;
  }
}

@media (max-width:910px){
  .header-bar__logo,
  .header-bar__delimeter{
    display: none;
  }
}
@media (max-width:$container-mobile-width){
  .header-bar__wrapper{
    align-items: flex-start;
    padding: 20px;
  }
  .header-bar{
    height: auto;
    min-height: auto;
  }
  .header-bar__nav{
    display: none;
    flex-direction: column;
    width: 200px;
    justify-content: center;
  }
  .header-bar__nav.burger-active{
    display: flex;
  }
  .header-bar__nav_sign-in{
    margin-right: 0px;
    margin-bottom: 10px;
  }
}