.button-rich {
  height: 51px;
  font-family: $font-family-main, $fallback-font;
  width: 266px;

  &__checkbox-input {
    position: absolute;
    opacity: 0;
    margin-left: 10px;
    visibility: hidden;
    z-index: -1;
  }

  &__checkbox-header {
    cursor: pointer;
    color: $darkShade75;
    display: block;
    padding-left: 30px;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    max-width: 236px;
    padding-top: 2px;
  }

  &__checkbox-text {
    cursor: pointer;
    color: $darkShade50;
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    position: relative;
    height: 28px;
    margin-top: 8px;
    margin-left: 30px;
    white-space: break-spaces;
    width: 236px;
  }

  &__checkbox-header:before {
    background: $white;
    border: 1px solid $darkShade25;
    box-sizing: border-box;
    border-radius: 4px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
  }

  &__checkbox-input:checked + .button-rich__checkbox-header:before {
    background-image: url("../assets/img/svg/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid $purple;
  }

}
