mixin button-rich( { isChecked=false, header='',label='', }={} )
  .button-rich
    label(class='button-rich__checkbox-label')
      input(class='button-rich__checkbox-input' type='checkbox' checked=isChecked)
      span(class='button-rich__checkbox-header')=header
      span(class='button-rich__checkbox-text')=label