@import "../../styles/common/constants.scss";
.list-links {
  display: flex;
  align-items: center;

  &__arrow {
    width: 24px;
    height: 21px;
    font-family: $font-for-icons;
    font-size: 2rem;
    line-height: 1.67rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $darkShade50;
    cursor: pointer;
  }

  &__link {
    margin-right: 20px;
    cursor: pointer;
    text-align: center;
    position: relative;
  }

  &__ref,
  &__sub-ref {
    color: $darkShade50;
    font-size: 1.16rem;
    line-height: 1.42rem;
    font-weight: 400;
    font-family: inherit;
    white-space: nowrap;
  }

  &__sub-ref {
    margin: 10px 10px 0 10px;
  }

  &__sub-ref:last-child {
    margin-bottom: 10px;
  }

  &__sub-ref:hover {
    color: $darkShade75;
  }

  &__sub-links {
    display: none;
    width: inherit;
    height: auto;
    background-color: $white;
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 9;
    border: 1px solid $darkShade25;
  }

  &__sub-links_is-visible {
    display: flex;
    flex-direction: column;
  }

  &__ref_active {
    font-weight: bold;
    color: $darkShade75;
    text-align: center;
  }

  &_vertical {
    flex-direction: column;
    align-items: flex-start;

    .list-links__ref_active {
      text-transform: uppercase;
      margin-bottom: 21px;
      color: $darkShade100;
      font-size: 1rem;
    }

    .list-links__link {
      margin-right: 0;
      margin-bottom: 20px;
      font-size: 1rem;
    }

    .list-links__link:last-child {
      margin-bottom: 0px;
    }

  }

  &__link_is-expandable {
    display: flex;
    align-items: center;
  }

}

@media (max-width: $container-tablet-width) {
  .list-links__link{
    margin-right: 10px;
  }
}

@media (max-width: $container-mobile-width) {

  .list-links {
    flex-direction: column;
    justify-content: center;

    &__link {
      margin-right: 0px;
      margin-bottom: 10px;
    }

    &__sub-links {
      top: 25px;
    }
    
  }
}
