$darkShade100:  #1f2041;
$darkShade75:   rgba(31, 32, 65, 0.75);
$darkShade50:   rgba(31, 32, 65, 0.5);
$darkShade25:   rgba(31, 32, 65, 0.25);
$darkShade5:    rgba(31, 32, 65, 0.05);
$boxShadow:     rgba(0, 0, 0, 0.2);
$purple:        #BC9CFF;
$green:         #6FCF97;
$white:         #ffffff;
$grey:          #e5e5e5;
$selectedDate: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$buttonColor: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$font-family-main: Montserrat;
$font-family-additional: Quicksand;
$font-family-additionalRussianReplacer: OpenSans;
$font-for-icons: Material Icons;
$container-width: 1440px;
$container-mobile-width: 770px;