/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}


/* open-sans-italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-600italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/opensans/open-sans-v18-latin_cyrillic-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* quicksand-regular - latin-ext_latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/quicksand/quicksand-v21-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/quicksand/quicksand-v21-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/quicksand/quicksand-v21-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/quicksand/quicksand-v21-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/quicksand/quicksand-v21-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/quicksand/quicksand-v21-latin-ext_latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}

/* quicksand-600 - latin-ext_latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/quicksand/quicksand-v21-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/quicksand/quicksand-v21-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/quicksand/quicksand-v21-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/quicksand/quicksand-v21-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/quicksand/quicksand-v21-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/quicksand/quicksand-v21-latin-ext_latin-600.svg#Quicksand') format('svg'); /* Legacy iOS */
}


/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-regular.ttf') format('truetype'); /* Safari, Android, iOS */

}

/* montserrat-italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-italic.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-600.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* montserrat-600italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-600italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat/montserrat-v15-latin_cyrillic-600italic.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face { 
    font-family: "rouble";
    src: url("../assets/fonts/rouble.otf") format("opentype");
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for IE. */
  font-feature-settings: 'liga';
}