html{
  font-family: $font-family-main,$fallback-font !important;
  font-size: $font-size !important;
}
.flexible-body{
  display: flex;
  flex-direction: column;
}
.main{
  display: flex;
  flex-grow: 1;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
}