.sign-up{
  &__wrapper{
    width: 380px;
    height: 646px;
    border-radius: 4px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px $boxShadow;
    padding-left: 30px;
    padding-right: 30px;
  }
  &__text-wrapper{
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__header{
    color: $darkShade100;
    font-style: normal;
    font-weight: 700;
    font-family: $font-family-main,$fallback-font;
  }
  &__header-reg{
    font-size: 24px;
    line-height: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  &__header-birthday,
  &__header-data{
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__header-data{
    margin-top: 20px;
  }
  &__radio-button-wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 19px;
  }
  &__radio-button-wrapper_first-button{
    margin-right: 20px;
  }
  &__toggle{
    margin-bottom: 20px;
  }
  &__footer{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__account{
    font-family: $font-family-main,$fallback-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
  }
}
