.heading{
  font-family: $font-family-main,$fallback-font;
  color: $darkShade100;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0em;

  &_level{

    &_h1{
      font-size: 2rem;
      line-height: 2.42rem;
    }

    &_h2{
      font-size: 1.58rem;
      line-height: 1.92rem;
    }

    &_h3{
      font-size: 1rem;
      line-height: 1.25rem;
      text-transform: uppercase;
    }

  }

}