extends ../../components/template.pug

block variables
  - let pageTitle = 'Sign-in page'

block content

  include ../../components/sign-in/sign-in.pug

  main.main
    .main__content
      .main__img-wrapper
        +signin({action:'#'})