@import "../../styles/common/constants.scss";
@import "../../styles/common/pages.scss";

.main {

  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1 0 auto;

  &__img-wrapper {
    min-height: 702px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/img/jpg/registration.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }

  &__img-wrapper .sign-in {
    margin: 172px auto;
  }

  &__content {
    flex: 1 0 auto;
  }

  & footer {
    flex: 0 0 auto;
  }

}

@media (max-width: $container-mobile-width) {

  .main__wrapper {
    max-width: none;
    max-height: none;
  }

  .main__img-wrapper .sign-in {
    margin: 20px auto;
  }
  
}
