include ../../components/headers/header.pug
include ../../components/footers/footer.pug
.headers-and-footers__login
  - const defaults = require('@/pages/headers-and-footers/defaultSettings.json')
  +header({ type:'nav', links:defaults })
.headers-and-footers__header-nav
  +header({ type:'login', links:defaults })
.headers-and-footers__footer-nav
  +footer({type:'widget'})
.headers-and-footers__footer-copy
  +footer({type:'copyright'})
.headers-and-footers__footer-logo
  +footer({type:'creative'})

