include ../UIKit/modules/roomprice.pug
include ../UIKit/modules/list.pug
include ../UIKit/modules/diagram.pug
html(lang="en")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="отель поиск номеров")
  include ../Favicon/favicon.pug
  title Search page
 body.details-wrapper
  header.header
   include ../UIKit/modules/standardNavBar.pug
  .details-wrapper__content
   .details-wrapper__room-images
    .details-wrapper__room-images_big
      img(src="roomdetailsbig.jpg", alt="room image")
    .details-wrapper__room-images_small
      .details-wrapper__room-images_small-top
        img(src="roomdetailsmalltop.jpg", alt="room image small")
      .details-wrapper__room-images_small-bottom
        img(src="roomdetailsmallbottom.jpg", alt="room image small")
   section.details-wrapper__body
    .details-wrapper__body_left-column
      section.left-column-info
        .left-column-info__data
          h2='Сведения о номере'
          +list({type:'icons',icon:'insert_emoticon',header:'Комфорт',text:'Шумопоглощающие стены'})
          +list({type:'icons',icon:'location_city',header:'Удобство',text:'Окно в каждой из спален'})
          +list({type:'icons',icon:'local_fire_department',header:'Уют',text:'Номер оснащен камином'})
        .left-column-info__impressions  
          h2='Впечатления от номера'
          +diagram({number:260,label:'голосов',segments:[
            {class:"diagramchart__donut-segment",stroke:"#BC9CFF",dasharray:"25 75",dashoffset:"25"},
            {class:"diagramchart__donut-segment",stroke:"#6FCF97",dasharray:"25 75",dashoffset:"0"},
            {class:"diagramchart__donut-segment-delimeter",stroke:"#fff",dasharray:"1 99",dashoffset:"26"},{class:"diagramchart__donut-segment-delimeter",stroke:"#fff",dasharray:"1 99", dashoffset:"0"},{class:"diagramchart__donut-segment-delimeter",stroke:"#fff",dasharray:"1 99",dashoffset:"76"}]})
      section.left-column-comments
      section.left-column-rules
    .details-wrapper__body_right-column
      +roomprice({roomNumber:888,priceHeader:'9 990₽',roomType:'люкс',commentNumber:145,price:'9 990₽ х 4 суток',total:'39 960₽',discount:'Сбор за услуги: скидка 2 179₽',fee:'0₽',extraFee:'300₽',totalPrice:'38 081₽'})
  footer.footer
   include ../UIKit/modules/footerWidget.pug
   include ../UIKit/modules/footerCopyrightBar.pug