include ../UIKit/modules/dropdown.pug
html(lang="en")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="отель")
  title Search page
 body.search-wrapper
  header.header
   include ../UIKit/modules/standardNavBar.pug
  div.search-wrapper__content
   div.search-wrapper__content_left-column
    +dropdown({placeholder:'19 авг - 23 авг',typeDropdown:'filter',isExpanded:false})
   div.search-wrapper__content_right-column
  footer.footer
   include ../UIKit/modules/footerWidget.pug
   include ../UIKit/modules/footerCopyrightBar.pug
  

 
