include ../button/button.pug
include ../button-radio/button-radio.pug
include ../text-field/text-field.pug
include ../toggle/toggle.pug
include ../heading/heading.pug
mixin signup(options)
  form(class='sign-up' action=options.action)
    .sign-up__wrapper
      .sign-up__header-reg
        +heading({nestingLevel:'h1',text:'Регистрация аккаунта'})
      .sign-up__text-wrapper
        +textfield({
                  isDefault:true,
                  placeholder:'Имя'
                  })
        +textfield({
                    isDefault:true,
                    placeholder:'Фамилия'
                    })
      .sign-up__radio-button-wrapper
        +button-radio({
                  label:'Мужчина',
                  isChecked:true,
                  id:'sign-male'
                  })
        +button-radio({
                label:'Женщина',
                id:'sign-female'
                })
      .sign-up__header-birthday
        +heading({nestingLevel:'h3',text:'Дата рождения'})
      +textfield({
                  isMasked:true,
                  placeholder:'ДД.ММ.ГГГГ'
                  })
      .sign-up__header-data
        +heading({nestingLevel:'h3',text:'Данные для входа в сервис'})
      .sign-up__text-wrapper
        +textfield({
                    isDefault:true,
                    placeholder:'Email',
                    })
        +textfield({
                    isPassword:true,
                    placeholder:'Пароль',
                    })
      .sign-up__toggle
        +toggle({labels:[{name:'Получать спецпредложения',  isPositive:false}]})
      +button({label:'ПЕРЕЙТИ К ОПЛАТЕ',variant:'icon',purpose:'submit'})
      footer.sign-up__footer
        span.sign-up__account='Уже есть аккаунт на Toxin'
        +button({label:'Войти',tag:'a',href:'./sign-in-page.html',color:'white'})
