@import '../components/text-field/text-field.scss';

.sign-up {
  max-width: 380px;
  width: 100%;
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px $boxShadow;
  border-radius: 4px;
  min-height: 646px;
  padding: 40px 30px 30px 30px;

  &__wrapper {
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
  }

  &__text-wrapper {
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__header {
    color: $darkShade100;
    font-style: normal;
    font-weight: 700;
    font-family: inherit;
  }

  &__header-reg {
    padding-bottom: 20px;
  }

  &__header-birthday,
  &__header-data {
    margin-bottom: 5px;
  }

  &__header-data {
    margin-top: 20px;
  }

  &__radio-button-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 19px;
    gap: 20px;
  }

  &__toggle {
    margin-bottom: 20px;
  }

  &__footer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__account {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 1.16rem;
    line-height: 1.5rem;
    color: #000000;
  }
  
}

  @media (max-width:380px){
    .sign-up{
      padding: 40px 10px 30px 10px;
    }
  
}

