block variables
  - description = 'Верстка в рамках 2 задания учебного курса Znack'

doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="description" content=description)
    title=pageTitle
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    include ../../favicon/favicon.pug

  body
    include ./headers/header.pug
    +header({type:'nav'})
    
    block content
    
    include ./footers/footer.pug
    +footer({type:'widget'})
    +footer({type:'copyright'})