block variables
  - description = 'Верстка в рамках 2 задания учебного курса MetaLamp'

doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="description" content=description)
    title=pageTitle
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    include ../../favicon/favicon.pug

    include ./headers/header.pug
    +header({type:'nav',
    links:
    [
      { text: 'О нас' ,isActive: true, href:'/mock-address/change-me'},
      { text: 'Услуги', isExpandable: true,href:'/mock-address/change-me',
        sublinks:[
                  {text: 'sublink1',href:'/mock-address/change-me'},
                  {text: 'sublink2',href:'/mock-address/change-me'},
                  {text: 'sublink3',href:'/mock-address/change-me'},
                ]
      },
      { text: 'Вакансии',href:'/mock-address/change-me'},
      { text: 'Новости',href:'/mock-address/change-me'},
      { text: 'Соглашения', isExpandable: true,href:'/mock-address/change-me',
        sublinks:[
                  {text: 'sublink1',href:'/mock-address/change-me'},
                  {text: 'sublink2',href:'/mock-address/change-me'},
                  ]
      },
    ]
      })
    
    block content
    
    include ./footers/footer.pug
    +footer({type:'widget'})
    +footer({type:'copyright'})