mixin textfield(options)
 -
  var textfieldClassName = "text-field"
  textfieldClassName+=options.isFocused ? ' text-field_focused' : ''
  textfieldClassName+=options.isMasked ? ' text-field_masked' : ''
  textfieldClassName+=options.isSubscription ? ' text-field_subscription' : ''
  var inputClassName = ''
  inputClassName+=options.isMasked ? ' text-field_input-date': ''
  var inputType=''
  inputType+=options.isFocused ? 'text' : ''
  inputType+=options.isDefault ? 'email' : ''
  inputType+=options.isMasked ? 'text' : ''
  inputType+=options.isSubscription ? 'email' : ''
 div(class = textfieldClassName)
  div(class='text-field__input-wrapper')
    input(type=options.type placeholder=options.placeholder class=inputClassName)
    if options.isSubscription
      div(class='text-field__input-wrapper_arrow')='arrow_forward'
    
