@import '../dropdown-counter/dropdown-counter.scss';
@import './dropdown-date.scss';
.dropdown{
  position: relative;
  font-family: $font-family-main,$fallback-font;
  line-height: 14.63px;
  height: 44px;
  background: $white;
  box-sizing: border-box;
  &__guests{
    max-width: 320px;
    width: 100%;
    border: 1px solid $darkShade50;
    border-radius: 2px;
    cursor: pointer;
  }
  &__room{
    width: 266px;
    border: 1px solid $darkShade25;
    border-radius: 2px 2px 0px 0px;
    cursor: pointer;
  }
  &__room.dropdown_active{
    border: 1px solid $darkShade50;
  }
  &__input-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  &__input{
    border: none;
    outline: none;
    -webkit-appearance: none;
    height: 24px;
    padding-left: 15px;
    margin-top: 8px;
    font-family: $font-family-main,$fallback-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
  }
  &__guests .dropdown__input{
    width: 180px;
    overflow: hidden;
  }
  &__input::placeholder {
    font-family: $font-family-main,$fallback-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    height: 18px;
    color: $darkShade75;
  }
  &__arrow {
    width: 44px;
    height: 44px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $darkShade50;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__body {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: none;
    position: absolute;
    top:42px;
    z-index: 3;
    width: inherit;
    background: $white;
    border: 1px solid $darkShade50;
    box-sizing: border-box;
    border-radius: 0px 0px 2px 2px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }
  &_active {
    display: block;
  }
  &__body-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $purple;
    margin: 20px 7px 12px 14px;
  }
  .buttons-dropdown__clear,
  .buttons-dropdown__apply{
    cursor: pointer;
  }
  .buttons-dropdown_hidden {
    visibility: hidden;
    cursor: none;
  }
}



