@import '../../../styles/common/constants.scss';
.search{
  &-wrapper{
    margin: 0px auto; 
    font-family: $font-family-main,$fallback-font;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  &__content{
    flex: 1 0 auto;
    margin: 30px auto 0px auto;
    max-width: $container-width;
    display: grid;
    grid-template-areas: 
    'left right';
    grid-template-columns: 320px 834px;
    grid-template-rows: 1fr 75px;
    column-gap: 6px;
    max-width: 1160px;
    height: 1325px;
  }
  .search footer{
    flex: 0 0 auto;
  }
  &__left-column{
  grid-area: left;
  display: flex;
  flex-direction: column;
  }
  .left-column__dropdown-filter{
    width: 266px;
  }
  .left-column__header{
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkShade100;
    margin-bottom: 5px;
  }
  .left-column__header_guests{
    margin-top: 20px;
  }
  .range-slider__wrapper{
    margin-bottom: 5px;
  }

  .left-column__header_price{
    font-size: 12px;
    line-height: 14px;
    color: $darkShade50;
    margin-bottom: 31px;
    font-weight: normal;
    text-transform: none;
  }
  .left-column__header_rules,
  .left-column__header_availability{
    margin-bottom: 16px;
  }
  .left-column__button-check{
    margin-bottom: 18px;
  }
  .left-column__button-rich_first{
    margin-bottom: 10px;
  }
  .left-column__button-rich_last{
    margin-bottom: 31px;
  }
  .left-column__dropdown-room,
  .left-column__dropdown-guests{
    width: 266px;
  }
  .left-column__dropdown-guests{
    margin-bottom: 27px;
  }
  .left-column__dropdown-room{
    margin-bottom: 15px;
  }
  &__right-column{
    grid-area: right;
  }
  .right-column__rooms{
    display: grid;
    grid-template-columns: repeat(3,270px);
    grid-template-rows: repeat(4,257px);
    row-gap: 20px;
    column-gap: 12px;
  }
  .right-column__pagination{
    margin-top: 44px;
    display: flex;
    justify-content: center;
  }
  .right-column__header{
    font-family: $font-family-main,$fallback-font;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $darkShade100;
    margin-bottom: 21px;
  }
} 

@media (max-width:$container-mobile-width){
  .search-wrapper{
    max-width: none;
    max-height: none;
  }
  .search__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .search .right-column__rooms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search .right-column__pagination{
    margin: 10px auto 0px auto;
  }
}
