@import '../button-radio/button-radio.scss';
@import '../button-rich/button-rich.scss';
@import '../button-check/button-check.scss';
@import '../button-rate/button-rate.scss';
.button{
	border: none;
	cursor: pointer;
	font-family: $font-family-main,$fallback-font;
	font-style: normal;
	text-decoration: none;
	overflow: hidden;
	position: relative;

		&-common{
			width: 99px;
			height: 44px;
			border-radius: 22px;
		}
		&_wide{
			width: 196px;
		}
		&-dark,&-dark50{
			background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
			text-transform: uppercase;
			color: $white;
			font-weight: bold;
			font-size: 12px;
			line-height: 15px;
		}
		&-dark50{
			opacity: 0.5;
		}
		&-white,&-link{
			background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
			border-radius: 22px;
			position: relative;
		}
		&-white::before,&-link::before{
			content: '';
			position: absolute;
			left: 2px;
			top: 2px;
			padding: 2px;
			z-index: 1;
			background: #ffffff;
			bottom: 2px;
			right: 2px;
			border-radius: inherit;
		}
		&-white span,&-link span{
			position: relative;
			z-index: 2;
		}
		&-link{
			text-decoration: none;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&-white50{
			background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%,
			rgba(139, 164, 249, 0.5) 100%);
			border-radius: 22px;
			position: relative;
		}
		&-white50::before{
			content: '';
			position: absolute;
			left: 2px;
			top: 2px;
			padding: 2px;
			z-index: 1;
			background: #ffffff;
			bottom: 2px;
			right: 2px;
			border-radius: inherit;
		}
		&-white50 span{
			position: relative;
			z-index: 2;
			color: $purple;
			opacity: 1;
		}
		&-white span,
		&-link span,
		&-white50 span,
		&-transparent span{
			font-weight: bold;
			font-size: 12px;
			line-height: 15px;
			text-transform: uppercase;
			color:$purple;
			white-space: nowrap;
		}

		&-transparent,
		&-transparent50{
			border: none;
			background: none;
			height: 15px;
			width: 61px;
			padding: 0px;
		}

		&-transparent50 span{
			font-weight: bold;
			font-size: 12px;
			line-height: 15px;
			text-transform: uppercase;
			color: $darkShade50;
			text-decoration: none;
		}
}
@import '../button-like/button-like.scss';
.button-with-arrow{
	width: 320px;
	height: 44px;
	border-radius: 22px;
	position: relative;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: $white;

		&__arr{
			font-weight: normal;
			line-height: 24px;
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			color: $white;
			height: 44px;
			width: 44px;
			position: absolute;
			top: 0;
			left: 276px;
		}
		&__label{
			max-width: 256px;
			max-height: 15px;
			overflow: hidden;
		}
}
