include ../../social-networks/social-networks.pug
mixin footer-copyright( {copyrightText='Copyright © 2018 Toxin отель. Все права зачищены.' }={})
  footer.footer-copyright
    .footer-copyright__wrapper
      .footer-copyright__rights=copyrightText 
      .footer__social-networks-links
        +social-networks()
