@import '../../social-networks/social-networks.scss';
.footer-copyright {
  max-width: 100%;
  min-height: 70px;
  background: $white;
  box-shadow: 0px 10px 20px $darkShade5;
  border-top: 1px solid $darkShade25;
  font-style: normal;
  font-weight: normal;
  font-family: $font-family-main,$fallback-font;
  display: flex;
  align-items: center;

  &__wrapper{
    margin: 0px auto;
    max-width: $container-width - 250px;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 15px 0px 15px;
  }
  .footer-copyright__rights {
    max-width: 367px;
    font-size: 14px;
    line-height: 17px;
    color: $darkShade75;
  }
}

@media (max-width:$container-mobile-width){
  .footer-copyright__wrapper{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .footer-copyright__rights{
    display: none;
  }
  .footer__copyright{
    margin: 5px 0px 10px 0px;
    display: flex;
    justify-content: center;
  }
  .footer__social-networks-links{
    margin: 0px 0px 25px 0px;
  }
}