.search-number__wrapper{
  width: 380px;
  height: 374px;
  background-color: $white;
  box-shadow: 0px 0px 25px $boxShadow;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
}
.search-number__wrapper h2{
    font-family: $font-family-additionalRussianReplacer,$fallback-font;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $darkShade100;
    padding: 40px 0px 21px 0px;
  }
.search-number__wrapper h3{
    font-family: $font-family-main,$fallback-font;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkShade100;
    margin-bottom: 6px;
  }
  .search-number__dropdowns{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .search-number__wrapper .button-with-arrow{
    margin-top: 31px;
  }
  .search-number__dropdown:first-child{
  margin-right: 20px;
  }
  .dropdown-input__guests{
  margin-bottom: 31px;
  }