mixin dropdown-counter( options )
  section.dropdown-counter.js-dropdown-counter
     h3.dropdown-counter__header=options.text
     .dropdown-counter__container.container-dropdown 
       .container-dropdown__decrease.js-container-dropdown__decrease  -
       .container-dropdown__value.js-container-dropdown__value=options.counterNumber
       .container-dropdown__increase.js-container-dropdown__increase +
