@import "../../styles/common/constants.scss";
@import "../../styles/common/pages.scss";

.main {

  &__content {
    flex: 1 0 auto;
    margin: 30px auto 0 auto;
    max-width: $container-width + 30px;
    padding: 0 15px;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 320px 834px;
    grid-template-rows: 1fr 75px;
    column-gap: 6px;
    max-width: $container-width -250px;
  }

  & footer {
    flex: 0 0 auto;
  }

  &__left-column {
    grid-area: left;
    display: flex;
    flex-direction: column;
  }

  &__right-column {
    grid-area: right;
  }
  
  .left-column{

    &__dropdown-filter {
      width: 266px;
    }

    &__header {
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: $darkShade100;
      margin-bottom: 5px;
    }

    &__header_guests {
      margin-top: 20px;
    }

    &__header_price {
      font-size: 12px;
      line-height: 14px;
      color: $darkShade50;
      margin-bottom: 31px;
      font-weight: normal;
      text-transform: none;
    }

    &__header_rules,
    &__header_availability {
      margin-bottom: 16px;
    }

    &__button-check {
      margin-bottom: 18px;
    }

    .left-column__button-rich{
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 31px;
    }

    &__dropdown-room,
    &__dropdown-guests {
      width: 266px;
    }

    &__dropdown-guests {
      margin-bottom: 27px;
    }

    &__dropdown-room {
      margin-bottom: 15px;
    }

  }
  
  .range-slider__wrapper {
    margin-bottom: 5px;
  }


  .right-column{
    &__rooms {
      display: grid;
      grid-template-columns: repeat(3, 270px);
      grid-template-rows: repeat(4, 257px);
      row-gap: 20px;
      column-gap: 12px;
    }

    &__pagination {
      margin-top: 44px;
      display: flex;
      justify-content: center;
    }

    &__header {
      font-family: $font-family-main, $fallback-font;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: $darkShade100;
      margin-bottom: 21px;
    }
  }
  
}

@media (max-width: 1230px) {

  .main .right-column__rooms {
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(6, 257px);
  }

}
@media (max-width: $container-tablet-width) {

  .main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .main .right-column__rooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main .right-column__pagination {
    margin: 10px auto 0 auto;
  }
  .main .right-column__header{
    text-align: center;
  }
  
}
