.room-price {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px $boxShadow;
  border-radius: 4px;
  max-width: 380px;
  width: 100%;
  min-height: 511px;
  background: $white;
  font-style: normal;
  padding: 40px 30px 30px 30px;

  &__wrapper {
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
  }

  &__room-specifications,
  &__room-specifications {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 13px;
  }

  &__number {
    font-family: $font-family-additionalRussianReplacer, $fallback-font;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 64px;
    height: 33px;
    margin-right: 5px;
    font-weight: bold;
    white-space: pre;
    margin-top: 3px;
  }

  &__number span:first-child {
    font-size: 14px;
    line-height: 17px;
  }

  &__number span:nth-child(2) {
    font-size: 23px;
    line-height: 23px;
  }

  &__type {
    font-family: $font-family-main, $fallback-font;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
  }

  &__price {
    margin-left: auto;
    width: 100px;
    font-family: $font-family-main, $fallback-font;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $darkShade50;
    white-space: pre;
  }

  &__price span:nth-child(2) {
    font-weight: normal;
    font-size: 12px;
  }

  &__header {
    margin-bottom: 6px;
  }

  &__dropdown-date-header {
    display: flex;
    flex-direction: row;
  }

  &__dropdown-header {
    width: 150px;
  }

  &__dropdown-header:first-child {
    margin-right: 20px;
  }

  &__dropdown-guests {
    margin-bottom: 19px;
    margin-top: 20px;
  }

  &__start-price,
  &__service-fee,
  &__service-extra-fee,
  &__total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: normal;
    font-style: normal;
    font-family: $font-family-main, $fallback-font;
    font-size: 14px;
    line-height: 24px;
    color: $darkShade75;
  }

  &__start-price div:first-child,
  &__service-fee div:first-child,
  &__service-extra-fee div:first-child {
    width: 239px;
  }

  &__service-extra-fee div:first-child {
    line-height: 18px;
    height: 36px;
  }

  &__start-price,
  &__service-fee {
    margin-bottom: 10px;
  }

  &__service-extra-fee {
    margin-bottom: 30px;
  }

  &__total-price {
    margin-bottom: 20px;
  }

  &__total-price div{
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: $darkShade100;
  }

  &__extra-info {
    width: 20px;
    height: 20px;
    border: 1px solid $darkShade25;
    color: $darkShade25;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }

  &__service-fee div:first-child,
  &__service-extra-fee div:first-child {
    display: flex;
    flex-direction: row;
  }

}

@media (max-width:380px){
    .room-price{
      padding: 40px 10px 30px 10px;
    }
  
}