include ../logo/logo-toxin.pug
include ../list-links/list-links.pug
include ../subscribe/subscribe.pug
mixin footer-widget( { logoText='',links = [], }={})
  footer.footer-widget
    .footer-widget__wrapper
      .footer-widget__logo
        +logo()
        p=logoText
      nav.footer-widget__links
        each link in links
          +list-links(link)
      .footer-widget__subscribe
        +subscribe()