include ../button/button.pug
include ../text-field/text-field.pug
include ../dropdown/dropdown.pug
include ../heading/heading.pug
mixin searchnumber(options)
  form.search-number
    .search-number__wrapper
      .search-number__header
        +heading({nestingLevel:'h1',text:'Найдём номера под ваши пожелания'})
      .search-number__dropdown-headers
        .search-number__header.search-number_dropdown-header
          +heading({nestingLevel:'h3',text:'прибытие'})
        .search-number__header.search-number_dropdown-header
          +heading({nestingLevel:'h3',text:'выезд'})
      .search-number__dropdown-filter
        +dropdown({
                  placeholder:'ДД.ММ.ГГГГ',
                  typeDropdown:'filter-date',
                  isExpanded:false,
                  })
      .search-number__header.search-number_dropdown-header-guests
        +heading({nestingLevel:'h3',text:'гости'})
      +dropdown({
                placeholder:"Сколько гостей",
                typeDropdown:'guests',
                isExpanded:false, 
                labels:[
                        {text:"взрослые",counterNumber:0},
                        {text:"дети",counterNumber:0},
                        {text:"младенцы",counterNumber:0},
                        ],
                withButtons:true
                })
      .search-number__button
        +button({
                label:'ПОДОБРАТЬ НОМЕР',
                variant:'icon',
                purpose:'submit'
                })