include ../textField/textField.pug
.footer-nav__container
  .footer-nav__wrapper
    .footer-nav__logo
      img(src="../src/assets/img/svg/footer-toxin.svg", alt="")
      p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды».
    nav(class="footer-nav__links")
      div(class="footer-nav__links_navigation") 
        a(href='#' ) навигация
        a(href='#' ) О нас
        a(href='#' ) Новости
        a(href='#' ) Служба поддержки
        a(href='#' ) Услуги
      .footer-nav__links_about-us
        a(href='#' ) о нас
        a(href='#' ) О сервисе
        a(href='#' ) Наша команда
        a(href='#' ) Вакансии
        a(href='#' ) Инвесторы
      .footer-nav__links_support
        a(href='#' ) служба поддержки
        a(href='#' ) Соглашения
        a(href='#' ) Сообщества
        a(href='#' ) Связь с нами
    .footer-nav__subscribe
      .footer-nav__subscribe-textContainer
        p.subscribe Подписка
        p Получайте специальные <br> предложения и новости сервиса
      .footer-nav__subscribe-form
        +textfield({isSubscription:true,placeholder:'Email',type:"email"})
