.footer-logo-container
 .footer__logo
  img(src="logo-toxin.svg", alt="")
  p='Copyright © 2018 Toxin отель. Все права зачищены.'
 nav.footer__logo-social-networks-links
  a(class = 'footer__logo_social-networks-links-link',href='#',target="_blank", rel="noopener noreferrer" ) 
   img(src="twitter.svg", alt="")
  a(href='#',class = 'footer__logo_social-networks-links-link',target="_blank", rel="noopener noreferrer")  
   img(src="facebook.svg", alt="")
  a(href='#',class = 'footer__logo_social-networks-links-link',target="_blank", rel="noopener noreferrer") 
   img(src="instagram.svg", alt="") 
