include ../textField/textField.pug
.footer-nav__container
  .footer-nav__wrapper
    .footer-nav__logo
      img(src="../src/assets/img/svg/footerTOXIN.svg", alt="")
      p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды».
    nav.footer-nav__links  
      .footer-nav__links_navigation
        a(class = 'footer-nav__links_link footer-nav__links_header' href='#' ) навигация
        a(class = 'footer-nav__links_link' href='#' ) О нас
        a(class = 'footer-nav__links_link' href='#' ) Новости
        a(class = 'footer-nav__links_link' href='#' ) Служба поддержки
        a(class = 'footer-nav__links_link' href='#' ) Услуги
      .footer-nav__links_about-us
        a(class = 'footer-nav__links_link footer-nav__links_header' href='#' ) о нас
        a(class = 'footer-nav__links_link' href='#' ) О сервисе
        a(class = 'footer-nav__links_link' href='#' ) Наша команда
        a(class = 'footer-nav__links_link' href='#' ) Вакансии
        a(class = 'footer-nav__links_link' href='#' ) Инвесторы
      .footer-nav__links_support
        a(class = 'footer-nav__links_link footer-nav__links_header' href='#' ) служба поддержки
        a(class = 'footer-nav__links_link' href='#' ) Соглашения
        a(class = 'footer-nav__links_link' href='#' ) Сообщества
        a(class = 'footer-nav__links_link' href='#' ) Связь с нами
    .footer-nav__subscribe
      .footer-nav__subscribe-textContainer
        p.subscribe Подписка
        p Получайте специальные <br> предложения и новости сервиса
      .footer-nav__subscribe-form
        +textfield({isSubscription:true,placeholder:'Email'})
  
   
