.footer-copyright-container
 .footer__copyright Copyright © 2018 Toxin отель. Все права зачищены.
 nav.footer__social-networks-links
  a(class = 'footer__social-networks-link' href='#' ) 
   img(src="twitter.svg", alt="")
  a(href='#' class = 'footer__social-networks-link')  
   img(src="facebook.svg", alt="")
  a(href='#' class = 'footer__social-networks-link') 
   img(src="instagram.svg", alt="")
