.footer-copyright-container {
  max-width: $container-width;
  min-height: 70px;
  background: $white;
  box-shadow: 0px 10px 20px $darkShade5;
  font-style: normal;
  font-weight: normal;
  font-family: $font-family-main,$fallback-font;
  display: flex;
  align-items: center;
}
.footer-copyright__wrapper{
  margin: 0px auto;
  max-width: $container-width - 280px;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: auto;
}
.footer__copyright {
  max-width: 367px;
  font-size: 14px;
  line-height: 17px;
  color: $darkShade75;
}
.footer__social-networks-links {
  display: flex;
  text-align: center;
  flex-direction: row;
  width: 112px;
  justify-content: space-between;
}
.footer__social-networks-link {
  text-decoration: none;
  width: 24px;
  height: 24px;
  color: $buttonColor;
}

@media (max-width:$container-mobile-width){
  .footer-copyright__wrapper{
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  }
  .footer__copyright{
  margin: 5px 0px 10px 0px;
  display: flex;
  justify-content: center;
  }
  .footer__social-networks-links{
  margin: 0px 0px 25px 0px;
  }
}