.footer-nav__container {
  max-width: $container-width;
  font-family: $font-family-main,$fallback-font;
  height: 372px;
  background: $white;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
}
.footer-nav__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0px auto;
  padding-top: 104px;
}
.footer-nav__logo {
  width: 260px;
  height: 132px;
}
.footer-nav__logo img{
  margin-top: -3px;
}
.footer-nav__logo p {
  width: 260px;
  height: 72px;
  margin-top: 18px;
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: $darkShade75;
}
.footer-nav__links {
  display: flex;
  flex-direction: row;
  width: 560px;
  height: 168px;
}
.footer-nav__links a{
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: $darkShade50;
}
.footer-nav__links_navigation,
.footer-nav__links_about-us,
.footer-nav__links_support{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-nav__links_navigation {
  width: 143px;
  margin-right: 57px;
}

.footer-nav__links_about-us a {
  display: block;
  white-space: nowrap;
}
.footer-nav__links_about-us {
  width: 108px;
  flex-wrap: nowrap;
  margin-right: 92px;
}
.footer-nav__links_about-us a:first-child,
.footer-nav__links_navigation a:first-child,
.footer-nav__links_support a:first-child {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $darkShade100;
}
.footer-nav__links_support a {
  display: block;
  white-space: nowrap;
}
.footer-nav__links_support {
  width: 149px;
  height: 130px;
}
.footer-nav__subscribe {
  display: flex;
  flex-direction: column;
  width: 260px;
}
.footer-nav__subscribe-textContainer{
  width: 260px;
  height: 84px;
  margin-bottom: 20px;
}
.footer-nav__subscribe-textContainer p {
  display: block;
  height: 48px;
  font-size: 14px;
  line-height: 24px;
  color: $darkShade75;
}
p.subscribe {
  height: 15px;
  width: 208px;
  display: block;
  white-space: nowrap;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $darkShade100;
  margin: 0px 0px 21px 0px;
}
@media(max-width:1130px){
  .footer-nav__logo{
    display: none;
  }
  .footer-nav__wrapper{
    justify-content: center;
  }
}
@media (max-width:$container-mobile-width){
  .footer-nav__container,
  .footer-nav__subscribe{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  }
  .footer-nav__wrapper{
    padding-top: 0px;
  }
  .footer-nav__container{
  height: 200px;
  }
  .footer-nav__logo,
  .footer-nav__links{
  display: none;
  }
  .footer-nav__subscribe{
  margin-top: 0px;
  }
  .footer-nav__container,
  .footer-nav__subscribe{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .footer-nav__logo,
  .footer-nav__links{
    display: none;
  }
  .footer-nav__subscribe{
    margin-top: 10px;
  }
}