.footer-logo-container
 .footer__logo
  img(src="logo-toxin.svg", alt="")
  p='Copyright © 2018 Toxin отель. Все права зачищены.'
 nav(class="footer__logo-social-networks-links social-links")
  ul
   li
    a(class = 'social-links__link',href='#',target="_blank", rel="noopener noreferrer" ) 
     img(src="twitter.svg", alt="")
   li
    a(href='#',class = 'social-links__link',target="_blank", rel="noopener noreferrer")  
     img(src="facebook.svg", alt="")
   li
    a(href='#',class = 'social-links__link',target="_blank", rel="noopener noreferrer") 
     img(src="instagram.svg", alt="") 
