.footer-copyright-container
 .footer-copyright__wrapper
  .footer__copyright Copyright © 2018 Toxin отель. Все права зачищены.
  nav.footer__social-networks-links
   ul
    li
     a(class = 'footer__social-networks-link',href='#',target="_blank", rel="noopener noreferrer") 
      img(src="twitter.svg", alt="")
    li
     a(href='#',class = 'footer__social-networks-link',target="_blank", rel="noopener noreferrer")  
      img(src="facebook.svg", alt="")
    li
     a(href='#',class = 'footer__social-networks-link',target="_blank", rel="noopener noreferrer") 
      img(src="instagram.svg", alt="")
