include ../logo/logo-toxin.pug
include ../social-networks/social-networks.pug
mixin footer-creative( {copyrightText='Copyright © 2018 Toxin отель. Все права зачищены.'}={})
  footer.footer-creative
    .footer-creative__logo
      +logo()
      p=copyrightText
    .footer-creative__links
      +social-networks()