mixin burger(options)
  div.header-burger
    input(class=options.className+'__burger-input' id=options.className+'__burger-input' type="checkbox")
    label(for=options.className+'__burger-input' class=options.className+'__burger-label')