include button.pug
mixin comment(options)
 div(class='expanded-comment')
  div(class='expanded-comment__img')
   img(src=options.imgSource, alt="")
  div(class='expanded-comment__header')
   div(class='expanded-comment__header-name')=options.headerName
   div(class='expanded-comment__header-time')=options.headerTime
  div(class='expanded-comment__like-button')
   +button({type:'like',likeNumber:options.likeNumber,isLiked:options.isLiked})
  div(class='expanded-comment__text')=options.text
