.footerLogoContainer
 .footerLogo
  img(src="../src/assets/img/svg/logoTOXIN.svg", alt="")
  p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
 nav.footerLogoSocialNetworksLinks
  a(class = 'footerLogoSocialNetworksLinks-link' href='#' ) 
   img(src="../src/assets/img/svg/twitter.svg", alt="")
  a(href='#' class = 'footerLogoSocialNetworksLinks-link')  
   img(src="../src/assets/img/svg/facebook.svg", alt="")
  a(href='#' class = 'footerLogoSocialNetworksLinks-link') 
   img(src="../src/assets/img/svg/instagram.svg", alt="") 
