.footer-copyright-container
 .footer__copyright Copyright © 2018 Toxin UI Kit. All rights reserved.
 nav.footer__social-networks-links
  a(class = 'footer__social-networks-links-link' href='#' ) 
   img(src="../src/assets/img/svg/twitter.svg", alt="")
  a(href='#' class = 'footer__social-networks-links-link')  
   img(src="../src/assets/img/svg/facebook.svg", alt="")
  a(href='#' class = 'footer__social-networks-links-link') 
   img(src="../src/assets/img/svg/instagram.svg", alt="")
