.footerCopyrightContainer
 .footerCopyright Copyright © 2018 Toxin UI Kit. All rights reserved.
 nav.footerSocialNetworksLinks
  a(class = 'footerSocialNetworksLinks-link' href='#' ) 
   img(src="../src/assets/img/svg/twitter.svg", alt="")
  a(href='#' class = 'footerSocialNetworksLinks-link')  
   img(src="../src/assets/img/svg/facebook.svg", alt="")
  a(href='#' class = 'footerSocialNetworksLinks-link') 
   img(src="../src/assets/img/svg/instagram.svg", alt="")
