include textField.pug
.footer-nav__container
 .footer-nav__logo
  img(src="../src/assets/img/svg/footerTOXIN.svg", alt="")
  p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды».
 nav.footer-nav-links  
  .footer-nav-links__navigation
   a(class = 'footer-nav-links__link' href='#' ) навигация
   a(class = 'footer-nav-links__link' href='#' ) О нас
   a(class = 'footer-nav-links__link' href='#' ) Новости
   a(class = 'footer-nav-links__link' href='#' ) Служба поддержки
   a(class = 'footer-nav-links__link' href='#' ) Услуги
  .footer-nav-links__aboutUs
   a(class = 'footer-nav-links__link' href='#' ) о нас
   a(class = 'footer-nav-links__link' href='#' ) О сервисе
   a(class = 'footer-nav-links__link' href='#' ) Наша команда
   a(class = 'footer-nav-links__link' href='#' ) Вакансии
   a(class = 'footer-nav-links__link' href='#' ) Инвесторы
  .footer-nav-links__support
   a(class = 'footer-nav-links__link' href='#' ) служба поддержки
   a(class = 'footer-nav-links__link' href='#' ) Соглашения
   a(class = 'footer-nav-links__link' href='#' ) Сообщества
   a(class = 'footer-nav-links__link' href='#' ) Связь с нами
 .footer-nav__subscribe
  .footer-nav__subscribe-textContainer
   p.subscribe Подписка
   p Получайте специальные <br> предложения и новости сервиса
  .footer-nav__subscribe-form
   +textfield({isSubscription:true,placeholder:'Email'})
  
   
