include textField.pug
.footerNavContainer
 .footerNavLogo
  img(src="../src/assets/img/svg/footerTOXIN.svg", alt="")
  p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды».
 nav.footerNavLinks
  .footerNavLinks-navigation
   a(class = 'footerNavLinks-link' href='#' ) навигация
   a(class = 'footerNavLinks-link' href='#' ) О нас
   a(class = 'footerNavLinks-link' href='#' ) Новости
   a(class = 'footerNavLinks-link' href='#' ) Служба поддержки
   a(class = 'footerNavLinks-link' href='#' ) Услуги
  .footerNavLinks-aboutUs
   a(class = 'footerNavLinks-link' href='#' ) о нас
   a(class = 'footerNavLinks-link' href='#' ) О сервисе
   a(class = 'footerNavLinks-link' href='#' ) Наша команда
   a(class = 'footerNavLinks-link' href='#' ) Вакансии
   a(class = 'footerNavLinks-link' href='#' ) Инвесторы
  .footerNavLinks-support
   a(class = 'footerNavLinks-link' href='#' ) служба поддержки
   a(class = 'footerNavLinks-link' href='#' ) Соглашения
   a(class = 'footerNavLinks-link' href='#' ) Сообщества
   a(class = 'footerNavLinks-link' href='#' ) Связь с нами
 .footerNav-subscribe
  .footerNav-subscribe-textContainer
   p.subscribe Подписка
   p Получайте специальные <br> предложения и новости сервиса
  .footerNav-subscribe-form
   +textfield({isSubscription:true,placeholder:'Email'})
  
   
