style 
 include ../../../styles/UIKit/HeadersAndFooters/footerWidget.scss
.footerNavContainer
 .footerNavLogo
  img(src="../../img/svg/footerTOXIN.svg", alt="")
  p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
 nav.footerNavLinks
  .footerNavLinks-navigation
   a(class = 'footerNavLinks-link' href='#' ) Navigation
   a(class = 'footerNavLinks-link' href='#' ) About Us
   a(class = 'footerNavLinks-link' href='#' ) News
   a(class = 'footerNavLinks-link' href='#' ) Support
   a(class = 'footerNavLinks-link' href='#' ) Products
  .footerNavLinks-aboutUs
   a(class = 'footerNavLinks-link' href='#' ) ABOUT US
   a(class = 'footerNavLinks-link' href='#' ) Who we are
   a(class = 'footerNavLinks-link' href='#' ) Our team
   a(class = 'footerNavLinks-link' href='#' ) Careers
   a(class = 'footerNavLinks-link' href='#' ) Investors
  .footerNavLinks-support
   a(class = 'footerNavLinks-link' href='#' ) SUPPORT
   a(class = 'footerNavLinks-link' href='#' ) Documentation
   a(class = 'footerNavLinks-link' href='#' ) Community
   a(class = 'footerNavLinks-link' href='#' ) Get in Touch
 .footerNav-subscribe
  .footerNav-subscribe-textContainer
   p.subscribe Subscribe to our newsletter
   p Receive our latest news and <br> promotions in your inbox!
  .footerNav-subscribe-form
   p Your email address
   .footerNav-subscribe-arrow-forward
    a(class = 'footerNav-subscribe-arrow-forward-link' href='#' )
      img(src="../src/assets/img/svg/arrow_forward.svg", alt="")
  
   
