mixin rangeSlider(options)
  div(class='range-slider__wrapper')
    label
      div(class='range-slider__label-wrapper')
        p=options.label
        p 
    input(type='text' class='range-slider__input' value='')
  script(src= "../src/scripts/rangeSlider.js")