div(class='range-slider__wrapper')
 label
  div(class='range-slider__label-wrapper')
   p='RANGE SLIDER'
   p 5 000<span class='rub'>i</span> - 10 000<span class='rub'>i</span>
 input(type='text' class='range-slider' name='example_name' value='')