.header-login-nav
 .header-login-nav__logo
  img(src="logoTOXIN.svg", alt="")
 div.header__burger
  span
 nav.headerLoginNav-nav
  a(class = 'headerLoginNav-navlink' href='#' ) О нас
  a(href='#' class = 'headerLoginNav-navlink') Услуги
  .expand-more-container
   img(src="expand_more.svg", alt="")
  a(href='#' class = 'headerLoginNav-navlink') Вакансии
  a(href='#' class = 'headerLoginNav-navlink') Новости
  a(href='#' class = 'headerLoginNav-navlink') Соглашения
  .expand-more-container
   img(src="expand_more.svg", alt="")
  a(href='#' class = 'headerLoginNav-navlink_logged-in') Юлий Цезарь
