.headerLogin
 .headerLogin-logo
  img(src="../src/assets/img/svg/logoTOXIN.svg", alt="")
 nav.headerLogin-nav
  a(class = 'headerLogin-navlink' href='#' ) Home
  a(href='#' class = 'headerLogin-navlink') About Us 
  a(href='#' class = 'headerLogin-navlink') Services
  .expand-more-container
   img(src="../src/assets/img/svg/expand_more.svg", alt="")
  a(href='#' class = 'headerLogin-navlink') Careers
  a(href='#' class = 'headerLogin-navlink') News
  a(href='#' class = 'headerLogin-navlink') Documentation
  a(href='#' class = 'headerLogin-navlink login') LOGIN
  a(href='#' class = 'headerLogin-navlink register') REGISTER
