.headerLoginNav
 .headerLoginNav-logo
  img(src="../src/assets/img/svg/logoTOXIN.svg", alt="")
 nav.headerLoginNav-nav
  a(class = 'headerLoginNav-navlink' href='#' ) Home
  a(href='#' class = 'headerLoginNav-navlink') About Us 
  a(href='#' class = 'headerLoginNav-navlink') Services
  .expand-more-container
   img(src="../src/assets/img/svg/expand_more.svg", alt="")
  a(href='#' class = 'headerLoginNav-navlink') Careers
  a(href='#' class = 'headerLoginNav-navlink') News
  a(href='#' class = 'headerLoginNav-navlink') Documentation
  a(href='#' class = 'headerLoginNav-navlink') Cosmin Negoita
