.headerLogin
 .headerLogin-logo
  img(src="../src/assets/img/svg/logoTOXIN.svg", alt="")
 div.header-login__burger
 nav.headerLogin-nav
  a(class = 'headerLogin-navlink' href='#' ) О нас
  a(href='#' class = 'headerLogin-navlink') Услуги
  .expand-more-container
   img(src="../src/assets/img/svg/expand_more.svg", alt="")
  a(href='#' class = 'headerLogin-navlink') Вакансии
  a(href='#' class = 'headerLogin-navlink') Новости
  a(href='#' class = 'headerLogin-navlink') Соглашения
  .expand-more-container
   img(src="../src/assets/img/svg/expand_more.svg", alt="")
  a(href='#' class = 'headerLogin-navlink login') ВОЙТИ
  a(href='#' class = 'headerLogin-navlink register') ЗАРЕГИСТРИРОВАТЬСЯ
