mixin textField(options)
 -
  var textfieldClassName = "txtField"
  textfieldClassName+=options.isFocused ? ' txtField-focused' : ''
  textfieldClassName+=options.isMasked ? ' txtField-masked' : ''
  textfieldClassName+=options.isSubscription ? ' txtField-subscription' : ''
  var inputClassName = ''
  inputClassName+=options.isMasked ? ' txtField-input-date': ''
  var inputType=''
  inputType+=options.isFocused ? 'text' : ''
  inputType+=options.isDefault ? 'email' : ''
  inputType+=options.isMasked ? 'text' : ''
  inputType+=options.isSubscription ? 'email' : ''
 div(class = textfieldClassName)
  div(class='txtFieldInput__wrapper')
    input(type=inputType placeholder=options.placeholder class=inputClassName)
    if options.isSubscription
      img(src="../src/assets/img/svg/arrow_forward.svg", alt="")
    
