mixin toggle(options)
 -
  var toggleClassName = options.className
 div(class=toggleClassName)
    span(class=toggleClassName+'__label')=options.label
    div(class=toggleClassName+'__container')
      each val in options.labels
        label(class='switch')
            if val.isPositive
              input(type='checkbox' checked='checked')
              span(class='toggle__slider-round')
            else
              input(type='checkbox')
              span(class='toggle__slider-round')
        span(class=toggleClassName+'__name')=val.name    
    
