include switch.pug
mixin toggle(options)
 -
  var toggleClassName = options.className
 div(class=toggleClassName)
    span(class=toggleClassName+'__label')=options.label
    div(class=toggleClassName+'__container')
      each val in options.labels
        +switch({isPositive:val.isPositive,name:val.name})
        
    
