@import "../social-networks/social-networks.scss";
.footer-copyright-bar {
  max-width: 100%;
  min-height: 70px;
  background: $white;
  box-shadow: 0px 10px 20px $darkShade5;
  border-top: 1px solid $darkShade25;
  font-style: normal;
  font-weight: normal;
  font-family: $font-family-main, $fallback-font;
  display: flex;
  align-items: center;

  &__wrapper {
    margin: 0px auto;
    max-width: $container-width - 250px;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
  }

  &__rights {
    max-width: 367px;
    font-size: 14px;
    line-height: 17px;
    color: $darkShade75;
  }

}

@media (max-width: $container-mobile-width) {
  .footer-copyright-bar{

    &__wrapper {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    &__rights {
      display: none;
    }

    &__social-networks-links {
      margin: 0;
    }
  }

}
