include ../social-networks/social-networks.pug
mixin footer-copyright({copyrightText='Copyright © 2018 Toxin отель. Все права зачищены.'}={})
  footer.footer-copyright-bar
    .footer-copyright-bar__wrapper
      .footer-copyright-bar__rights=copyrightText 
      .footer-copyright-bar__social-networks-links
        +social-networks()
