@import '../styles/common/headerUIKit.scss';
@import '../Colors/leftColumnUiKitColors.scss';
@import '../Colors/rightColumnUiKitColors.scss';
.colors-and-types{
  width: 100%;
  font-family: $font-family-main,$fallback-font;
  background-color: $white;
  height: 900px;
}
.colors{
  max-width: $container-width - 300;
  margin: 0px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 105px;
  font-style: normal;
  font-weight: normal;
}
.colors__left-column{
  width: 281px;
  height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 17px;
  line-height: 26px;
  color: $darkShade100;
}
.colors__right-column{
  width: 436px;
  height: 321px;
  margin-right: 8px;
}