@import '../burger/burger.scss';
.header-login-nav {
  max-width: $container-width;
  height: 70px;
  background: $white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: $font-family-main,$fallback-font;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}
.header-login-nav__wrapper{
  max-width: $container-width - 280px;
  flex:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-login-nav__logo {
  height: 40px;
  width: 105.69px;
}
.header-login-nav {
  max-width: $container-width;
  height: 70px;
  background: $white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  display: flex;
  flex-direction: row;
}
.header-login-nav__nav {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.header-login-nav__nav a {
  text-decoration: none;
}
.header-login-nav__nav-link{
  margin-right: 20px;
  color: $darkShade50;
}
.header-login-nav__nav-link:first-child {
  width: 43px;
  height: 18px;
  font-weight: bold;
  color: $darkShade75;
  margin-right: 20px;
}
.header-login-nav__nav-link:nth-child(2) {
  width: 50px;
  height: 18px;
  white-space: nowrap;
  margin-right: 0px;
}
.expand-more-container {
  font-family: $font-for-icons;
  width: 24px;
  height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: $darkShade50;
  margin-right: 20px;
}
.header-login-nav__nav-link:nth-child(4) {
  width: 72px;
  height: 18px;
}

.header-login-nav__nav-link:nth-child(5) {
  width: 62px;
  height: 18px;
}
.header-login-nav__nav-link:nth-child(6) {
  width: 92px;
  height: 18px;
  margin-right: 0px;
}
.delimeter{
  margin-right: 20px;
  height: 30px;
  width: 1px;
  background: rgba(31, 32, 65, 0.1);
}
.header-login-nav__nav-link_logged-in{
  width: 100px;
  height: 18px;
  color: $darkShade50;
}


@media (max-width:$container-mobile-width){
  .header-login-nav__logo,
  .header-login-nav__nav,
  .delimeter{
    display: none;
  }
.header-login-nav.active{
  height: 100%;
  width: 100%;
  padding-right: 10px;
  align-items: flex-start;
  padding-top: 20px;
}
.header-login-nav__nav.active{
  display:flex;
  flex-direction: column;
  margin-right: 0px;
}
.expand-more-container{
  display: none;
}
  .header-login-nav__nav-link,
  .header-login-nav__nav-link:first-child,
  .header-login-nav__nav-link:nth-child(4),
  .header-login-nav__nav-link:nth-child(5){
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
