@import '@/components/button-rate/button-rate.scss';

.room-card {
  width: 270px;
  height: 257px;
  background: $white;
  box-shadow: 0px 10px 20px $darkShade5;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  position: relative;

  &__slider {
    height: 151px;
    margin-bottom: 0px !important;
    cursor: pointer;
  }

  &__slider-dots {
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 212px;
  }

  &__slider img {
    border-radius: 4px 4px 0 0;
    position: relative;
  }

  &__slider-dots li button {
    width: 7px;
    height: 7px;
    padding: 0px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid $white;
    font-size: 0;
    margin-right: 5px;
    background: transparent;
    filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
  }

  &__slider-dots li.slick-active button {
    background: $white;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
  }

  &__arrow {
    position: absolute;
    cursor: pointer;
    font-family: $font-for-icons;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: transparent;
    border: none;
    z-index: 9;
    opacity: 0;
  }

  &__arrow-left {
    transform: rotate(90deg);
    left: -55px;
    height: 42px;
    width: 151px;
    top: 55px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 99.99%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &__arrow-right {
    transform: rotate(-90deg);
    right: -55px;
    width: 151px;
    top: 55px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 99.99%,
      rgba(255, 255, 255, 0) 100%
    );
    height: 42px;
  }

  &__slider:hover &__arrow {
    opacity: 1;
    transition-duration: 500ms;
  }

  &__room-specifications,
  &__bottom-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__bottom-line {
    margin-top: 10px;
  }

  &__delimeter {
    width: 230px;
    height: 1px;
    background: rgba(31, 32, 65, 0.1);
    margin-left: 20px;
    margin-top: 7px;
  }

  &__room-number {
    width: 59px;
    height: 24px;
    font-family: $font-family-main,$fallback-font;
    font-weight: bold;
    font-size: 1.16rem;
    line-height: 1.42rem;
    color: $darkShade100;
    margin: 24px 1px 0 20px;
    display: flex;
    flex-direction: row;
    white-space: pre;
  }

  &__room-number span:nth-child(2) {
    font-size: 16px;
  }

  &__price {
    width: 100px;
    height: 20px;
    font-size: 1.16rem;
    line-height: 1.5rem;
    color: $darkShade50;
    white-space: nowrap;
    margin-right: 16px;
    margin-top: 24px;
    text-align: center;
  }

  &__price span:first-child {
    font-weight: bold;
    font-size: 1.16rem;
  }

  &__price span:nth-child(2) {
    font-size: 1rem;
  }

  &__type {
    width: 41px;
    height: 15px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: $purple;
    margin-right: 32px;
    margin-top: 28px;
  }

  &__rate {
    margin-left: 20px;
  }

  &__comment {
    font-size: 1.16rem;
    line-height: 1.5rem;
    text-align: right;
    color: $darkShade50;
    margin-right: 20px;
    margin-top: 2px;
  }

  &__comment span:first-child {
    font-weight: bold;
  }
  
}
