@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url(1b0809d519837cb7aad36a73433f655c.ttf) format("truetype"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url(dbb97fd982ce1b96b6de90a9f1c2ecaa.ttf) format("truetype"); }

/* quicksand-300 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: url(47272200c5e0e6a46b3d96df65b4691d.ttf) format("truetype"); }

/* quicksand-regular - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url(41fb7b51e8ec02111b7bdfb3e2b07a75.ttf) format("truetype"); }

/* quicksand-500 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url(8558600ef85efa0f0e9f1473608a6b80.ttf) format("truetype"); }

/* quicksand-600 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url(e883c81d9e5b19ccdd1ba37e7195e742.ttf) format("truetype"); }

/* quicksand-700 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url(0740be488042cd2756ddfd506fdeafb6.ttf) format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url(cb6af70a6c123ef283dbe178621fad25.ttf) format("truetype"); }

/* montserrat-200 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url(833d605d1c26b0712ab05b8a73098ede.ttf) format("truetype"); }

/* montserrat-100italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  src: url(b4d6675df7550ef6c861cdac637bbe41.ttf) format("truetype"); }

/* montserrat-200italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  src: url(4b57aa582dc04df903395a25ff539713.ttf) format("truetype"); }

/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url(f0e26ef9e9e87a9320d65a08a782f0d5.ttf) format("truetype"); }

/* montserrat-300italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: url(dcdcdfae1722566dcaf2cdcd263eeb1a.ttf) format("truetype"); }

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(4ff99841b08686bda3f7921d91044afb.ttf) format("truetype"); }

/* montserrat-italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url(ce12d40345c591e9daf12f9bda365078.ttf) format("truetype"); }

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url(7ac059171ee59fbe8b33565ba138d089.ttf) format("truetype"); }

/* montserrat-500italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url(b5809465c6b33b43cd845a728d6629ba.ttf) format("truetype"); }

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url(257ff2ade74c135ac41efff0e99519f5.ttf) format("truetype"); }

/* montserrat-600italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url(67b9f9053ecbe900713de84c98e8abb4.ttf) format("truetype"); }

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(6cbb516e629a7542e7a823790091e885.ttf) format("truetype"); }

/* montserrat-700italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url(a14ce7f4be1771503fdd77d5025ad49c.ttf) format("truetype"); }

/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url(6e45a402530262bfae047451d493fa76.ttf) format("truetype"); }

/* montserrat-800italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  src: url(88487fc48d4c9cd082503b7b634196e6.ttf) format("truetype"); }

/* montserrat-900 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url(ecc6ec3f6771ae3135e0c4008b4e97cf.ttf) format("truetype"); }

/* montserrat-900italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: url(5d0216ccd65f5ecddc568961bf8d379c.ttf) format("truetype"); }

@font-face {
  font-family: "rouble";
  src: url(b5a0c905109bbc63d2ed762255024eab.otf) format("opentype"); }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(a36c7514ef1c23af53f19f858bc0a342.woff2) format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.wrapper {
  background-color: #e5e5e5;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px; }

.wrapper h1 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
  color: #6FCF97;
  font-size: 2rem; }

.wrapper a {
  text-decoration: none; }

.UIKit a, .site a {
  color: #BC9CFF;
  border: 2px solid rgba(31, 32, 65, 0.5);
  width: 250px;
  height: 80px;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40px;
  display: flex;
  font-size: 1.5rem;
  background-color: #ffffff;
  border-radius: .5rem; }


/*# sourceMappingURL=main.368d412c9ce63657ae4a.css.map*/