/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(ec439cdbc57b65d82bae52adab06f884.eot);
  /* IE9 Compat Modes */
  src: local(""), url(ec439cdbc57b65d82bae52adab06f884.eot?#iefix) format("embedded-opentype"), url(9e49b964c26c32c70d1a0d6f152ea083.woff2) format("woff2"), url(792c25544581795907b83b45cc871d06.woff) format("woff"), url(16b67e57b1af62c44946f17627acb404.ttf) format("truetype"), url(1d0d8b66fa1da76d69b95b6d0ed5cca9.svg#OpenSans) format("svg");
  /* Legacy iOS */ }

/* open-sans-italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(da01ac709d6f4445097ef6b8e19d65b6.eot);
  /* IE9 Compat Modes */
  src: local(""), url(da01ac709d6f4445097ef6b8e19d65b6.eot?#iefix) format("embedded-opentype"), url(c681aa34c46473d615431ab238a8059f.woff2) format("woff2"), url(9a8eb025aee4809b8a1b4282264a3445.woff) format("woff"), url(d56d2a989b3f11f13efea1eeb3f7330f.ttf) format("truetype"), url(a80aff34ae9733004fbcd60e8ec850d2.svg#OpenSans) format("svg");
  /* Legacy iOS */ }

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(2f252d9663a42fe35d09f2a1cc64461c.eot);
  /* IE9 Compat Modes */
  src: local(""), url(2f252d9663a42fe35d09f2a1cc64461c.eot?#iefix) format("embedded-opentype"), url(ccd76c23390863e2a735b3354405f0ce.woff2) format("woff2"), url(8c55c143ab9de74e10701945ec7e10f4.woff) format("woff"), url(98f29bed491b8a7b5675294694b14187.ttf) format("truetype"), url(099f4053beec784ab9d0dc7043a872c2.svg#OpenSans) format("svg");
  /* Legacy iOS */ }

/* open-sans-600italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url(d48df56fe4e114ce72d55959f5eb60c1.eot);
  /* IE9 Compat Modes */
  src: local(""), url(d48df56fe4e114ce72d55959f5eb60c1.eot?#iefix) format("embedded-opentype"), url(f32287a221672499e3ad30b694f8f70b.woff2) format("woff2"), url(f1d4d84ed612ce4416bce25aad0a25be.woff) format("woff"), url(4e4ae92fcc43c9434e3e82be4910d83e.ttf) format("truetype"), url(13fa6db73859d0a05dd9fe658e35a7b6.svg#OpenSans) format("svg");
  /* Legacy iOS */ }

/* quicksand-regular - latin-ext_latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url(aab931db2516891e20c276359b69fe50.eot);
  /* IE9 Compat Modes */
  src: local(""), url(aab931db2516891e20c276359b69fe50.eot?#iefix) format("embedded-opentype"), url(2b19b4572f14077118cf276fd9a56749.woff2) format("woff2"), url(f50d093974351866436470a9cd0ae697.woff) format("woff"), url(11d4f12edca5a7a0ca5c918c55d53565.ttf) format("truetype"), url(b8e520864fc6a91e23e9c0d9a740e318.svg#Quicksand) format("svg");
  /* Legacy iOS */ }

/* quicksand-600 - latin-ext_latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: url(0f48a69a740cea638c2ac5b1319b547a.eot);
  /* IE9 Compat Modes */
  src: local(""), url(0f48a69a740cea638c2ac5b1319b547a.eot?#iefix) format("embedded-opentype"), url(d8fdb1850d07ca4fe5f45e3bddaf0863.woff2) format("woff2"), url(07e1998f8b997ab90570cc5d43a5d88e.woff) format("woff"), url(8a9b869e347776a51e230be4f26681b0.ttf) format("truetype"), url(ddc2c4952db390ebe258d4e710c38e64.svg#Quicksand) format("svg");
  /* Legacy iOS */ }

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(dc9c0830fb34ea831853f6b5c49dd0fa.eot);
  /* IE9 Compat Modes */
  src: local(""), url(dc9c0830fb34ea831853f6b5c49dd0fa.eot?#iefix) format("embedded-opentype"), url(c1ba4359982fe0cc48ec8d1ad403fdeb.woff) format("woff"), url(4ff99841b08686bda3f7921d91044afb.ttf) format("truetype");
  /* Safari, Android, iOS */ }

/* montserrat-italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url(f0c7195566c1471c1f1ad6a2b93fa885.eot);
  /* IE9 Compat Modes */
  src: local(""), url(f0c7195566c1471c1f1ad6a2b93fa885.eot?#iefix) format("embedded-opentype"), url(a3b327eaeb0a8f1a50cfc1dad8f93f46.woff2) format("woff2"), url(d9efdead1749a21fae169b359de60941.woff) format("woff"), url(ce12d40345c591e9daf12f9bda365078.ttf) format("truetype");
  /* Safari, Android, iOS */ }

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(22d22edc51b42df22dbc86e486778bde.eot);
  /* IE9 Compat Modes */
  src: local(""), url(eb4735b30729893f823d0cd355a377f1.woff2) format("woff2"), url(76f41669c841bc25d1b71f4e34e831fe.woff) format("woff"), url(257ff2ade74c135ac41efff0e99519f5.ttf) format("truetype");
  /* Safari, Android, iOS */ }

/* montserrat-600italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url(23ea7e559b0ec7d22d8809548b4a8c06.eot);
  /* IE9 Compat Modes */
  src: local(""), url(e215f05260116e29601cca05b1612fd8.woff2) format("woff2"), url(9cb63491641aceaff6c466be81edc1a8.woff) format("woff"), url(67b9f9053ecbe900713de84c98e8abb4.ttf) format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: "rouble";
  src: url(b5a0c905109bbc63d2ed762255024eab.otf) format("opentype"); }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(a36c7514ef1c23af53f19f858bc0a342.woff2) format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.header-burger {
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
  margin-left: 10px;
  cursor: pointer; }

.header-burger__input {
  opacity: 0;
  width: 0px;
  height: 0px;
  z-index: 5; }

.header-burger__label::before,
.header-burger__label::after {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 3px;
  content: '';
  background-color: #1f2041;
  left: 0px;
  transition: all 0.3s ease 0s; }

.header-burger__label span {
  top: 13px;
  background-color: #1f2041;
  position: absolute;
  cursor: pointer;
  width: 100%;
  content: '';
  height: 3px;
  left: 0px;
  transition: all 0.3s ease 0s; }

.header-burger__label::before {
  top: 0px; }

.header-burger__label::after {
  bottom: 0px; }

.header-burger__input:checked + .header-burger__label:before {
  transform: rotate(45deg);
  top: 9px; }

.header-burger__input:checked + .header-burger__label:after {
  transform: rotate(-45deg);
  top: 9px; }

.header-burger__input:checked + .header-burger__label span {
  background-color: transparent; }

@media (max-width: 770px) {
  .header-burger {
    display: block; } }

.header-login {
  max-width: 1440px;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px; }

.header-login__wrapper {
  max-width: 1160px;
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header-login__logo {
  height: 40px;
  width: 105.69px; }

.header-login__nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 770px;
  flex: auto; }

.header-login__nav a {
  text-decoration: none; }

.header-login__nav-link {
  color: rgba(31, 32, 65, 0.5);
  height: 18px;
  margin-right: 20px; }

.header-login__nav-link:first-child {
  width: 43px;
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75); }

.header-login__nav-link:nth-child(2) {
  width: 50px;
  white-space: nowrap;
  margin-right: 0px; }

.expand-more-container {
  width: 24px;
  height: 21px;
  font-family: "Material Icons";
  font-size: 24px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  margin-right: 20px; }

.header-login__nav-link:nth-child(4) {
  width: 72px; }

.header-login__nav-link:nth-child(5) {
  width: 62px; }

.header-login__nav-link:nth-child(6) {
  width: 92px;
  margin-right: 0px; }

.login {
  height: 34px;
  width: 87px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  border-radius: 22px;
  border: 2px solid #BC9CFF;
  padding: 9px 20px 10px 20px;
  margin-right: 20px;
  text-align: center; }

.register {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  padding: 9px 20px 10px 19px;
  height: 34px;
  width: 196px;
  text-align: center;
  margin-right: 0px; }

@media (max-width: 900px) {
  .header-login__logo {
    display: none; }
  .header-login__wrapper {
    justify-content: center; } }

@media (max-width: 770px) {
  .header-login__wrapper {
    justify-content: space-between; }
  .header-login__nav {
    display: none; }
  .header-login.active {
    height: 100%;
    align-items: flex-start; }
  .header-login__wrapper.active {
    padding-top: 20px;
    align-items: flex-start; }
  .header-login__nav.active {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left; }
  .expand-more-container {
    display: none; }
  .header-login__nav-link,
  .header-login__nav-link:first-child,
  .header-login__nav-link:nth-child(4),
  .header-login__nav-link:nth-child(5) {
    margin-right: 0px;
    margin-bottom: 10px; }
  .login,
  .register {
    margin-right: 0px; } }

.footer-copyright-container {
  max-width: 1440px;
  min-height: 70px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  font-style: normal;
  font-weight: normal;
  font-family: "Montserrat", "Arial,sans-serif";
  display: flex;
  align-items: center; }

.footer-copyright__wrapper {
  margin: 0px auto;
  max-width: 1160px;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: auto; }

.footer__copyright {
  max-width: 367px;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75); }

.footer__social-networks-links ul {
  display: flex;
  text-align: center;
  flex-direction: row;
  width: 112px;
  justify-content: space-between; }

.footer__social-networks-link {
  text-decoration: none;
  width: 24px;
  height: 24px;
  color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

@media (max-width: 770px) {
  .footer-copyright__wrapper {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; }
  .footer__copyright {
    margin: 5px 0px 10px 0px;
    display: flex;
    justify-content: center; }
  .footer__social-networks-links {
    margin: 0px 0px 25px 0px; } }

.footer-nav__container {
  max-width: 1440px;
  font-family: "Montserrat", "Arial,sans-serif";
  height: 372px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal; }

.footer-nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0px auto;
  padding-top: 104px; }

.footer-nav__logo {
  width: 260px;
  height: 132px; }

.footer-nav__logo img {
  margin-top: -3px; }

.footer-nav__logo p {
  width: 260px;
  height: 72px;
  margin-top: 18px;
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }

.footer-nav__links {
  display: flex;
  flex-direction: row;
  width: 560px;
  height: 168px; }

.footer-nav__links ul li a {
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5); }

.footer-nav__links_navigation,
.footer-nav__links_about-us,
.footer-nav__links_support {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.footer-nav__links_navigation {
  width: 143px;
  margin-right: 57px; }

.footer-nav__links_about-us li a {
  display: block;
  white-space: nowrap; }

.footer-nav__links_about-us {
  width: 108px;
  flex-wrap: nowrap;
  margin-right: 92px; }

.footer-nav__links_about-us li:first-child a,
.footer-nav__links_navigation li:first-child a,
.footer-nav__links_support li:first-child a {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041; }

.footer-nav__links_support ul li a {
  display: block;
  white-space: nowrap; }

.footer-nav__links_support {
  width: 149px;
  height: 130px; }

.footer-nav__subscribe {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-top: 4px; }

.footer-nav__subscribe-textContainer {
  width: 260px;
  height: 84px;
  margin-bottom: 17px; }

.footer-nav__subscribe-textContainer p {
  display: block;
  height: 48px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }

p.subscribe {
  height: 15px;
  width: 208px;
  display: block;
  white-space: nowrap;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin: 0px 0px 16px 0px; }

.footer-nav__subscribe-form .text-field_subscription {
  width: 260px; }

@media (max-width: 1130px) {
  .footer-nav__logo {
    display: none; }
  .footer-nav__wrapper {
    justify-content: center; } }

@media (max-width: 770px) {
  .footer-nav__container,
  .footer-nav__subscribe {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; }
  .footer-nav__wrapper {
    padding-top: 0px; }
  .footer-nav__container {
    height: 200px; }
  .footer-nav__logo,
  .footer-nav__links {
    display: none; }
  .footer-nav__subscribe {
    margin-top: 0px; }
  .footer-nav__container,
  .footer-nav__subscribe {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; }
  .footer-nav__logo,
  .footer-nav__links {
    display: none; }
  .footer-nav__subscribe {
    margin-top: 10px; } }

.dropdown__date {
  width: 150px; }

.dropdown__date .dropdown__input {
  width: 91px; }

.dropdown__filter {
  width: 266px; }

.datepicker--day-name {
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #BC9CFF;
  height: 40px;
  width: 40px; }

.datepicker--cell-day {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
  width: 14.28571%;
  height: 40px; }

.-other-month- {
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(31, 32, 65, 0.25); }

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-weekend- {
  color: #ffffff;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 50%; }

.datepicker--cell.-current- {
  color: rgba(31, 32, 65, 0.5); }

.datepicker {
  background: #ffffff;
  font-family: "Montserrat", "Arial,sans-serif";
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  width: 320px;
  min-height: 369px; }
  .datepicker--content {
    padding: 0px;
    width: 280px;
    margin-left: 20.94px;
    margin-right: 19.94px;
    margin-bottom: 20.44px; }
  .datepicker--nav-action {
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 24px;
    height: 24px;
    color: #BC9CFF;
    margin-left: 17px;
    margin-right: 17px; }
  .datepicker--nav {
    border-bottom: none;
    margin-top: 15px; }
  .datepicker--nav-title {
    font-family: "Open Sans", "Arial,sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: #1f2041; }
  .datepicker--nav-title i {
    color: #1f2041; }
  .datepicker--buttons {
    border-top: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    font-family: "Montserrat", "Arial,sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase; }
  .datepicker--buttons span:first-child {
    padding-left: 20px;
    color: #BC9CFF; }
  .datepicker--buttons span:nth-child(2) {
    padding-right: 20px;
    padding-left: 110px;
    color: #BC9CFF; }
  .datepicker--button {
    display: block; }
  .datepicker--pointer {
    display: none; }

.datepicker--cell.-range-from-,
.datepicker--cell.-range-to-,
.datepicker--cell.-selected-.-range-to- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.datepicker--cell.-in-range- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25; }

.datepicker--cell.-selected-.-range-to-::before {
  content: '';
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25; }

.datepicker--cell.-selected-.-range-from- +
.datepicker--cell.-in-range-::before {
  content: '';
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: -20px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.datepicker--days-names {
  margin-top: 27px;
  margin-bottom: 0px; }

.dropdown-counter {
  font-family: "Montserrat", "Arial,sans-serif";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin: 6px 7px 7px 15px; }

.dropdown-counter__header {
  overflow: hidden;
  margin-bottom: 3px;
  max-width: 152px; }

.dropdown-counter__container {
  max-width: 92px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.container-dropdown__decrease,
.container-dropdown__increase {
  border-radius: 22px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer; }

.container-dropdown__decrease {
  border: 1px solid rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.25); }

.container-dropdown__increase {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.5); }

.container-dropdown__decrease_dark {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.5); }

.dropdown__date {
  width: 150px; }

.dropdown__date .dropdown__input {
  width: 91px; }

.dropdown__filter {
  width: 266px; }

.datepicker--day-name {
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #BC9CFF;
  height: 40px;
  width: 40px; }

.datepicker--cell-day {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
  width: 14.28571%;
  height: 40px; }

.-other-month- {
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(31, 32, 65, 0.25); }

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-weekend- {
  color: #ffffff;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 50%; }

.datepicker--cell.-current- {
  color: rgba(31, 32, 65, 0.5); }

.datepicker {
  background: #ffffff;
  font-family: "Montserrat", "Arial,sans-serif";
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  width: 320px;
  min-height: 369px; }
  .datepicker--content {
    padding: 0px;
    width: 280px;
    margin-left: 20.94px;
    margin-right: 19.94px;
    margin-bottom: 20.44px; }
  .datepicker--nav-action {
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 24px;
    height: 24px;
    color: #BC9CFF;
    margin-left: 17px;
    margin-right: 17px; }
  .datepicker--nav {
    border-bottom: none;
    margin-top: 15px; }
  .datepicker--nav-title {
    font-family: "Open Sans", "Arial,sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: #1f2041; }
  .datepicker--nav-title i {
    color: #1f2041; }
  .datepicker--buttons {
    border-top: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    font-family: "Montserrat", "Arial,sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase; }
  .datepicker--buttons span:first-child {
    padding-left: 20px;
    color: #BC9CFF; }
  .datepicker--buttons span:nth-child(2) {
    padding-right: 20px;
    padding-left: 110px;
    color: #BC9CFF; }
  .datepicker--button {
    display: block; }
  .datepicker--pointer {
    display: none; }

.datepicker--cell.-range-from-,
.datepicker--cell.-range-to-,
.datepicker--cell.-selected-.-range-to- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.datepicker--cell.-in-range- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25; }

.datepicker--cell.-selected-.-range-to-::before {
  content: '';
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25; }

.datepicker--cell.-selected-.-range-from- +
.datepicker--cell.-in-range-::before {
  content: '';
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: -20px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.datepicker--days-names {
  margin-top: 27px;
  margin-bottom: 0px; }

.dropdown {
  position: relative;
  font-family: "Montserrat", "Arial,sans-serif";
  line-height: 14.63px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 2px; }

.dropdown__guests {
  width: 320px; }

.dropdown__room {
  width: 266px; }

.dropdown_rounding-corners-top {
  border-radius: 2px 2px 0px 0px;
  border: 1px solid rgba(31, 32, 65, 0.5); }

.dropdown__input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.dropdown__input {
  border: none;
  outline: none;
  -webkit-appearance: none;
  height: 24px;
  margin-top: 8px;
  margin-left: 15px;
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  width: 100%; }

.dropdown__guests .dropdown__input {
  width: 180px;
  overflow: hidden; }

.dropdown__input::placeholder {
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  height: 18px;
  color: rgba(31, 32, 65, 0.75);
  margin-bottom: 12px; }

.dropdown__arrow {
  width: 44px;
  height: 44px;
  cursor: pointer;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.5); }

.dropdown__body {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: none;
  position: absolute;
  top: 42px;
  z-index: 3;
  width: inherit;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 0px 0px 2px 2px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }

.dropdown_active {
  display: block; }

.dropdown__body-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #BC9CFF;
  margin: 20px 7px 12px 14px; }

.buttons-dropdown__clear,
.buttons-dropdown__apply {
  cursor: pointer; }

.hidden {
  visibility: hidden;
  cursor: none; }

.bullet-list {
  max-width: 243px;
  list-style-type: none;
  display: block; }

.bullet-list__elem {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 20.86px;
  position: relative;
  width: 253px;
  margin-bottom: 10px; }

.bullet-list__elem:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-color: rgba(31, 32, 65, 0.25);
  border-radius: 50%; }

.bullet-list-expandable {
  width: 266px;
  height: 44px;
  position: relative; }

.bullet-list-expandable__label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center; }

.bullet-list-expandable__label span {
  display: block;
  width: 44px;
  height: 44px;
  cursor: pointer;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.5); }

.bullet-list-expandable__dropdown {
  position: absolute;
  top: 44px;
  left: 0px;
  display: none;
  z-index: 1;
  background-color: #ffffff; }

.bullet-list-expandable__dropdown-elem {
  margin-bottom: 10px;
  margin-top: 3px; }

.bullet-list_is-visible {
  display: block; }

.bullet-list-icons {
  min-height: 69px;
  width: 280px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  display: flex;
  flex-direction: row; }
  .bullet-list-icons__icon {
    width: 48px;
    height: 48px;
    color: #BC9CFF;
    font-family: "Material Icons";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px; }
  .bullet-list-icons__header {
    font-family: "Montserrat", "Arial,sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75); }
  .bullet-list-icons__text {
    font-family: "Montserrat", "Arial,sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    padding-top: 5px;
    margin-bottom: 17px; }

.range-slider__wrapper {
  width: 266px; }

.range-slider__label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -3px;
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal; }

.range-slider__label-wrapper p:first-child {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  padding-top: 3px; }

.range-slider__label-wrapper p:nth-child(2) {
  height: 15px;
  width: 102px;
  text-align: justify;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5); }

.irs--flat .irs-line {
  background-color: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 3px;
  height: 6px; }

.irs--flat .irs-handle > i:first-child {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 16px;
  height: 16px;
  margin-top: -2px; }

.irs--flat .irs-bar {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
  height: 6px; }

.irs-min, .irs-max {
  display: none; }

.irs-from, .irs-to {
  display: none; }

.rub {
  font-family: "rouble";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5); }

.button {
  width: 99px;
  height: 44px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", "Arial,sans-serif";
  white-space: nowrap;
  font-style: normal; }

.button-dark {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.button-dark50 {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.5; }

.button-dark span,
.button-dark50 span {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff; }

.button-white {
  background: none;
  border: 2px solid #BC9CFF; }

.button-white50 {
  background: none;
  border: 2px solid rgba(188, 156, 255, 0.5); }

.button-white span,
.button-white50 span,
.button-transparent span {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  white-space: nowrap; }

.button-transparent,
.button-transparent50 {
  border: none;
  background: none;
  height: 15px;
  width: 61px;
  padding: 0px; }

.button-transparent50 span {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5); }

.button-with-arrow {
  width: 320px;
  height: 44px;
  padding: 0px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right; }
  .button-with-arrow div:first-child {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-left: 44px; }
  .button-with-arrow__arr {
    font-family: "Material Icons";
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    height: 44px;
    width: 44px; }

.button-rate {
  height: 24px;
  width: 120px;
  background-color: transparent;
  border-radius: 0px;
  display: flex;
  flex-direction: row; }
  .button-rate input {
    display: none; }

.button-rate-star {
  font-size: 24px;
  color: #BC9CFF;
  line-height: 20px;
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
  align-items: center;
  text-align: center; }

.button-like {
  width: 40px;
  height: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: 10px;
  display: flex;
  flex-direction: row; }
  .button-like div:first-child {
    width: 50%;
    height: 20px;
    text-align: center;
    align-items: center;
    display: block;
    font-family: "Material Icons";
    font-weight: normal;
    font-size: 10px;
    line-height: 9px;
    color: rgba(31, 32, 65, 0.25);
    padding-top: 5px; }
  .button-like div:nth-child(2) {
    width: 50%;
    height: 100%;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    align-items: center;
    color: rgba(31, 32, 65, 0.25);
    display: flex; }

.is-liked {
  border: 1px solid #BC9CFF; }

.is-liked div:first-child {
  color: #BC9CFF; }

.is-liked div:nth-child(2) {
  color: #BC9CFF; }

.button-check {
  width: 222px;
  height: max-content; }
  .button-check__checkbox-input {
    position: absolute;
    z-index: 1;
    opacity: 0;
    margin-left: 3px; }
  .button-check__checkbox-text {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    max-height: 36px;
    max-width: 192px;
    margin-bottom: 13px;
    white-space: break-spaces; }
  .button-check__checkbox-text:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px; }

.button-check__checkbox-input:checked + .button-check__checkbox-text:before {
  background-image: url(ad694aafe15811be341489a1dd946ba2.svg);
  background-repeat: no-repeat;
  background-position: center; }

.button-radio {
  height: 24px;
  max-width: 99px; }
  .button-radio__checkbox-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin-left: 10px; }
  .button-radio__checkbox-text {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
    height: 18px;
    max-width: 73px; }
  .button-radio__checkbox-text:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 10px; }
  .button-radio__checkbox-text:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0; }

.button-radio__checkbox-input:checked + .button-radio__checkbox-text:after {
  opacity: 1; }

.button-radio__checkbox-input:checked + .button-radio__checkbox-text {
  color: rgba(31, 32, 65, 0.75); }

.button-radio__checkbox-input:checked + .button-radio__checkbox-text:before {
  background: #ffffff;
  border: 1px solid #BC9CFF;
  box-sizing: border-box;
  border-radius: 10px; }

.button-rich {
  width: 266px;
  height: 51px; }
  .button-rich__checkbox-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin-left: 10px; }
  .button-rich__checkbox-header {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    height: 18px;
    max-width: 236px; }
  .button-rich__checkbox-text {
    position: relative;
    cursor: pointer;
    margin-left: 30px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
    height: 28px;
    width: 236px;
    margin-top: 5px;
    white-space: break-spaces; }
  .button-rich__checkbox-header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px; }

.button-rich__checkbox-input:checked + .button-rich__checkbox-header:before {
  background-image: url(ad694aafe15811be341489a1dd946ba2.svg);
  background-repeat: no-repeat;
  background-position: center; }

.room-card_wrapper {
  width: 270px;
  height: 257px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal; }

.room-card__img {
  position: relative;
  overflow: hidden;
  height: 152px;
  width: 270px;
  border-radius: 4px 4px 0px 0px; }

.room-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 152px;
  object-fit: cover; }

.room-card__img-pagination {
  position: absolute;
  top: 129px;
  left: 214px;
  display: flex;
  flex-direction: row;
  cursor: pointer; }

.room-card__arrows {
  position: relative;
  cursor: pointer; }

.room-card__arrow {
  position: absolute;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff; }

.room-card__arrow-left {
  top: 63px;
  left: 11px; }

.room-card__arrow-right {
  top: 63px;
  left: 237px; }

.room-card__pagination {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
  margin-right: 4px; }

.room-card__pagination_active {
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3); }

.room-card__room-specifications,
.room-card__bottom-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.room-card__bottom-line {
  margin-top: 10px; }

.room-card__delimeter {
  width: 230px;
  height: 1px;
  background: rgba(31, 32, 65, 0.1);
  margin-left: 20px;
  margin-top: 5px; }

.room-card__number {
  width: 55px;
  height: 24px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #1f2041;
  margin-left: 20px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  white-space: pre; }

.room-card__number span:nth-child(2) {
  font-size: 19px;
  line-height: 19px; }

.room-card__price {
  width: 100px;
  height: 20px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  white-space: nowrap;
  margin-right: 16px;
  margin-top: 24px;
  text-align: center; }

.room-card__price span:first-child {
  font-weight: bold;
  font-size: 14px; }

.room-card__price span:nth-child(2) {
  font-size: 12px; }

.room-card__type {
  width: 41px;
  height: 15px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  margin-right: 32px;
  margin-top: 26px; }

.room-card__rate {
  margin-left: 20px; }

.room-card__comment {
  width: 90px;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
  margin-right: 20px;
  margin-top: 2px; }

.room-card__comment span:first-child {
  font-weight: bold; }

.pagination {
  width: 241px;
  height: 74.56px; }
  .pagination .pagination_wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 10.56px;
    font-family: "Montserrat", "Arial,sans-serif";
    font-style: normal;
    font-weight: normal; }
  .pagination__number {
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    justify-content: center;
    cursor: pointer; }
  .pagination__ellipsis {
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    justify-content: center; }
  .pagination__number_selected {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    color: #ffffff; }
  .pagination__arrow {
    font-family: "Material Icons";
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
    height: 40px;
    width: 40px;
    justify-content: center;
    cursor: pointer; }
  .pagination__label {
    font-size: 14px;
    line-height: 19px;
    color: rgba(31, 32, 65, 0.75);
    margin-left: 5px;
    margin-right: 5px; }

.text-field {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  height: 44px;
  width: 320px;
  font-family: "Montserrat", "Arial,sans-serif"; }

.text-field__input-wrapper {
  display: flex;
  flex-direction: row; }

.text-field__input-date,
.text-field__input-date::placeholder {
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25); }

.text-field label {
  white-space: nowrap;
  height: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 5px; }

.text-field input {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 320px;
  height: 44px;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px; }

.text-field_focused input {
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  background: transparent;
  border-color: rgba(31, 32, 65, 0.5); }

.text-field_subscription {
  width: 266px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px; }
  .text-field_subscription .text-field__input-wrapper input {
    width: 223px; }

.text-field__input-wrapper-arrow {
  width: 44px;
  height: 44px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #BC9CFF;
  cursor: pointer; }

.search-wrapper {
  max-width: 1440px;
  max-height: 1880px;
  margin: 0px auto;
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: normal; }

.search-wrapper__content {
  margin: 30px auto 0px auto;
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: 320px 834px;
  grid-template-rows: 1fr 75px;
  column-gap: 6px;
  max-width: 1160px;
  height: 1325px; }

.left-column {
  grid-area: left;
  display: flex;
  flex-direction: column; }

.left-column .dropdown__guests {
  width: 266px; }

.left-column-header {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 5px; }

.left-column-header_guests {
  margin-top: 20px; }

.range-slider__wrapper {
  margin-bottom: 2px;
  margin-top: 30px; }

.dropdown-input__filter {
  margin-bottom: 20.44px; }

.left-column-header_price {
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 31px;
  font-weight: normal;
  text-transform: none; }

.left-column-header_rules,
.left-column-header_availability {
  margin-bottom: 16px; }

.button-check {
  margin-bottom: 20px; }

.button-rich_first {
  margin-bottom: 10px; }

.button-rich_last {
  margin-bottom: 31px; }

.dropdown-input__room,
.dropdown-input__guests {
  margin-bottom: 30px; }

.right-column {
  grid-area: right; }

.bullet-list-expandable {
  margin-top: 15px; }

.rooms {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  grid-template-rows: repeat(4, 257px);
  row-gap: 20px;
  column-gap: 12px; }

.pagination {
  margin-top: 44px;
  margin-left: 290px; }

.right-column-header {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1f2041;
  margin-bottom: 21px; }

@media (max-width: 770px) {
  .search-wrapper {
    max-width: none;
    max-height: none; }
  .search-wrapper__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; }
  .right-column .rooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .right-column .pagination {
    margin: 10px auto 0px auto; }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center; } }


/*# sourceMappingURL=search.48f0da68680b4fb39bff.css.map*/