/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(04a6671d409b7485b231a150d8e20cc2.eot);
  /* IE9 Compat Modes */
  src: local(""), url(04a6671d409b7485b231a150d8e20cc2.eot?#iefix) format("embedded-opentype"), url(13b68eee26b9090788e9a5d27734a5d4.woff2) format("woff2"), url(0b7d2162b7c33a2436941cdd36b04160.woff) format("woff"), url(415c13dae5d56272ac4530a51c16f6c5.ttf) format("truetype"), url(bb3b405a4608d51ddb1306c2f641f3dd.svg#OpenSans) format("svg");
  /* Legacy iOS */ }

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(ec439cdbc57b65d82bae52adab06f884.eot);
  /* IE9 Compat Modes */
  src: local(""), url(ec439cdbc57b65d82bae52adab06f884.eot?#iefix) format("embedded-opentype"), url(9e49b964c26c32c70d1a0d6f152ea083.woff2) format("woff2"), url(792c25544581795907b83b45cc871d06.woff) format("woff"), url(16b67e57b1af62c44946f17627acb404.ttf) format("truetype"), url(1d0d8b66fa1da76d69b95b6d0ed5cca9.svg#OpenSans) format("svg");
  /* Legacy iOS */ }

/* open-sans-300italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url(f24035910366b6913f6a7a6181c6fc41.eot);
  /* IE9 Compat Modes */
  src: local(""), url(f24035910366b6913f6a7a6181c6fc41.eot?#iefix) format("embedded-opentype"), url(a19468345db9daff4e7298803636964b.woff2) format("woff2"), url(a633668463b7aeb60f05214d31617994.woff) format("woff"), url(1ca1a6c5707ab0f11be8e4b0faca57b3.ttf) format("truetype"), url(91dbf346156bb0d13a1fc928e417509c.svg#OpenSans) format("svg");
  /* Legacy iOS */ }

/* open-sans-italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(da01ac709d6f4445097ef6b8e19d65b6.eot);
  /* IE9 Compat Modes */
  src: local(""), url(da01ac709d6f4445097ef6b8e19d65b6.eot?#iefix) format("embedded-opentype"), url(c681aa34c46473d615431ab238a8059f.woff2) format("woff2"), url(9a8eb025aee4809b8a1b4282264a3445.woff) format("woff"), url(d56d2a989b3f11f13efea1eeb3f7330f.ttf) format("truetype"), url(a80aff34ae9733004fbcd60e8ec850d2.svg#OpenSans) format("svg");
  /* Legacy iOS */ }

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(2f252d9663a42fe35d09f2a1cc64461c.eot);
  /* IE9 Compat Modes */
  src: local(""), url(2f252d9663a42fe35d09f2a1cc64461c.eot?#iefix) format("embedded-opentype"), url(ccd76c23390863e2a735b3354405f0ce.woff2) format("woff2"), url(8c55c143ab9de74e10701945ec7e10f4.woff) format("woff"), url(98f29bed491b8a7b5675294694b14187.ttf) format("truetype"), url(099f4053beec784ab9d0dc7043a872c2.svg#OpenSans) format("svg");
  /* Legacy iOS */ }

/* open-sans-600italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url(d48df56fe4e114ce72d55959f5eb60c1.eot);
  /* IE9 Compat Modes */
  src: local(""), url(d48df56fe4e114ce72d55959f5eb60c1.eot?#iefix) format("embedded-opentype"), url(f32287a221672499e3ad30b694f8f70b.woff2) format("woff2"), url(f1d4d84ed612ce4416bce25aad0a25be.woff) format("woff"), url(4e4ae92fcc43c9434e3e82be4910d83e.ttf) format("truetype"), url(13fa6db73859d0a05dd9fe658e35a7b6.svg#OpenSans) format("svg");
  /* Legacy iOS */ }

/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(5a85a79bc015700b51b70b1788e07a9c.eot);
  /* IE9 Compat Modes */
  src: local(""), url(5a85a79bc015700b51b70b1788e07a9c.eot?#iefix) format("embedded-opentype"), url(690d8558faee6a0562955cb44f4917a8.woff2) format("woff2"), url(a8b07ded7d0db0758f7c72b4ce5af8ca.woff) format("woff"), url(fd871ea8c2cfeccdffd4f0706f05a7a1.ttf) format("truetype"), url(926388f043fc8117b35b84b241a7f688.svg#OpenSans) format("svg");
  /* Legacy iOS */ }

/* open-sans-700italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url(c6e4a278accd92561c73af42bc932db2.eot);
  /* IE9 Compat Modes */
  src: local(""), url(c6e4a278accd92561c73af42bc932db2.eot?#iefix) format("embedded-opentype"), url(68e5000d746cd9e1057e0cf3a70bd0b5.woff2) format("woff2"), url(dc9416edd2c23966b0d2f7be7241bdcf.woff) format("woff"), url(c97f763e3ce1a56b695757d9553b5187.ttf) format("truetype"), url(17fb3025708856cda9419f7174accc0c.svg#OpenSans) format("svg");
  /* Legacy iOS */ }

/* open-sans-800 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url(826cd8af4ffe440fdc16c17c59e5f430.eot);
  /* IE9 Compat Modes */
  src: local(""), url(826cd8af4ffe440fdc16c17c59e5f430.eot?#iefix) format("embedded-opentype"), url(04f587376bb03abd0fa546aa681184bb.woff2) format("woff2"), url(5cbf795cf02548c9e8e3176abfd989b9.woff) format("woff"), url(b46b685ca6a7531bf59bc6cb0e04f94f.ttf) format("truetype"), url(a526f5fd8be9cb98f502cecc3a34b09b.svg#OpenSans) format("svg");
  /* Legacy iOS */ }

/* open-sans-800italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url(634c2c1dc57fb67733add6f8d6817313.eot);
  /* IE9 Compat Modes */
  src: local(""), url(634c2c1dc57fb67733add6f8d6817313.eot?#iefix) format("embedded-opentype"), url(3a4b24ba38b92ec24467a86d49f579e3.woff2) format("woff2"), url(8ff6eccefb26eb50b1eb68c3d26e9dc7.woff) format("woff"), url(7547b211436d964519c1a757c2e05c18.ttf) format("truetype"), url(03ed3375ba3bee49221a9f05d40ce19f.svg#OpenSans) format("svg");
  /* Legacy iOS */ }

/* quicksand-300 - latin-ext_latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url(03b79a102515e6f6418076efbd73e319.eot);
  /* IE9 Compat Modes */
  src: local(""), url(03b79a102515e6f6418076efbd73e319.eot?#iefix) format("embedded-opentype"), url(4614d07af311879df94b1ccf3ac71f26.woff2) format("woff2"), url(90b83281979484aee0f2251f15449dc1.woff) format("woff"), url(af8707ebb33e0242640c984ae250cade.ttf) format("truetype"), url(03d85ecbcadcb9fd21b45feb7c18b4cc.svg#Quicksand) format("svg");
  /* Legacy iOS */ }

/* quicksand-regular - latin-ext_latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url(aab931db2516891e20c276359b69fe50.eot);
  /* IE9 Compat Modes */
  src: local(""), url(aab931db2516891e20c276359b69fe50.eot?#iefix) format("embedded-opentype"), url(2b19b4572f14077118cf276fd9a56749.woff2) format("woff2"), url(f50d093974351866436470a9cd0ae697.woff) format("woff"), url(11d4f12edca5a7a0ca5c918c55d53565.ttf) format("truetype"), url(b8e520864fc6a91e23e9c0d9a740e318.svg#Quicksand) format("svg");
  /* Legacy iOS */ }

/* quicksand-500 - latin-ext_latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url(1981f53a7132dcf7b2da6acf136786d4.eot);
  /* IE9 Compat Modes */
  src: local(""), url(1981f53a7132dcf7b2da6acf136786d4.eot?#iefix) format("embedded-opentype"), url(24a2781c3321b2c1f25e71564b4e147f.woff2) format("woff2"), url(b9825e24d4ecafe10f8853f5728598f1.woff) format("woff"), url(56512804e1d34c26a62b48620f732e28.ttf) format("truetype"), url(c24b1a86e778e242c503ffc588c0afc9.svg#Quicksand) format("svg");
  /* Legacy iOS */ }

/* quicksand-600 - latin-ext_latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: url(0f48a69a740cea638c2ac5b1319b547a.eot);
  /* IE9 Compat Modes */
  src: local(""), url(0f48a69a740cea638c2ac5b1319b547a.eot?#iefix) format("embedded-opentype"), url(d8fdb1850d07ca4fe5f45e3bddaf0863.woff2) format("woff2"), url(07e1998f8b997ab90570cc5d43a5d88e.woff) format("woff"), url(8a9b869e347776a51e230be4f26681b0.ttf) format("truetype"), url(ddc2c4952db390ebe258d4e710c38e64.svg#Quicksand) format("svg");
  /* Legacy iOS */ }

/* quicksand-700 - latin-ext_latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url(c86a46edc7e8d76bb8055459888f7ded.eot);
  /* IE9 Compat Modes */
  src: local(""), url(c86a46edc7e8d76bb8055459888f7ded.eot?#iefix) format("embedded-opentype"), url(3322bc6fc48347fb9eea1ce8eaf1d826.woff2) format("woff2"), url(4b2775f37758d682bc3e1c62727555fc.woff) format("woff"), url(4a94103d1b4d0f82fae7f53ed0f3c140.ttf) format("truetype"), url(42de95a295247ccbf4a781527f7c00c7.svg#Quicksand) format("svg");
  /* Legacy iOS */ }

/* montserrat-100 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url(5c0cf2f17c2c739ba7bdb3a0f44542b1.eot);
  /* IE9 Compat Modes */
  src: local(""), url(5c0cf2f17c2c739ba7bdb3a0f44542b1.eot?#iefix) format("embedded-opentype"), url(5cb6e6f8616a8348189428c5a8e56ceb.woff2) format("woff2"), url(40f11029aa616e8bbbe534a081a5aa63.woff) format("woff"), url(cb6af70a6c123ef283dbe178621fad25.ttf) format("truetype"), url(608bed77db71c77c75c0ad95b7b2160e.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-200 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url(3f62ad9b414b465fdde90aa111c13fca.eot);
  /* IE9 Compat Modes */
  src: local(""), url(3f62ad9b414b465fdde90aa111c13fca.eot?#iefix) format("embedded-opentype"), url(14d81a205d0bf9eb95c55ef7b0e9b9ef.woff2) format("woff2"), url(1f5c3c0d0b06612749ab3aa2e8fc3c5c.woff) format("woff"), url(833d605d1c26b0712ab05b8a73098ede.ttf) format("truetype"), url(3d508a80c30ad1cffaddfe429df6616b.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-100italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: url(ba4ee5ce4b53c3ca3be40467ee1d3e64.eot);
  /* IE9 Compat Modes */
  src: local(""), url(ba4ee5ce4b53c3ca3be40467ee1d3e64.eot?#iefix) format("embedded-opentype"), url(37467610b40704ae70ac03dc635c440b.woff2) format("woff2"), url(433162fce5e8caf31083c42d750a93af.woff) format("woff"), url(b4d6675df7550ef6c861cdac637bbe41.ttf) format("truetype"), url(c5eebac0f0ac7e0ab5e5325618758e75.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(7793baee5328006f31250ec9f2b3b38e.eot);
  /* IE9 Compat Modes */
  src: local(""), url(7793baee5328006f31250ec9f2b3b38e.eot?#iefix) format("embedded-opentype"), url(a5933808c4564a3f4095f1029be6cb4e.woff2) format("woff2"), url(3cc071d85ea3f7f6819a6c14a7acfad5.woff) format("woff"), url(f0e26ef9e9e87a9320d65a08a782f0d5.ttf) format("truetype"), url(0c3783781c48cfcea845562c50927569.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-200italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: url(fd832dc2fdd7e59a7916d1a555e92e92.eot);
  /* IE9 Compat Modes */
  src: local(""), url(fd832dc2fdd7e59a7916d1a555e92e92.eot?#iefix) format("embedded-opentype"), url(8a16de2be18896fad23f8aae14c623c1.woff2) format("woff2"), url(d874c565731fa4ec7b510e17617bbba9.woff) format("woff"), url(4b57aa582dc04df903395a25ff539713.ttf) format("truetype"), url(91b6f89f3179c8c5daa27a3dc55c0802.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-300italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url(71bf46d83e766f3d45c909abdd33f2ba.eot);
  /* IE9 Compat Modes */
  src: local(""), url(71bf46d83e766f3d45c909abdd33f2ba.eot?#iefix) format("embedded-opentype"), url(d715a9e303f8852d6f8fb12ebd4213dd.woff2) format("woff2"), url(b15015eb3f567105c8bceed83440fbfb.woff) format("woff"), url(dcdcdfae1722566dcaf2cdcd263eeb1a.ttf) format("truetype"), url(77f2de879c466c4df1c591d22481ddba.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(dc9c0830fb34ea831853f6b5c49dd0fa.eot);
  /* IE9 Compat Modes */
  src: local(""), url(dc9c0830fb34ea831853f6b5c49dd0fa.eot?#iefix) format("embedded-opentype"), url(f263cfd0a6fa311229a6321b6f901d03.woff2) format("woff2"), url(c1ba4359982fe0cc48ec8d1ad403fdeb.woff) format("woff"), url(4ff99841b08686bda3f7921d91044afb.ttf) format("truetype"), url(22d8566c41c8d731931b58ae64f72170.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url(f0c7195566c1471c1f1ad6a2b93fa885.eot);
  /* IE9 Compat Modes */
  src: local(""), url(f0c7195566c1471c1f1ad6a2b93fa885.eot?#iefix) format("embedded-opentype"), url(a3b327eaeb0a8f1a50cfc1dad8f93f46.woff2) format("woff2"), url(d9efdead1749a21fae169b359de60941.woff) format("woff"), url(ce12d40345c591e9daf12f9bda365078.ttf) format("truetype"), url(d92eb2f175a531c614191fdbd71226cd.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-500italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url(efbc521d24ef8587f176dea9c1a739b2.eot);
  /* IE9 Compat Modes */
  src: local(""), url(efbc521d24ef8587f176dea9c1a739b2.eot?#iefix) format("embedded-opentype"), url(80bc319c6160e60aae683b35c7cda2fd.woff2) format("woff2"), url(6142d22f7172dfea564bbbe4648bcf8e.woff) format("woff"), url(b5809465c6b33b43cd845a728d6629ba.ttf) format("truetype"), url(de7f6c9db15a487f2d244d26e07ad38c.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(13dd0ad41fb370ace5aaaf70c9b6300e.eot);
  /* IE9 Compat Modes */
  src: local(""), url(13dd0ad41fb370ace5aaaf70c9b6300e.eot?#iefix) format("embedded-opentype"), url(057bc00d3ab1fcfca0683ce3c68e7a12.woff2) format("woff2"), url(6e1f7d3787594a69ed456275d2debff0.woff) format("woff"), url(7ac059171ee59fbe8b33565ba138d089.ttf) format("truetype"), url(ebf71ddd0fe3ca70ddd346e7c300fc48.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(22d22edc51b42df22dbc86e486778bde.eot);
  /* IE9 Compat Modes */
  src: local(""), url(22d22edc51b42df22dbc86e486778bde.eot?#iefix) format("embedded-opentype"), url(eb4735b30729893f823d0cd355a377f1.woff2) format("woff2"), url(76f41669c841bc25d1b71f4e34e831fe.woff) format("woff"), url(257ff2ade74c135ac41efff0e99519f5.ttf) format("truetype"), url(160f4d63e15ce27241b6e8f006b77c5a.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-600italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url(23ea7e559b0ec7d22d8809548b4a8c06.eot);
  /* IE9 Compat Modes */
  src: local(""), url(23ea7e559b0ec7d22d8809548b4a8c06.eot?#iefix) format("embedded-opentype"), url(e215f05260116e29601cca05b1612fd8.woff2) format("woff2"), url(9cb63491641aceaff6c466be81edc1a8.woff) format("woff"), url(67b9f9053ecbe900713de84c98e8abb4.ttf) format("truetype"), url(d9cf0d40b5a1d15274ff024990c97b1b.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-700italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url(1647327d098b72586fa2589859e35c9f.eot);
  /* IE9 Compat Modes */
  src: local(""), url(1647327d098b72586fa2589859e35c9f.eot?#iefix) format("embedded-opentype"), url(f4b30344db9ebe00bb15ecc8719c11e2.woff2) format("woff2"), url(2878ac2304b6cba52c5758a55a1d35f6.woff) format("woff"), url(a14ce7f4be1771503fdd77d5025ad49c.ttf) format("truetype"), url(c398f333f8a2190333bffd13863056e2.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url(b87367c681e6c4a5a8c41e6369fc7757.eot);
  /* IE9 Compat Modes */
  src: local(""), url(b87367c681e6c4a5a8c41e6369fc7757.eot?#iefix) format("embedded-opentype"), url(c77eb21b0e700dc73f10492fbb18924d.woff2) format("woff2"), url(69621f66b7245737a408a0ba9b869b27.woff) format("woff"), url(6e45a402530262bfae047451d493fa76.ttf) format("truetype"), url(0546360978b1d8330d96f4423876795b.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(d7874418aba069eb92e8aa36e97004ad.eot);
  /* IE9 Compat Modes */
  src: local(""), url(d7874418aba069eb92e8aa36e97004ad.eot?#iefix) format("embedded-opentype"), url(e9dea54ec59e29a6913f2b5829d766b9.woff2) format("woff2"), url(082762b455a3f227e8ac329c283f8ad6.woff) format("woff"), url(6cbb516e629a7542e7a823790091e885.ttf) format("truetype"), url(fac85a3030008d30b0b8faaaa0edf48d.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-800italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url(63c1e8d1c2737779798dcc4888e94afb.eot);
  /* IE9 Compat Modes */
  src: local(""), url(63c1e8d1c2737779798dcc4888e94afb.eot?#iefix) format("embedded-opentype"), url(3dd0f1f5e56dd78a9bf361181113cb44.woff2) format("woff2"), url(4063da72d98b6096e949cdc9a7331e5e.woff) format("woff"), url(88487fc48d4c9cd082503b7b634196e6.ttf) format("truetype"), url(ccc7fb3a2cd82a3c509ebc30e7a7c7b6.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-900 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url(0cad49203d23028cdc51ee2763e91ec8.eot);
  /* IE9 Compat Modes */
  src: local(""), url(0cad49203d23028cdc51ee2763e91ec8.eot?#iefix) format("embedded-opentype"), url(d04e4634eb8b566e1bd0b81d92eaae70.woff2) format("woff2"), url(66d2367570bd7a14558b6552cc4b2348.woff) format("woff"), url(ecc6ec3f6771ae3135e0c4008b4e97cf.ttf) format("truetype"), url(3caa960f166517a4a9f70be47e24b7ce.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

/* montserrat-900italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: url(a86ae48979eb4b9681ee2a78c7e9d3ac.eot);
  /* IE9 Compat Modes */
  src: local(""), url(a86ae48979eb4b9681ee2a78c7e9d3ac.eot?#iefix) format("embedded-opentype"), url(f3db32d2fed67e5a1e5de7f177b65e4d.woff2) format("woff2"), url(d7606e1b81bd89cd380b28746c4e3b13.woff) format("woff"), url(5d0216ccd65f5ecddc568961bf8d379c.ttf) format("truetype"), url(430ae0458d8743ef3008ac7d63cbb186.svg#Montserrat) format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: "rouble";
  src: url(b5a0c905109bbc63d2ed762255024eab.otf) format("opentype"); }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(a36c7514ef1c23af53f19f858bc0a342.woff2) format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.header-burger {
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
  margin-left: 10px;
  cursor: pointer; }

.header-burger__input {
  opacity: 0;
  width: 0px;
  height: 0px;
  z-index: 5; }

.header-burger__label::before,
.header-burger__label::after {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 3px;
  content: '';
  background-color: #1f2041;
  left: 0px;
  transition: all 0.3s ease 0s; }

.header-burger__label span {
  top: 13px;
  background-color: #1f2041;
  position: absolute;
  cursor: pointer;
  width: 100%;
  content: '';
  height: 3px;
  left: 0px;
  transition: all 0.3s ease 0s; }

.header-burger__label::before {
  top: 0px; }

.header-burger__label::after {
  bottom: 0px; }

.header-burger__input:checked + .header-burger__label:before {
  transform: rotate(45deg);
  top: 9px; }

.header-burger__input:checked + .header-burger__label:after {
  transform: rotate(-45deg);
  top: 9px; }

.header-burger__input:checked + .header-burger__label span {
  background-color: transparent; }

@media (max-width: 770px) {
  .header-burger {
    display: block; } }

.header-login {
  max-width: 1440px;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px; }

.header-login__wrapper {
  max-width: 1160px;
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header-login__logo {
  height: 40px;
  width: 105.69px; }

.header-login__nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 770px;
  flex: auto; }

.header-login__nav a {
  text-decoration: none; }

.header-login__nav-link {
  color: rgba(31, 32, 65, 0.5);
  height: 18px;
  margin-right: 20px; }

.header-login__nav-link:first-child {
  width: 43px;
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75); }

.header-login__nav-link:nth-child(2) {
  width: 50px;
  white-space: nowrap;
  margin-right: 0px; }

.expand-more-container {
  width: 24px;
  height: 21px;
  font-family: "Material Icons";
  font-size: 24px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  margin-right: 20px; }

.header-login__nav-link:nth-child(4) {
  width: 72px; }

.header-login__nav-link:nth-child(5) {
  width: 62px; }

.header-login__nav-link:nth-child(6) {
  width: 92px;
  margin-right: 0px; }

.login {
  height: 34px;
  width: 87px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  border-radius: 22px;
  border: 2px solid #BC9CFF;
  padding: 9px 20px 10px 20px;
  margin-right: 20px;
  text-align: center; }

.register {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  padding: 9px 20px 10px 19px;
  height: 34px;
  width: 196px;
  text-align: center;
  margin-right: 0px; }

@media (max-width: 900px) {
  .header-login__logo {
    display: none; }
  .header-login__wrapper {
    justify-content: center; } }

@media (max-width: 770px) {
  .header-login__wrapper {
    justify-content: space-between; }
  .header-login__nav {
    display: none; }
  .header-login.active {
    height: 100%;
    align-items: flex-start; }
  .header-login__wrapper.active {
    padding-top: 20px;
    align-items: flex-start; }
  .header-login__nav.active {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left; }
  .expand-more-container {
    display: none; }
  .header-login__nav-link,
  .header-login__nav-link:first-child,
  .header-login__nav-link:nth-child(4),
  .header-login__nav-link:nth-child(5) {
    margin-right: 0px;
    margin-bottom: 10px; }
  .login,
  .register {
    margin-right: 0px; } }

.footer-copyright-container {
  max-width: 1440px;
  min-height: 70px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  font-style: normal;
  font-weight: normal;
  font-family: "Montserrat", "Arial,sans-serif";
  display: flex;
  align-items: center; }

.footer-copyright__wrapper {
  margin: 0px auto;
  max-width: 1160px;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: auto; }

.footer__copyright {
  max-width: 367px;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75); }

.footer__social-networks-links ul {
  display: flex;
  text-align: center;
  flex-direction: row;
  width: 112px;
  justify-content: space-between; }

.footer__social-networks-link {
  text-decoration: none;
  width: 24px;
  height: 24px;
  color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

@media (max-width: 770px) {
  .footer-copyright__wrapper {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; }
  .footer__copyright {
    margin: 5px 0px 10px 0px;
    display: flex;
    justify-content: center; }
  .footer__social-networks-links {
    margin: 0px 0px 25px 0px; } }

.footer-nav__container {
  max-width: 1440px;
  font-family: "Montserrat", "Arial,sans-serif";
  height: 372px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal; }

.footer-nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0px auto;
  padding-top: 104px; }

.footer-nav__logo {
  width: 260px;
  height: 132px; }

.footer-nav__logo img {
  margin-top: -3px; }

.footer-nav__logo p {
  width: 260px;
  height: 72px;
  margin-top: 18px;
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }

.footer-nav__links {
  display: flex;
  flex-direction: row;
  width: 560px;
  height: 168px; }

.footer-nav__links ul li a {
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5); }

.footer-nav__links_navigation,
.footer-nav__links_about-us,
.footer-nav__links_support {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.footer-nav__links_navigation {
  width: 143px;
  margin-right: 57px; }

.footer-nav__links_about-us li a {
  display: block;
  white-space: nowrap; }

.footer-nav__links_about-us {
  width: 108px;
  flex-wrap: nowrap;
  margin-right: 92px; }

.footer-nav__links_about-us li:first-child a,
.footer-nav__links_navigation li:first-child a,
.footer-nav__links_support li:first-child a {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041; }

.footer-nav__links_support ul li a {
  display: block;
  white-space: nowrap; }

.footer-nav__links_support {
  width: 149px;
  height: 130px; }

.footer-nav__subscribe {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-top: 4px; }

.footer-nav__subscribe-textContainer {
  width: 260px;
  height: 84px;
  margin-bottom: 17px; }

.footer-nav__subscribe-textContainer p {
  display: block;
  height: 48px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }

p.subscribe {
  height: 15px;
  width: 208px;
  display: block;
  white-space: nowrap;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin: 0px 0px 16px 0px; }

.footer-nav__subscribe-form .text-field_subscription {
  width: 260px; }

@media (max-width: 1130px) {
  .footer-nav__logo {
    display: none; }
  .footer-nav__wrapper {
    justify-content: center; } }

@media (max-width: 770px) {
  .footer-nav__container,
  .footer-nav__subscribe {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; }
  .footer-nav__wrapper {
    padding-top: 0px; }
  .footer-nav__container {
    height: 200px; }
  .footer-nav__logo,
  .footer-nav__links {
    display: none; }
  .footer-nav__subscribe {
    margin-top: 0px; }
  .footer-nav__container,
  .footer-nav__subscribe {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; }
  .footer-nav__logo,
  .footer-nav__links {
    display: none; }
  .footer-nav__subscribe {
    margin-top: 10px; } }

.dropdown__date {
  width: 150px; }

.dropdown__date .dropdown__input {
  width: 91px; }

.dropdown__filter {
  width: 266px; }

.datepicker--day-name {
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #BC9CFF;
  height: 40px;
  width: 40px; }

.datepicker--cell-day {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
  width: 14.28571%;
  height: 40px; }

.-other-month- {
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(31, 32, 65, 0.25); }

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-weekend- {
  color: #ffffff;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 50%; }

.datepicker--cell.-current- {
  color: rgba(31, 32, 65, 0.5); }

.datepicker {
  background: #ffffff;
  font-family: "Montserrat", "Arial,sans-serif";
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  width: 320px;
  min-height: 369px; }
  .datepicker--content {
    padding: 0px;
    width: 280px;
    margin-left: 20.94px;
    margin-right: 19.94px;
    margin-bottom: 20.44px; }
  .datepicker--nav-action {
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 24px;
    height: 24px;
    color: #BC9CFF;
    margin-left: 17px;
    margin-right: 17px; }
  .datepicker--nav {
    border-bottom: none;
    margin-top: 15px; }
  .datepicker--nav-title {
    font-family: "Open Sans", "Arial,sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: #1f2041; }
  .datepicker--nav-title i {
    color: #1f2041; }
  .datepicker--buttons {
    border-top: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    font-family: "Montserrat", "Arial,sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase; }
  .datepicker--buttons span:first-child {
    padding-left: 20px;
    color: #BC9CFF; }
  .datepicker--buttons span:nth-child(2) {
    padding-right: 20px;
    padding-left: 110px;
    color: #BC9CFF; }
  .datepicker--button {
    display: block; }
  .datepicker--pointer {
    display: none; }

.datepicker--cell.-range-from-,
.datepicker--cell.-range-to-,
.datepicker--cell.-selected-.-range-to- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.datepicker--cell.-in-range- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25; }

.datepicker--cell.-selected-.-range-to-::before {
  content: '';
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25; }

.datepicker--cell.-selected-.-range-from- +
.datepicker--cell.-in-range-::before {
  content: '';
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: -20px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.datepicker--days-names {
  margin-top: 27px;
  margin-bottom: 0px; }

.dropdown-counter {
  font-family: "Montserrat", "Arial,sans-serif";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin: 6px 7px 7px 15px; }

.dropdown-counter__header {
  overflow: hidden;
  margin-bottom: 3px;
  max-width: 152px; }

.dropdown-counter__container {
  max-width: 92px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.container-dropdown__decrease,
.container-dropdown__increase {
  border-radius: 22px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer; }

.container-dropdown__decrease {
  border: 1px solid rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.25); }

.container-dropdown__increase {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.5); }

.container-dropdown__decrease_dark {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.5); }

.dropdown__date {
  width: 150px; }

.dropdown__date .dropdown__input {
  width: 91px; }

.dropdown__filter {
  width: 266px; }

.datepicker--day-name {
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #BC9CFF;
  height: 40px;
  width: 40px; }

.datepicker--cell-day {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
  width: 14.28571%;
  height: 40px; }

.-other-month- {
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(31, 32, 65, 0.25); }

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-weekend- {
  color: #ffffff;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 50%; }

.datepicker--cell.-current- {
  color: rgba(31, 32, 65, 0.5); }

.datepicker {
  background: #ffffff;
  font-family: "Montserrat", "Arial,sans-serif";
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  width: 320px;
  min-height: 369px; }
  .datepicker--content {
    padding: 0px;
    width: 280px;
    margin-left: 20.94px;
    margin-right: 19.94px;
    margin-bottom: 20.44px; }
  .datepicker--nav-action {
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 24px;
    height: 24px;
    color: #BC9CFF;
    margin-left: 17px;
    margin-right: 17px; }
  .datepicker--nav {
    border-bottom: none;
    margin-top: 15px; }
  .datepicker--nav-title {
    font-family: "Open Sans", "Arial,sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: #1f2041; }
  .datepicker--nav-title i {
    color: #1f2041; }
  .datepicker--buttons {
    border-top: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    font-family: "Montserrat", "Arial,sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase; }
  .datepicker--buttons span:first-child {
    padding-left: 20px;
    color: #BC9CFF; }
  .datepicker--buttons span:nth-child(2) {
    padding-right: 20px;
    padding-left: 110px;
    color: #BC9CFF; }
  .datepicker--button {
    display: block; }
  .datepicker--pointer {
    display: none; }

.datepicker--cell.-range-from-,
.datepicker--cell.-range-to-,
.datepicker--cell.-selected-.-range-to- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.datepicker--cell.-in-range- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25; }

.datepicker--cell.-selected-.-range-to-::before {
  content: '';
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25; }

.datepicker--cell.-selected-.-range-from- +
.datepicker--cell.-in-range-::before {
  content: '';
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: -20px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.datepicker--days-names {
  margin-top: 27px;
  margin-bottom: 0px; }

.dropdown {
  position: relative;
  font-family: "Montserrat", "Arial,sans-serif";
  line-height: 14.63px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 2px; }

.dropdown__guests {
  width: 320px; }

.dropdown__room {
  width: 266px; }

.dropdown_rounding-corners-top {
  border-radius: 2px 2px 0px 0px;
  border: 1px solid rgba(31, 32, 65, 0.5); }

.dropdown__input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.dropdown__input {
  border: none;
  outline: none;
  -webkit-appearance: none;
  height: 24px;
  margin-top: 8px;
  margin-left: 15px;
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  width: 100%; }

.dropdown__guests .dropdown__input {
  width: 180px;
  overflow: hidden; }

.dropdown__input::placeholder {
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  height: 18px;
  color: rgba(31, 32, 65, 0.75);
  margin-bottom: 12px; }

.dropdown__arrow {
  width: 44px;
  height: 44px;
  cursor: pointer;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.5); }

.dropdown__body {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: none;
  position: absolute;
  top: 42px;
  z-index: 3;
  width: inherit;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 0px 0px 2px 2px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }

.dropdown_active {
  display: block; }

.dropdown__body-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #BC9CFF;
  margin: 20px 7px 12px 14px; }

.buttons-dropdown__clear,
.buttons-dropdown__apply {
  cursor: pointer; }

.hidden {
  visibility: hidden;
  cursor: none; }

.bullet-list {
  max-width: 243px;
  list-style-type: none;
  display: block; }

.bullet-list__elem {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 20.86px;
  position: relative;
  width: 253px;
  margin-bottom: 10px; }

.bullet-list__elem:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-color: rgba(31, 32, 65, 0.25);
  border-radius: 50%; }

.bullet-list-expandable {
  width: 266px;
  height: 44px;
  position: relative; }

.bullet-list-expandable__label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center; }

.bullet-list-expandable__label span {
  display: block;
  width: 44px;
  height: 44px;
  cursor: pointer;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.5); }

.bullet-list-expandable__dropdown {
  position: absolute;
  top: 44px;
  left: 0px;
  display: none;
  z-index: 1;
  background-color: #ffffff; }

.bullet-list-expandable__dropdown-elem {
  margin-bottom: 10px;
  margin-top: 3px; }

.bullet-list_is-visible {
  display: block; }

.bullet-list-icons {
  min-height: 69px;
  width: 280px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  display: flex;
  flex-direction: row; }
  .bullet-list-icons__icon {
    width: 48px;
    height: 48px;
    color: #BC9CFF;
    font-family: "Material Icons";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px; }
  .bullet-list-icons__header {
    font-family: "Montserrat", "Arial,sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75); }
  .bullet-list-icons__text {
    font-family: "Montserrat", "Arial,sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    padding-top: 5px;
    margin-bottom: 17px; }

.range-slider__wrapper {
  width: 266px; }

.range-slider__label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -3px;
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal; }

.range-slider__label-wrapper p:first-child {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  padding-top: 3px; }

.range-slider__label-wrapper p:nth-child(2) {
  height: 15px;
  width: 102px;
  text-align: justify;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5); }

.irs--flat .irs-line {
  background-color: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 3px;
  height: 6px; }

.irs--flat .irs-handle > i:first-child {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 16px;
  height: 16px;
  margin-top: -2px; }

.irs--flat .irs-bar {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
  height: 6px; }

.irs-min, .irs-max {
  display: none; }

.irs-from, .irs-to {
  display: none; }

.rub {
  font-family: "rouble";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5); }

.button {
  width: 99px;
  height: 44px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", "Arial,sans-serif";
  white-space: nowrap;
  font-style: normal; }

.button-dark {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.button-dark50 {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.5; }

.button-dark span,
.button-dark50 span {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff; }

.button-white {
  background: none;
  border: 2px solid #BC9CFF; }

.button-white50 {
  background: none;
  border: 2px solid rgba(188, 156, 255, 0.5); }

.button-white span,
.button-white50 span,
.button-transparent span {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  white-space: nowrap; }

.button-transparent,
.button-transparent50 {
  border: none;
  background: none;
  height: 15px;
  width: 61px;
  padding: 0px; }

.button-transparent50 span {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5); }

.button-with-arrow {
  width: 320px;
  height: 44px;
  padding: 0px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right; }
  .button-with-arrow div:first-child {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-left: 44px; }
  .button-with-arrow__arr {
    font-family: "Material Icons";
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    height: 44px;
    width: 44px; }

.button-rate {
  height: 24px;
  width: 120px;
  background-color: transparent;
  border-radius: 0px;
  display: flex;
  flex-direction: row; }
  .button-rate input {
    display: none; }

.button-rate-star {
  font-size: 24px;
  color: #BC9CFF;
  line-height: 20px;
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
  align-items: center;
  text-align: center; }

.button-like {
  width: 40px;
  height: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: 10px;
  display: flex;
  flex-direction: row; }
  .button-like div:first-child {
    width: 50%;
    height: 20px;
    text-align: center;
    align-items: center;
    display: block;
    font-family: "Material Icons";
    font-weight: normal;
    font-size: 10px;
    line-height: 9px;
    color: rgba(31, 32, 65, 0.25);
    padding-top: 5px; }
  .button-like div:nth-child(2) {
    width: 50%;
    height: 100%;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    align-items: center;
    color: rgba(31, 32, 65, 0.25);
    display: flex; }

.is-liked {
  border: 1px solid #BC9CFF; }

.is-liked div:first-child {
  color: #BC9CFF; }

.is-liked div:nth-child(2) {
  color: #BC9CFF; }

.button-check {
  width: 222px;
  height: max-content; }
  .button-check__checkbox-input {
    position: absolute;
    z-index: 1;
    opacity: 0;
    margin-left: 3px; }
  .button-check__checkbox-text {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    max-height: 36px;
    max-width: 192px;
    margin-bottom: 13px;
    white-space: break-spaces; }
  .button-check__checkbox-text:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px; }

.button-check__checkbox-input:checked + .button-check__checkbox-text:before {
  background-image: url(ad694aafe15811be341489a1dd946ba2.svg);
  background-repeat: no-repeat;
  background-position: center; }

.button-radio {
  height: 24px;
  max-width: 99px; }
  .button-radio__checkbox-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin-left: 10px; }
  .button-radio__checkbox-text {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
    height: 18px;
    max-width: 73px; }
  .button-radio__checkbox-text:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 10px; }
  .button-radio__checkbox-text:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0; }

.button-radio__checkbox-input:checked + .button-radio__checkbox-text:after {
  opacity: 1; }

.button-radio__checkbox-input:checked + .button-radio__checkbox-text {
  color: rgba(31, 32, 65, 0.75); }

.button-radio__checkbox-input:checked + .button-radio__checkbox-text:before {
  background: #ffffff;
  border: 1px solid #BC9CFF;
  box-sizing: border-box;
  border-radius: 10px; }

.button-rich {
  width: 266px;
  height: 51px; }
  .button-rich__checkbox-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin-left: 10px; }
  .button-rich__checkbox-header {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    height: 18px;
    max-width: 236px; }
  .button-rich__checkbox-text {
    position: relative;
    cursor: pointer;
    margin-left: 30px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
    height: 28px;
    width: 236px;
    margin-top: 5px;
    white-space: break-spaces; }
  .button-rich__checkbox-header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px; }

.button-rich__checkbox-input:checked + .button-rich__checkbox-header:before {
  background-image: url(ad694aafe15811be341489a1dd946ba2.svg);
  background-repeat: no-repeat;
  background-position: center; }

.room-card_wrapper {
  width: 270px;
  height: 257px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal; }
  .room-card_wrapper .room-card__img {
    position: relative;
    overflow: hidden;
    height: 152px;
    width: 270px;
    border-radius: 4px 4px 0px 0px; }
  .room-card_wrapper .room-card__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 152px;
    object-fit: cover; }
  .room-card_wrapper .room-card__img-pagination {
    position: absolute;
    top: 129px;
    left: 214px;
    display: flex;
    flex-direction: row;
    cursor: pointer; }
  .room-card_wrapper .room-card__arrows {
    position: relative;
    cursor: pointer; }
  .room-card_wrapper .room-card__arrow {
    position: absolute;
    font-family: "Material Icons";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff; }
  .room-card_wrapper .room-card__arrow-left {
    top: 63px;
    left: 11px; }
  .room-card_wrapper .room-card__arrow-right {
    top: 63px;
    left: 237px; }
  .room-card_wrapper .room-card__pagination {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
    margin-right: 4px; }
  .room-card_wrapper .room-card__pagination_active {
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3); }
  .room-card_wrapper .room-card__room-specifications,
  .room-card_wrapper .room-card_bottom-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .room-card_wrapper .room-card_bottom-line {
    margin-top: 10px; }
  .room-card_wrapper .room-card__delimeter {
    width: 230px;
    height: 1px;
    background: rgba(31, 32, 65, 0.1);
    margin-left: 20px;
    margin-top: 5px; }
  .room-card_wrapper .room-card__number {
    width: 55px;
    height: 24px;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #1f2041;
    margin-left: 20px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    white-space: pre; }
  .room-card_wrapper .room-card__number span:nth-child(2) {
    font-size: 19px;
    line-height: 19px; }
  .room-card_wrapper .room-card__price {
    width: 100px;
    height: 20px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    white-space: nowrap;
    margin-right: 16px;
    margin-top: 24px;
    text-align: center; }
  .room-card_wrapper .room-card__price span:first-child {
    font-weight: bold;
    font-size: 14px; }
  .room-card_wrapper .room-card__price span:nth-child(2) {
    font-size: 12px; }
  .room-card_wrapper .room-card__type {
    width: 41px;
    height: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    margin-right: 32px;
    margin-top: 26px; }
  .room-card_wrapper .room-card__rate {
    margin-left: 20px; }
  .room-card_wrapper .room-card__comment {
    width: 90px;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: rgba(31, 32, 65, 0.5);
    margin-right: 20px;
    margin-top: 2px; }
  .room-card_wrapper .room-card__comment span:first-child {
    font-weight: bold; }

.pagination {
  width: 241px;
  height: 74.56px; }
  .pagination .pagination_wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 10.56px;
    font-family: "Montserrat", "Arial,sans-serif";
    font-style: normal;
    font-weight: normal; }
  .pagination__number {
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    justify-content: center;
    cursor: pointer; }
  .pagination__ellipsis {
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    justify-content: center; }
  .pagination__number_selected {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    color: #ffffff; }
  .pagination__arrow {
    font-family: "Material Icons";
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
    height: 40px;
    width: 40px;
    justify-content: center;
    cursor: pointer; }
  .pagination__label {
    font-size: 14px;
    line-height: 19px;
    color: rgba(31, 32, 65, 0.75);
    margin-left: 5px;
    margin-right: 5px; }

.text-field {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  height: 44px;
  width: 320px;
  font-family: "Montserrat", "Arial,sans-serif"; }

.text-field__input-wrapper {
  display: flex;
  flex-direction: row; }

.text-field__input-date,
.text-field__input-date::placeholder {
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25); }

.text-field label {
  white-space: nowrap;
  height: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 5px; }

.text-field input {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 320px;
  height: 44px;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px; }

.text-field_focused input {
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  background: transparent;
  border-color: rgba(31, 32, 65, 0.5); }

.text-field_subscription {
  width: 266px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px; }
  .text-field_subscription .text-field__input-wrapper input {
    width: 223px; }

.text-field__input-wrapper-arrow {
  width: 44px;
  height: 44px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #BC9CFF;
  cursor: pointer; }

.search-wrapper {
  max-width: 1440px;
  max-height: 1880px;
  margin: 0px auto;
  font-family: "Montserrat", "Arial,sans-serif";
  font-style: normal;
  font-weight: normal; }

.search-wrapper__content {
  margin: 30px auto 0px auto;
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: 320px 834px;
  grid-template-rows: 1fr 75px;
  column-gap: 6px;
  max-width: 1160px;
  height: 1325px; }

.search-wrapper__content_left-column {
  grid-area: left;
  display: flex;
  flex-direction: column; }

.search-wrapper__content_left-column .dropdown__guests {
  width: 266px; }

.left-column-header {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 5px; }

.left-column-header_guests {
  margin-top: 20px; }

.range-slider__wrapper {
  margin-bottom: 2px;
  margin-top: 30px; }

.dropdown-input__filter {
  margin-bottom: 20.44px; }

.left-column-header_price {
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 31px;
  font-weight: normal;
  text-transform: none; }

.left-column-header_rules,
.left-column-header_availability {
  margin-bottom: 16px; }

.button-check {
  margin-bottom: 20px; }

.button-rich_first {
  margin-bottom: 10px; }

.button-rich_last {
  margin-bottom: 31px; }

.dropdown-input__room,
.dropdown-input__guests {
  margin-bottom: 30px; }

.search-wrapper__content_right-column {
  grid-area: right; }

.bullet-list-expandable {
  margin-top: 15px; }

.rooms {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  grid-template-rows: repeat(4, 257px);
  row-gap: 20px;
  column-gap: 12px; }

.pagination {
  margin-top: 44px;
  margin-left: 290px; }

.right-column-header {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1f2041;
  margin-bottom: 21px; }

@media (max-width: 770px) {
  .search-wrapper {
    max-width: none;
    max-height: none; }
    .search-wrapper .search-wrapper__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .search-wrapper .search-wrapper__content .search-wrapper__content_right-column .rooms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center; } }


/*# sourceMappingURL=search.9ecd7da9e0bfd81cd73c.css.map*/