html(lang="en")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title FSD education
 body.main-container
  h1 FSD education. Layouts.
  section.UIKit
   a(href='UIKit.html') UIKit
  section.site
   a(href='hotel.html') Hotel Layouts
  
 

  
