include pug/UIKit/headerUiKit.pug
html(lang="en")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title FSD education
 body
  section.colorsAndTypes
  +header
  include pug/UIKit/colors.pug
  section.headersAndFooters
  +header
  include pug/UIKit/headersAndFooters.pug
  section.formElements
  +header
  include pug/UIKit/formElements.pug

  
