html(lang="en")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title FSD education
 body.wrapper
  h1 FSD education. Layouts.
  section.UIKit
   a(href='UIKit.html') UIKit
  section.site
   a(href='sign-in.html') Sign-in Layout
   a(href='landing.html') Landing Layout
   a(href='details.html') Room details Layout
   a(href='search.html') Room search Layout
   a(href='registration.html') Registration Layout

