.test{
 border: 1px solid red;
 max-width: 1300px;
 height: 70px;
}
.footer-nav__container {
  max-width: 1200px;

  height: 372px;

  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
}
.footer-nav__logo {
  width: 260px;
  height: 156px;
  margin-left: 140px;
  margin-top: 100px;
  margin-bottom: 116px;
  margin-right: 40px;
}
.footer-nav__logo p {
  width: 260px;
  height: 96px;
  margin-top: 16px;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

}
.footer-nav__links {
  display: flex;
  flex-direction: row;
}
.footer-nav__links_navigation {
  display: flex;
  flex-direction: column;
  margin-top: 104px;
  width: 81px;
  height: 168px;
  margin-right: 119px;
  justify-content: space-between;
}
.footer-nav__links_navigation a {
  display: block;
  white-space: nowrap;
}
.footer-nav__links_navigation a:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

}
.footer-nav__links_navigation a:nth-child(2) {
  width: 64px;
  height: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

}
.footer-nav__links_about-us a {
  display: block;
  white-space: nowrap;
}
.footer-nav__links_about-us {
  display: flex;
  flex-direction: column;
  width: 82px;
  height: 168px;
  margin-top: 104px;
  margin-right: 118px;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.footer-nav__links_about-us a:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;

}
.footer-nav__links_link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  display: inline-block;
}
.footer-nav__links_support {
  display: flex;
  flex-direction: column;
  width: 113px;
  height: 130px;
  margin-top: 104px;
  margin-right: 87px;
  justify-content: space-between;
}
.footer-nav__links_support a {
  display: block;
  white-space: nowrap;
}
.footer-nav__links_support a:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;

}
.footer-nav__links__support {
  display: flex;
  flex-direction: column;
  width: 113px;
  height: 130px;
  margin-top: 104px;
  margin-right: 87px;
  justify-content: space-between;
}
.footer-nav__subscribe {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-top: 104px;
}
.footer-nav__subscribe-textContainer{
  margin-bottom: 20px;
}
.footer-nav__subscribe-textContainer p {
  display: block;
  height: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
}
p.subscribe {
  height: 15px;
  width: 208px;
  display: block;
  white-space: nowrap;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0px 0px 21px 0px;
}

@media (max-width:1000px){
 .wrapper{
   max-width: none;
 }
 .footer-nav__container,
 .footer-nav__subscribe{
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
 }
 .footer-nav__logo,
 .footer-nav__links{
  display: none;
 }
 .footer-nav__subscribe{
  margin-top: 10px;
 }
 .footer-nav__container,
 .footer-nav__subscribe{
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
 }
 .footer-nav__logo,
 .footer-nav__links{
  display: none;
 }
 .footer-nav__subscribe{
  margin-top: 10px;
 }
}