.button-check{
		width: 222px;
		min-height: 20px;
	
}
			.button-check__checkbox-input{
				position: absolute;
				z-index: 1;
				opacity: 0;
				margin-left: 3px;
				}

				.button-check__checkbox-text{
						position: relative;
						cursor: pointer;
						padding-left: 30px;
						font-weight: normal;
						font-size: 14px;
						line-height: 18px;
						max-height: 36px;
						max-width: 192px;
						margin-bottom: 13px;
				}
				
				.button-check__checkbox-text:before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 20px;
						background: white;
						border: 1px solid red;
						box-sizing: border-box;
						border-radius: 4px;
				}

.button-check__checkbox-input:checked+.button-check__checkbox-text:before{
background-image: url('checkbox.svg');
background-repeat: no-repeat;
background-position: center;
}