include pug/UIKit/modules/button.pug
html(lang="en")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="test.css")
  title test
 body.test
  +button({type:'check',labels:[{text:'test',isChecked:true}]})