include ../../components/room-card/room-card.pug
include ../../components/room-price/room-price.pug
include ../../components/sign-up/sign-up.pug
include ../../components/sign-in/sign-in.pug
include ../../components/search-number/search-number.pug
include ../../components/hotel-logo/hotel-logo.pug
.cards__wrapper
  +hotel-logo
  .cards__left-column
    +search-number({action:'/mock-address/change-me',})
    +sign-up({action:'/mock-address/change-me'})
  .cards__central-column
    +roomprice({
                roomNumber:888,
                priceHeader:'9 990₽',
                roomType:'люкс',
                commentNumber:145,
                price:'9 990₽ х 4 суток',
                total:'39 960₽',
                discount:'Сбор за услуги: скидка 2 179₽',
                fee:'0₽',
                extraFee:'300₽',
                totalPrice:'38 081₽',
                action:'#'})
    +sign-in({action:'/mock-address/change-me'})
  .cards__right-column
    .js-cards__datepicker.cards__datepicker
    +roomcard({
              imgSource:require('../../assets/img/search/room1.png'),
              roomNumber:888,
              price:'9 990₽',
              rate:5,
              roomType:'люкс',
              commentNumber:145,
              withArrows:true,
              })
    +roomcard({
              imgSource:require('../../assets/img/search/room2.png'),
              roomNumber:840,
              price:'9 990₽',
              rate:4,
              commentNumber:65,
              withArrows:true,
              })
