@import './cards-left-column.scss';
@import './cards-central-column.scss';
@import './cards-right-column.scss';
.cards__wrapper{
  width: 1440px;
  padding-bottom: 140px;
  background-color: white;
  display: grid;
  grid-template-areas:
    "header header header"
    "left central right";
  grid-template-columns: 520px 420px 360px;
  grid-template-rows: 158px 1fr;
  .header{
    grid-area: header;
  }
  .cards__left-column{
    grid-area: left;
  }
  .cards__central-column{
    grid-area: central;
  }
  .cards__right-column{
    grid-area: right;
  }
}