@import '../../components/room-card/room-card.scss';
.cards__right-column{
  padding-left: 40px;
  .cards__datepicker{
    margin-bottom: 40px;
  }
  .right-column-cards__first-room{
    margin-bottom: 40px;
  }
}