@import "../../components/room-card/room-card.scss";
.cards__right-column {
  padding-left: 40px;

  .cards__datepicker {
    margin-bottom: 40px;
  }
  
  .room-card{
    margin-bottom: 40px;
  }
  
}
