mixin social-networks({ twitter = '/mock-address/change-me',facebook = '/mock-address/change-me', instagram = '/mock-address/change-me', } = {})
  address.social-networks
    ul.social-networks__list
      li
        a(class = 'social-networks__link',href = twitter , target='_blank', rel='noopener noreferrer') 
          img(src='./assets/img/social-networks/twitter.svg', alt='twitter logo')
      li
        a(href=facebook ,class = 'social-networks__link',target='_blank', rel="noopener noreferrer")  
          img(src='./assets/img/social-networks/facebook.svg', alt='facebook logo')
      li
        a(href=instagram ,class = 'social-networks__link',target='_blank', rel='noopener noreferrer') 
          img(src='./assets/img/social-networks/instagram.svg', alt='instagram logo')