mixin social-networks({ socialNetworks=[] } = {})
  address.social-networks
    ul.social-networks__list
      each val in socialNetworks
        li
          a(class = 'social-networks__link',href = val.ref , target='_blank', rel='noopener noreferrer') 
            img(src=val.imagePath, alt=`${val.name} logo`)