include ../../burger/burger.pug
include ../../logo/logo-toxin.pug
.header-nav
  .header-nav__wrapper
    .header-nav__logo
      +logo()
    +burger
    nav.header-nav__nav.js-header-nav
      a(class = 'header-nav__nav-link' href='/mock-address/change-me' ) О нас
      a(href='/mock-address/change-me' class = 'header-nav__nav-link') Услуги
      .header-nav__expand-more='keyboard_arrow_down'
      a(href='/mock-address/change-me' class = 'header-nav__nav-link') Вакансии
      a(href='/mock-address/change-me' class = 'header-nav__nav-link') Новости
      a(href='/mock-address/change-me' class = 'header-nav__nav-link') Соглашения
      .header-nav__expand-more='keyboard_arrow_down'
      .header-nav__delimeter
      a(href='/mock-address/change-me' class = 'header-nav__nav-link_logged-in') Юлий Цезарь
