@import '@/styles/common/constants.scss';
@import '@/styles/common/pages.scss';
@import '@/components/diagram/diagram.scss';

.main {

  &__content {
    flex: 1 0 auto;
  }

  &-header {
    margin: 0 auto;
  }

  & .room-images {
    min-height: 485px;
    width: 100%;
    display: grid;
    grid-template-areas:'left top'
                        'left bottom';
    grid-template-columns: 68.125% 31.875%;
    grid-template-rows: 1fr 1fr;

    &__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &__left{
      grid-area: left;
    }

    &__top{
      grid-area: top;
    }

    &__bottom{
      grid-area: bottom;
    }

  }

  &__body {
    margin: 72px auto 70px auto;
    max-width: $container-width-site - 300px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__body-right {
    max-width: 380px;
    width: 100%;
  }

  .left-column {
    display: flex;
    flex-direction: column;

    &__comments-number{
      margin-top: 5px;
      font-family: inherit;
      font-size: 1.16rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.16rem;
      letter-spacing: 0em;
      text-align: right;
      color: $darkShade50;
    }

    &__room-impressions{
      display: flex;
      flex-direction: row;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__header {
      margin-bottom: 20px;
    }

    &__header_first {
      margin-left: 20px;
    }

    &__impressions {
      margin-right: 40px;
    }

    &__impressions h2 {
      margin-bottom: 20px;
    }

    &__content {
      margin-right: 80px;
    }

    &__content .bullet-list-icons {
      margin-bottom: 20px;
    }

    &__content .bullet-list-icons:last-child {
      margin-bottom: 12px;
      border: none;
    }

    &__comments-header {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__rules {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .main-comment_first {
      margin-bottom: 20px;
    }
    
    .main-comment_second {
      margin-bottom: 5px;
    }

  }

  .rules{

    &__text-wrapper {
      display: flex;
      flex-direction: column;
    }

    &__text-wrapper:last-child {
      margin-right: 10px;
    }

    &__text-wrapper p {
      font-family: inherit;
      font-style: normal;
      font-weight: normal;
      font-size: 1.16rem;
      line-height: 2rem;
      color: $darkShade75;
      max-width: 341px;
    }
  }

}

@media (max-width: 1200px) {

  .main{
    &__content {
      height: auto;
      padding: 0px;
    }

    & .room-images {
      grid-template-columns: 1fr;
    }

    &__room-images .room-images__top,
    &__room-images .room-images__bottom {
      display: none;
    }

    &__body {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 0;
    }

    &__body-left {
      padding: 0 10px ;
    }

    &__body-left .left-column {
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      align-items: center;
    }

    & .left-column__room-impressions{
      flex-direction: column;
    }

    &__body-right {
      margin-bottom: 10px;
    }

    & .left-column__rules {
      flex-direction: column;
    }

    & .left-column__content {
      margin-right: 0;
      align-items: baseline;
      flex-direction: column;
    }

    & .left-column__comments-header {
      flex-direction: column;
      align-items: center;
    }

    & .left-column__impressions {
      margin-right: 0;
    }

  }

  .left-column__header {
    margin-top: 10px;
  }

  .left-column__comments {
    margin-top: 15px;
  }

  .left-column__rules {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  .rules__text-wrapper h3 {
    text-align: center;
  }

}
