include modules/roomcard.pug
include headerUiKit.pug
.cards__wrapper
 +header
 .cards__left-column
 .cards__central-column
 .cards__right-column
  +roomcard({imgSource:'../src/assets/img/png/room1.png',roomNumber:888,price:'9 990₽',rate:4,roomType:'люкс',commentNumber:145})
