include modules/roomcard.pug
include headerUiKit.pug
.cards__wrapper
 +header
 .left-column
 .central-column
 .right-column
  +roomcard({imgSource:'../src/assets/img/png/room1.png',roomNumber:'№ 840',price:'9 900₽',rate:4,roomType:'люкс',commentNumber:145})
