include modules/roomcard.pug
include modules/signup.pug
include modules/signin.pug
include modules/searchnumber.pug
include headerUiKit.pug
.cards__wrapper
 +header
 .cards__left-column
  +searchnumber
  +signup
 .cards__central-column
  +signin
 .cards__right-column
  div(class='cards__right-column_datepicker')
  +roomcard({imgSource:'../src/assets/img/png/room1.png',roomNumber:888,price:'9 990₽',rate:5,roomType:'люкс',commentNumber:145})
  +roomcard({imgSource:'../src/assets/img/png/room2.png',roomNumber:840,price:'9 990₽',rate:4,commentNumber:65})
