include modules/dropdown.pug
include modules/textField.pug
include modules/rangeSlider.pug
include modules/button.pug
include modules/toggle.pug
+dropdown({label:"Dropdown",placeholder:"Сколько гостей",typeDropdown:'guests',isExpanded:false})
+dropdown({label:"Dropdown",placeholder:"2 спальни,2 кровати...",typeDropdown:'room'})
+textField({isMasked:true,placeholder:'ДД.ММ.ГГГГ',label:'Masked Text Field'})
+textField({isDefault:true,placeholder:'Email',label:'Text Field'})
+textField({isFocused:true,placeholder:'This is pretty awesome',label:'Text Field'})
+textField({isSubscription:true,placeholder:'Email',label:'Subscription Text Field'})
+rangeSlider({label:'RANGE SLIDER'})
+button({label:'CLICK ME',type:'dark'})
+button({label:'CLICK ME',type:'dark50'})
+button({label:'CLICK ME',type:'white'})
+button({label:'CLICK ME',type:'white50'})
+button({label:'CLICK ME',type:'transparent'})
+button({label:'CLICK ME',type:'transparent50'})
+button({label:'ПЕРЕЙТИ К ОПЛАТЕ',type:'arrow'})
+button({type:'rate',darkStar:4})
+toggle({label:'TOGGLE',
className:'toggle',labels:[{name:'Получать спецпредложения',  isPositive:true},{name:'Получать спецпредложения',  isPositive:false}]})