include modules/dropdown.pug
include modules/textField.pug
include modules/rangeSlider.pug
include modules/button.pug
include modules/toggle.pug
include modules/list.pug
h2(class='dropdown-label')="Dropdown"
+dropdown({placeholder:"Сколько гостей",typeDropdown:'guests',isExpanded:false})
h2(class='dropdown-label')="Dropdown"
+dropdown({placeholder:"2 спальни,2 кровати...",typeDropdown:'room'})
+textField({isMasked:true,placeholder:'ДД.ММ.ГГГГ'})
+textField({isDefault:true,placeholder:'Email'})
+textField({isFocused:true,placeholder:'This is pretty awesome'})
+textField({isSubscription:true,placeholder:'Email'})
+rangeSlider({label:'RANGE SLIDER'})
+button({label:'CLICK ME',type:'dark'})
+button({label:'CLICK ME',type:'dark50'})
+button({label:'CLICK ME',type:'white'})
+button({label:'CLICK ME',type:'white50'})
+button({label:'CLICK ME',type:'transparent'})
+button({label:'CLICK ME',type:'transparent50'})
+button({label:'ПЕРЕЙТИ К ОПЛАТЕ',type:'arrow'})
+button({type:'rate',darkStar:4})
+button({type:'rate',darkStar:1})
+button({type:'like',likeNumber:2})
+button({type:'like',likeNumber:12,isLiked:true})
+button({type:'check',text:'Можно курить'})
+button({type:'check',text:'Можно курить',isChecked:true})
+button({type:'radio',label:'Мужчина'})
+button({type:'rich',header:'Широкий коридор',label:'Ширина коридоров в номере не менее 91 см.'})
+toggle({label:'TOGGLE',
className:'toggle',
labels:[{name:'Получать спецпредложения',  isPositive:true},{name:'Получать спецпредложения',  isPositive:false}]})
+list({labels:['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00, а выезд до 12:00']})
+list({type:'expandable',label:'expandable checkbox list',
labels:['Завтрак','Письменный стол','Стул для кормления','Кроватка','Телевизор','Шампунь']})