mixin button-check(options)
  div(class='button button-check')
          each val in options.labels ? options.labels : ['There are no values']
            if val.isChecked
              label.button-check__elem
                input(class='button-check__checkbox-input' type='checkbox' checked)
                span(class='button-check__checkbox-text')=val.text
            else
              label.button-check__elem
                input(class='button-check__checkbox-input' type='checkbox')
                span(class='button-check__checkbox-text')=val.text