.button-radio {
  height: 24px;
  width: 100%;
  font-family: $font-family-main, $fallback-font;

  &__input {
    display: none;
  }

  &__label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $darkShade50;
    height: 18px;
  }

  &__label:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: $white;
    border: 1px solid $darkShade25;
    box-sizing: border-box;
    border-radius: 10px;
  }

  &__label:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $buttonColor;
    opacity: 0;
  }

  &__input:checked + .button-radio__label:after {
    opacity: 1;
  }

  &__input:checked + .button-radio__label {
    color: $darkShade75;
  }

  &__input:checked + .button-radio__label:before {
    background: $white;
    border: 1px solid $purple;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
}
