include ../footer-copyright-bar/footer-copyright-bar.pug
include ../footer-creative/footer-creative.pug
include ../footer-widget/footer-widget.pug
mixin footer( { type = 'widget', copyrightText='Copyright © 2018 Toxin отель. Все права зачищены.'} = {} )
  if type==='widget'
    +footer-widget({ 
    logoText:'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды».',
    links : [
      {isVertical:true,
        links:[
          { text: 'навигация' ,isActive: true,href:'/mock-address/change-me' },
          { text: 'О нас',href:'/mock-address/change-me' }, 
          { text: 'Новости', href:'/mock-address/change-me' }, 
          { text: 'Служба поддержки',href:'/mock-address/change-me' }, 
          { text: 'Услуги',href:'/mock-address/change-me' },
              ],
          },
      {isVertical:true,
        links:[
          { text: 'О нас' ,isActive: true,href:'/mock-address/change-me'},
          { text: 'О сервисе', href:'/mock-address/change-me'},
          { text: 'Наша команда',href:'/mock-address/change-me'},
          { text: 'Вакансии',href:'/mock-address/change-me'},
          { text: 'Инвесторы',href:'/mock-address/change-me' },
              ]
      },
      {isVertical:true,
        links:[
          {text: 'Служба поддержки',isActive: true,href:"/mock-address/change-me"},
          { text: 'Соглашения',href:"/mock-address/change-me"},
          { text:'Сообщества',href:"/mock-address/change-me"},
          {text:'Связь с нами',href:"/mock-address/change-me"},
              ],
      }
      ] })
  else if type==='creative'
    +footer-creative({copyrightText:copyrightText})
  else if type==='copyright'
    +footer-copyright({copyrightText:copyrightText})   