include ../text-field/text-field.pug
.footer-nav__container
  .footer-nav__wrapper
    .footer-nav__logo
      img(src="../src/assets/img/svg/footer-toxin.svg", alt="")
      p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды».
    nav(class="footer-nav__links")
      ul(class="footer-nav__links_navigation") 
        li
          a(href='/mock-address/change-me' ) навигация
        li
          a(href='/mock-address/change-me' ) О нас
        li
          a(href='/mock-address/change-me' ) Новости
        li
          a(href='/mock-address/change-me' ) Служба поддержки
        li
          a(href='/mock-address/change-me' ) Услуги
      ul(class="footer-nav__links_about-us")
        li
          a(href='/mock-address/change-me' ) о нас
        li
          a(href='/mock-address/change-me' ) О сервисе
        li
          a(href='/mock-address/change-me' ) Наша команда
        li
          a(href='/mock-address/change-me' ) Вакансии
        li
          a(href='/mock-address/change-me' ) Инвесторы
      ul(class="footer-nav__links_support")
        li
          a(href='/mock-address/change-me' ) служба поддержки
        li
          a(href='/mock-address/change-me' ) Соглашения
        li
          a(href='/mock-address/change-me' ) Сообщества
        li
          a(href='/mock-address/change-me' ) Связь с нами
    .footer-nav__subscribe
      .footer-nav__subscribe-textContainer
        p.subscribe Подписка
        p Получайте специальные <br> предложения и новости сервиса
      .footer-nav__subscribe-form
        +textfield({isSubscription:true,placeholder:'Email',type:"email"})
