include ../footer-copyright-bar/footer-copyright-bar.pug
include ../footer-creative/footer-creative.pug
include ../footer-widget/footer-widget.pug
mixin footer( { type = 'widget', copyrightText='Copyright © 2018 Toxin отель. Все права зачищены.'} = {} )
 if type==='widget'
  +footer-widget()
 else if type==='creative'
  +footer-creative({copyrightText:copyrightText})
 else if type==='copyright'
  +footer-copyright({copyrightText:copyrightText})   