.headers-and-footers__login
 include ../modules/headers/standard-nav-bar.pug
.headers-and-footers__header-nav
 include ../modules/headers/standard-logged-in-nav-bar.pug
.headers-and-footers__footer-nav
 include ../modules/footers/footer-widget.pug
.headers-and-footers__footer-copy
 include ../modules/footers/footer-copyright-bar.pug
.headers-and-footers__footer-logo
 include ../modules/footers/footer-creative.pug

