include ../modules/headers/header.pug
include ../modules/footers/footer.pug
.headers-and-footers__login
 +header({ type:'nav',links:[
      { text: 'О нас' ,isActive: true },
      { text: 'Услуги', isExpandable: true },
      { text: 'Вакансии'  },
      { text: 'Новости' },
      { text: 'Соглашения', isExpandable: true },]})
.headers-and-footers__header-nav
 +header({ type:'login',links:[
      { text: 'О нас' ,isActive: true },
      { text: 'Услуги', isExpandable: true },
      { text: 'Вакансии'  },
      { text: 'Новости' },
      { text: 'Соглашения', isExpandable: true },]})
.headers-and-footers__footer-nav
 +footer({type:'widget'})
.headers-and-footers__footer-copy
 +footer({type:'copyright'})
.headers-and-footers__footer-logo
 +footer({type:'creative'})

