.sign-in{
 max-width: 380px;
 width: 100%;
 border: 1px solid rgba(0, 0, 0, 0.12);
 box-shadow: 0px 0px 25px $boxShadow;
 border-radius: 4px;
 &__wrapper{
  width: 320px;
  height: 358px;
  background: $white;
  font-style: normal;
  margin: 0px auto;
  padding-top: 40px;
 }
 &__header{
  font-family: $font-family-main,$fallback-font;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $darkShade100;
  margin-bottom: 20px;
 }
 &__text-wrapper{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98px;
 }
 &__footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
 }
 &__account{
  font-family: $font-family-main,$fallback-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
 }
}



