@import '../../../styles/common/constants.scss';

.reg{
  &-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    margin: 0px auto; 
  }
  .reg__content{
    flex: 1 0 auto;
  }
  .reg footer{
    flex: 0 0 auto;
  }
  &__img-wrapper{
    min-height: 685px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/img/jpg/registration.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  &__img-wrapper .sign-up{
    margin: 19px auto;
  }
  @media (max-width:$container-mobile-width){
  &-wrapper{
    max-width: none;
    max-height: none;
  }
  }
}

