include ../../ui-kit/modules/sign-up/sign-up.pug
html(lang="en")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="отель страница регистрации")
  include ../../favicon/favicon.pug
  title Registration page
 body.reg-wrapper.reg
  header.reg__header
   include ../../ui-kit/modules/headers/standard-nav-bar.pug
  div.reg__img-wrapper
   +signup({action:'#'})
  footer.reg__footer
   include ../../ui-kit/modules/footers/footer-widget.pug
   include ../../ui-kit/modules/footers/footer-copyright-bar.pug
  

 