@import '../../../styles/common/constants.scss';
.reg-wrapper{
  max-width: $container-width;
  max-height: 1197px;
  margin: 0px auto; 
}
.reg__img-wrapper{
  height: 685px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $container-width;
  background-image: url('../../../assets/img/jpg/registration.jpg');
  background-size: cover;
}
@media (max-width:$container-mobile-width){
  .reg-wrapper{
    max-width: none;
    max-height: none;
  }
}