extends ../../ui-kit/modules/template.pug

block variables
  - var pageTitle = 'Registration page'

block content

  include ../../ui-kit/modules/sign-up/sign-up.pug

  body.reg-wrapper.reg
    div.reg__img-wrapper
      +signup({action:'#'})