.diagram{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-height: 120px;
  &__chart{
    width: 120px;
    height: 120px;
    margin-right: 45px;
  }
  .donut-chart__unit{
    fill: none;
    stroke-width: 4;
  }
  .donut-chart__unit:nth-child(1) {
    stroke:  #FFE39C;
  }
  .donut-chart__unit:nth-child(2) {
    stroke: #6FCF97;
    // stroke-dasharray: 91 1000;
    // stroke-dashoffset: -273;
  }
  .donut-chart__unit:nth-child(3) {
    stroke: #BC9CFF;
    //stroke-dasharray: 91 1000;
  }
  .donut-chart__unit:nth-child(4) {
    stroke: #919191;
    // stroke-dasharray: 60 364;
    // stroke-dashoffset: -302;
  }
  &__description{
    position: relative;
    width: 146px;
    height: 96px;
    margin-bottom: -3px;
  }
  &__description-item{
    list-style-type: none;
    position: relative;
    font-family: $font-family-main,$fallback-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $darkShade75;
  }
  &__description-item::before{
    position: absolute;
    width: 10px;
    height: 10px;
    content: '';
    top: 10px;
    left: -15px;
    border-radius: 50%;
  }
  &__description-item_orange::before{
    background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
  }
  &__description-item_green::before{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
  &__description-item_blue::before{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
  &__description-item_black::before{
    background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
  }
}
.diagramchart__chart-text {
    font-family: $font-family-additionalRussianReplacer,$fallback-font;
    fill: $purple;
    transform: translateY(5px) translateX(-30px);
  }
  .diagramchart__chart-number {
    font-family: $font-family-additional,$fallback-font;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $purple;
    transform: translateY(-5px) translateX(12px);
  }
  .diagramchart__chart-label {
    font-family: $font-family-main,$fallback-font;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: $purple;
    transform: translateY(14px);
  }
